[2020-08-06 06:19] IsmaelMartinez commented on #375
Sounds like a good feature. Feel free to start a PR and let's see if the
community can get this throw. I can't dedicate time to this due work and
life, but happy to support and/or provide guidance.

On Wed, 5 Aug 2020, 22:45 Dr. András Korn, <notifications@github.com> wrote:

[2020-08-06 08:52] akorn commented on #375
Maybe it's due to my relative infamiliarity with git/github, but I'm not sure I understand what you mean. Fork the project, create a file in it saying, essentially, "dear community, your code to write plaintext chatlogs goes HERE", file a PR and hope someone actually implements it? Is this what you have in mind? :) (Isn't that essentially equivalent to my filing this wishlist request as an issue?)

[2020-08-06 11:05] IsmaelMartinez commented on #375
I was more meaning writing the code, but only if you know how to write it.

You can edit this feature request with more details as it gets clearer. I
will check if someone picks this up... But don't hold your breath as
nowadays not many people contribute.

On Thu, 6 Aug 2020, 09:52 Dr. András Korn, <notifications@github.com> wrote:

[2020-08-06 12:59] akorn commented on #375
I'm not holding my breath. :) I just wanted a record of this wishlist item, hoping that someone who actually knows how to implement it has the same itch.

[2020-08-09 02:45] lolrepeatlol opened #376 "Google Drive Integration Doesn't Work"
**Describe the bug**
When I go to the Files section and select Connect to Google Drive, it'll open up a new tab in Firefox for accounts.google.com to authorize, then it closes really quickly. Afterwards, the integration just loads forever and doesn't do anything. Trying to tell it to disconnect and reconnect again just opens up a Firefox tab super quickly, and then closes it soon after. I assume t

[2020-08-10 11:00] IsmaelMartinez commented on #376
HI,

Can you try doing a Ctrl+click instead of just click when clicking in the "google drive" option?

Thanks

[2020-08-10 22:04] lolrepeatlol commented on #376
Thanks for the tip. Unfortunately, the same thing happens. I even tried logging out of Google Drive in Teams and ctrl clicking the connect button but that didn't work either.

[2020-08-21 08:21] akaihola opened #378 "Grid/tile view missing"
**Is your feature request related to a problem? Please describe.**
Microsoft added up to 7x7 grid view of video call participants to their Teams client in May 2020. See [Grid View in Microsoft Teams](https://answers.microsoft.com/en-us/education_ms/forum/all/grid-view-in-microsoft-teams/22111e01-57d6-485b-907c-8bf543fe74dc) on answers.microsoft.com.

Is this something that should show up in the `t

[2020-08-21 10:31] elhennig opened #379 "Usage question: Problem with joining meetings from the calendar (no enhancement request or bug report ;-))"
I do encounter a problem with joining meetings from the calendar within the teams client. Does anyone else here encounter such problems? In those cases the client jumps directly to the "Teams" tab.
Opening the appointment in the browser gives me a chance to submit a chat message and from the chat in the client I can then join the meeting.

[2020-08-24 09:18] IsmaelMartinez commented on #379
Hi,

Can you confirm the following details?

----

Bug description

I can not join meetings using the calendar within the teams client

To Reproduce Steps:

*Go to* The teams calendar
*Click on* a meeting that you with to join
*Then* client switches to the team channel not the meeting request itself.

Expected behavior:

The client switches to the meeting.

-- a gif or set of screenshots could hel

[2020-08-24 09:30] elhennig commented on #379
Actually I am still not 100% sure, it is a bug and as it only occurs sporadically it is quite difficult to reproduce. As I wrote, my goal is, to find out, if this is an error/bug within the client or not.
Do you have any hint or tip what I can do to debug the session in order to get more information, why some meetings do not connect while others work fine?

[2020-08-24 09:32] IsmaelMartinez commented on #379
Did you run my tests?

[2020-08-24 09:39] elhennig commented on #379
Usually I do not use channels in my Teams for meetings. I use Outlook/Exchange to schedule meetings. Anyway I will try...

[2020-08-24 09:44] elhennig commented on #379
Both of my meetings one within a channel, one scheduled from Outlook. With both the join dialogue pops up and I can then join the meeting, the client does not switch to the "Teams" tab.

[2020-08-24 09:49] IsmaelMartinez commented on #379
then is probably them not ticking the "teams meeting" in outlook. Normally then you don't even get the "Join" button in the meetings.
![image](https://user-images.githubusercontent.com/430992/91030642-63119180-e5f7-11ea-8eaf-d2e6d2310f2d.png)

[2020-08-24 10:34] elhennig commented on #379
The join button is there, and the meeting description shows the connect link. Clicking on it returns immediately without actually joining. Sometimes I can the submit a chat message to the meeting chat and then login from the chat tab. My impression is that our IT guys messed something up, but their usual answer is, that this is caused by running Linux, so they don't have to look for the real reaso

[2020-08-26 08:38] erenoglu opened #381 "Can't Share Some Windows and Dual Monitor problem"
1) When in Teams meetings, I can't share application windows from "WPS Office for Linux" office suite.  It is not presented in the window list. I'm not sure why. Those windows are invisible to Teams-For-Linux. (similar when I'm using Google Chrome in Teams Web)
2) Also when I try to share my whole screen, the share window covers both monitors,  I can't choose monitor by monitor. So I can't share t

[2020-08-26 23:56] lolrepeatlol commented on #376
I switched to Windows (since Teams is so much better on it, unfortunately). I appreciate any help though. Closing

[2020-08-26 23:56] #376 closed

[2020-08-27 11:45] IsmaelMartinez commented on #376
sad times. I had to switch to mac not because of teams, but sophos antivirus... so makes it much more difficult to support this when I am not even using it :(

[2020-08-27 11:58] IsmaelMartinez commented on #381
Hi,

1.- First time I hear about that. If you have the same problem with the Chrome in Teams Web, then we probably can't do much to sort it.
2.- This one is a know annoyance of electron/chrome. I think if we upgrade to the latest version there will be a way to sort it (easier said than done). In electron, the windows selection picker is not implemented, so you have to implement it yourself and sel

[2020-08-28 04:14] lolrepeatlol commented on #376
the year of the linux desktop needs to happen faster :(

[2020-08-28 08:59] erenoglu commented on #381
1. Probably, I may file a bug report to the SW vendor, I dont know why those windows dont show up.
2. OK, noted. Hope you'll have time for it.
thanks a lot.

[2020-08-28 13:02] jianpan commented on #281
Microsoft's official client's screen sharing is extremely slow on Elementary OS 5.1. This webapp version client works so much better.

[2020-08-28 18:27] AngelQC commented on #281
I love this version, please keep it up!

Question: Will we be able to pop-out chat windows anytime soon?  I'd like that! :)

[2020-09-02 19:07] maigke opened #382 "Cant start the app"
**Describe the bug**
hi, the problem is i can't loggin in Teams, an invitation to download the appears.

**To Reproduce**
i used the stable an edge version the problem start today
open a terminal
$teams-for-linux

**Expected behavior**
I

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imagen](https://user-images.githubusercontent.com/12049771/92025729-9524a100-ed25-

[2020-09-02 21:13] IsmaelMartinez commented on #382
Hi, just click "utilize la aplicacion web en su lugar" and that should do
the trick.

You should not see that screen again. Ms keeps changing the button ID so
it's a bit of an annoying issue.

On Wed, 2 Sep 2020, 20:07 maigke, <notifications@github.com> wrote:

[2020-09-03 13:50] culebrasolida commented on #382
Hi, I'm using the AUR package and I'm having the exact same issue, once I click on "utilize la aplicacion web en su lugar" it redirects me to a web browser and asks me to log in, but then it won't let me get into my meeting.

[2020-09-03 16:03] IsmaelMartinez commented on #382
sorry @culebrasolida , that sounds like a different issue.

if you want to open a meeting in the app you need to have the handlers associated. I am not sure how that works on AUR package but you can put the meeting url as an argument in the client and it might do the trick.

again, a different issue. Dig the close issues as there are tons as this ones.

[2020-09-04 08:38] Georges1991 opened #383 "Screen Sharing and Camera don't work together"
When I share the screen, the video-camera automatically gets disabled and I can't get it on again.
I'm required to have the camera on while I share the screen during an exam.
Is there a workaround to solve this problem?
Thanks a lot.

Ubuntu 18.04.4 LTS

[2020-09-04 08:49] IsmaelMartinez commented on #383
This is a MS limitation. Please raise this with MS in their teams user voice at https://microsoftteams.uservoice.com/

[2020-09-04 08:49] #383 closed

[2020-09-04 08:50] IsmaelMartinez commented on #381
sorry, there is no plan to update the version of electron. People are welcome to submit PRs but I will close this as there haven't been many contributions lately.

[2020-09-04 08:50] #381 closed

[2020-09-04 08:50] #379 closed

[2020-09-04 08:51] IsmaelMartinez commented on #379
I think it will be better to go to the https://microsoftteams.uservoice.com/ and explain the issue but just referring this client as the web browser (as it works the same way as the browser version on their books). There is a bit of oddity on those calendars stuff

[2020-09-04 09:05] Georges1991 commented on #383
They don't respond, as usual. So there isn't a known solution to this problem?

[2020-09-04 09:54] IsmaelMartinez commented on #383
no sorry, that is how it works in the browser. check their client. it might be different but I think it does the same

[2020-09-07 20:03] celvin opened #384 "When embedding an azure website through tabs in teams it doesn't show up"
**Describe the bug**
When embedding an azure website through tabs in teams it doesn't show up

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a team
2. Click on "Add a Tab"
3. Chose "Website"
4. Paste an azure scrum board link or any link that redirects

**Expected behavior**
When you open that tab you will see "If your site isn't loading correctly, click here" and the website is never

[2020-09-09 15:32] beebus commented on #281
Wow, what a thread!
This might be an updated link if you are looking for the MS version of Teams
[https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/download-app](https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/download-app)
I haven't tried either of these Linux versions out yet, but Friday I'll have a report on your desk.
![Screenshot from 2020-09-09 10-32-07](https://use

[2020-09-09 17:05] AngelQC commented on #281
Also, my organization disabled the use of the linux version (go figure...) so I'd really like for this version to stay!

[2020-09-10 17:03] maitra commented on #281
There were several important features that do not work on the official MS Teams linux client. Notably screen-sharing of individual windows. Did this  change? Also the Microsoft client was a good 100MB+ or so bigger than this one (after installation). Perhaps there are additional MS Teams features that are in the official app. But I really like this one, and appreciate the source code that can make

[2020-09-25 09:26] vslinuxdotnet opened #385 "Spell checking only in English"
Hello,
when writing messages, the spell checking only suggests English words.
Is possible to change that ?
Thank you

[2020-09-25 09:41] vslinuxdotnet commented on #385
Get Working doing this:
1- install hunspell and lang dictionary
2- Then specifying command line to run it
 ex: LANG=pt_PT.UTF-8 LANGUAGE=pt_PT teams-for-linux

[2020-10-01 11:34] #385 closed

[2020-10-01 11:36] IsmaelMartinez commented on #385
https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/KNOWN_ISSUES.md#spellchecker-not-working explains that process. Feel free to create a wee PR to expand that documentation if you got time. PRs are more than welcomed :)

[2020-10-14 07:30] elkh510 commented on #344
hi @IsmaelMartinez
any updates ?
thanks!

[2020-10-14 07:47] IsmaelMartinez commented on #344
Workaround is documented in my previous comment. Not the nicest but this client is no longer under development. Feel free to submit a PR if you find a way to sort this out. Thanks!

[2020-10-15 10:09] pini-edf commented on #111
@IsmaelMartinez Hi, our IT service has just disabled NTLMv1 authentication a few days ago and we're stuck with this very same problem. Any way to re-open the ticket?

[2020-10-19 14:36] jpiedra87 opened #391 "Audio not working"
Dear Ismael,

thanks for your snap solution for Microsoft Teams.
I have tried it with my raspi 4b and got my usb camera running right away.
But I have problems with the audio.
I am using a Plantronics usb headset which actually works with my raspi.

After teams-for-linux is started I get a some error messages in the command-line:

ALSA lib conf.c:3916:{snd_config_update_r) Cannot access file /usr/

[2020-10-19 15:26] IsmaelMartinez commented on #391
Hi @jpiedra87 ,

Can you try https://github.com/IsmaelMartinez/teams-for-linux/issues/117#issuecomment-487840040 and provide what version of snap are you using?

Try otherwise the build version in the releases folder. It might work better.

Hope helps

[2020-10-21 12:05] jpiedra87 commented on #391
Hi Ismael,

thanks for your quick reply! The package for pulseaudio actually solved the issue.
Works just fine!

BR, Joh

[2020-10-21 12:05] #391 closed

[2020-10-28 14:13] hadess opened #392 "Obsolete "teams-for-linux" Flatpak for official client?"
It would be useful to find a way to automatically migrate folks from the unofficial, and now obsolete, client to the official one (even if unofficially packaged). Not certain whether Flathub/Flatpak has a mechanism for that.

[2020-10-28 14:24] hadess commented on #392
There's a few examples using the `eol-rebase` `flathub.json` key:
https://github.com/search?q=org%3Aflathub+eol-rebase&type=commits

[2020-10-28 14:40] IsmaelMartinez commented on #392
I don't maintain the flatpak version so I suggest you report this into
their repo. I personally will prefer not to automatically migrate as not
everyone will want to automatically move. It's not two products from the
same company and one is open source while the other is close source.

On Wed, 28 Oct 2020, 14:24 hadess, <notifications@github.com> wrote:

[2020-10-28 14:41] IsmaelMartinez commented on #392
By the way, the project still alive, open for PRs etc but I can dedicate my
time to add improvements. Just to manage them.

On Wed, 28 Oct 2020, 14:40 Ismael Martinez Ramos, <ismaelmartinez@gmail.com>
wrote:

[2020-10-28 16:05] hadess commented on #392
Moved to https://github.com/flathub/com.github.IsmaelMartinez.teams_for_linux/issues/14

Thanks.

[2020-10-28 16:05] #392 closed

[2020-11-04 11:19] shayll-herolo commented on #322
If anyone still has issues with this, I fount this comment which fixes my issue on Manjaro 20
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-is-now-available-on-linux/bc-p/1064014/highlight/true#M4458

[2020-11-10 21:06] zrhoffman commented on #281
Microsoft's client does not support live events, and Microsoft doesn't have a repo to report issues like they do for other proprietary projects (example: [microsoft/WSL](/microsoft/WSL)). @IsmaelMartinez's client continues to be very relevant.

[2020-11-19 16:28] FoamyGuy opened #394 "Cannot switch to a different org view"
**Describe the bug**
My Teams account is a member of my main organization. But I have recently been added as a guest to a different organization.

There is a drop down in the top right near my profile icon that I can click to get a list of all my orgs (just 2 atm) and it seems like I should be able to click on the other org (that I am a guest in) to change my view over that org and be able to see

[2020-11-21 11:40] IsmaelMartinez commented on #394
Hi, can you try doing the click with the "ctrl" button been also been
press? Hope that helps.

On Thu, 19 Nov 2020, 16:28 foamyguy, <notifications@github.com> wrote:

[2020-11-21 12:46] FoamyGuy commented on #394
Does not seem to make any difference. With ctrl button pressed down it will sill open up a tab in the browser instead of local app.

Thank you for making this and trying to help out though. I really appreciate it.

[2020-11-22 01:08] JR1994 opened #395 "Remote control"
I would like to see the remote control feature enabled on the Linux client. I collaborate with team members that run the Windows version. When we do a screen share there are time when we use the remote control feature to troubleshoot issues. My office PC is running windows, but at home I am running Manjaro. I would like that feature there as well if possible.

[2020-11-22 12:03] grealish commented on #395
This isn't possible yet, even in the native Linux, OSX builds, and the web-client. Until it's possible on the web-based client then, it can be possible here to implement

src: https://support.microsoft.com/en-us/office/share-content-in-a-meeting-in-teams-fcc2bf59-aecd-4481-8f99-ce55dd836ce8#ID0EABAAA=Desktop

Please post a requested on User Voice, Search first for a request very similar and link b

[2020-11-23 09:32] AndKe opened #396 "Please update - this snap is hopelessly outdated."
Of course, Micro$oft will only give minimum functionality to Linux users, removing video backgrounds etc.
The Evil must go on..
but they have removed a ton of bugs and released new versions since this one..

[2020-11-23 16:43] IsmaelMartinez commented on #395
Closing. As @grealish, this request is probably best handle on the MS  uservoice

[2020-11-23 16:43] #395 closed

[2020-11-23 16:45] IsmaelMartinez commented on #396
There isn't much to update, to be honest, this version should get whatever the web version gets.

I am open for PRs so if there is any extra functionality, feel free to fire a PR. Happy to help with the process.

Closing the ticket.

[2020-11-23 16:45] #396 closed

[2020-11-23 16:51] IsmaelMartinez commented on #394
I am surprise that part doesn't work but the user details work (as they seem to work the same way).

I suspect is something related to this lines:

https://github.com/IsmaelMartinez/teams-for-linux/blob/7649cacecf38147cc295bace3e8b1f39b0eb0864/app/mainAppWindow/index.js#L123

Unfortunately I can't test anything as I got a different OS now at work. But I will encourage you to play around that area.

[2020-12-03 23:41] whitpa opened #397 "Electron 5.0.x?"
Hi Ismael,

We at ThinLinX Pty Ltd (an embedded Linux thin client startup specialising in Raspberry Pi) are very appreciative of the work you've done, which remains the only practical way to get MS Teams working on most of our platforms (which include i386 and armhf).

We have an - admittedly obscure - problem with 1.0.5 in that it pulls in a binary build of electron 4.2.8 that will not work with

[2020-12-08 09:30] IsmaelMartinez commented on #397
Hi Paul,

Unfortunately there are quite a few issues on moving up the electron version. I tried a couple of times but I never manage to get the desktop sharing working.

https://github.com/IsmaelMartinez/teams-for-linux/issues/156

There is a branch (a wee bit behind of master but nothing too serious) where I did the trial. If you don't need screensharing (and I think the right click menu is also

[2020-12-08 17:27] FlorentBrianFoxcorner opened #398 "question: "Important, Spoofing" - zero-click, wormable, cross-platform remote code execution in Microsoft Teams?"
Hi all,

please check: https://github.com/oskarsve/ms-teams-rce

Does this apply to teams-for-linux?

TIA! Florian

[2020-12-08 20:36] IsmaelMartinez commented on #398
Hi,

The XSS might apply. I don't think the rest will do anything as we don't have an `electronSafeIpc`

So, in principle you could use the app (or just a browser) to get the SSO token, but you should not be able to execute code that way. There might be other ways, I am not a security expert, but we don't have much "electron" code running on the back of it.

I suspect MS will be providing a fix fo

[2020-12-08 20:42] IsmaelMartinez commented on #384
Apologies I forgot about this. I thought I had replied.

I had the same issue in the official client so it is not relevant to this client but to MS (I believe). I think it might be related to authentication. If you paste a public website will work fine, but if you need authentication it just gets confused and mess up.

I will see if you get the same situation in a browser and, if so, report it in

[2020-12-08 20:43] #382 closed

[2020-12-08 22:11] whitpa commented on #397
Thanks Ismael, I'll give that branch a try.  It's aimed at Electron 6 rather than 5, but I just checked the Electron 6 armv7l binaries, and they seem to have the lower glibc level too - it seems only Electron 4.x had that problem.

The alternative would be to recompile Electron 4.2.8 myself as per instructions at https://github.com/electron/electron/blob/master/docs/development/build-instructions-

[2020-12-09 02:51] celvin commented on #384
Thanks for your reply, and nope in the official client works well, that is
happening only in teams-for-linux, I thought may be related to some policy
in electron and made a small app just to embed the ms website and it worked
well there too.

On Tue, Dec 8, 2020 at 2:43 PM IsmaelMartinez <notifications@github.com>
wrote:

[2020-12-12 19:43] C3x64 opened #401 "Hi this isn't really issue I have, I just want to say Thank you so much!"
Your version works perfectly, it detect all mic input, all speakers, everything just works, while official version screams mic is broken , doesn't have white board, and lack certain features , so please continue your work, you do better job that official team of developers in Microsoft!

[2020-12-14 12:16] geez0x1 opened #402 "Opening meeting links does not work"
**Describe the bug**
Opening meeting links does not work - Teams opens, however nothing else happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Click a meeting link.
2. See Teams open and nothing else happening.

**Expected behavior**
Teams opens and joins the call.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.10
 - Snap, v1.0.6

Great work otherwise, I ha

[2020-12-14 21:55] IsmaelMartinez commented on #402
Hi, can you try using another package? Other people have reported that previously using snap. Hope helps

[2020-12-15 08:37] FlorentBrianFoxcorner commented on #398
Hi Ismael, thank you, this is helpful.

[2020-12-15 08:37] #398 closed

[2020-12-15 12:57] IsmaelMartinez commented on #384
Strange. is this from a VPN? Maybe you need to route all your traffic via the VPN.

I have reproduce the same situation with some internal server (Jenkins pipelines).

I hope helps.

[2020-12-15 13:00] IsmaelMartinez commented on #394
actually, I think it could be related to snap. Can you try using a deb or rpm package and see if you still got the issue? I can switch from org fine in my local environment. Ta

[2020-12-15 13:45] #401 closed

[2020-12-15 13:45] IsmaelMartinez commented on #401
Thanksfor the comment. I really appreciate it.

[2020-12-16 20:35] mikejavier commented on #402
+1

Desktop (please complete the following information):

OS: Ubuntu 20.10
Snap, v1.0.6 and v1.0.5

[2020-12-17 12:01] elhennig commented on #372
I needed to revert to the snap version since the audio quality was horrible for the other attendees of meetings. This was happening with the rpm based installation but it is much better for the snap version. Anyway the app crashes again when opening the file dialogue. Any idea how to solve this in snap?

[2020-12-17 12:10] IsmaelMartinez commented on #402
@mikejavier , have you tried with another package and check the changes mention in the comment https://github.com/IsmaelMartinez/teams-for-linux/issues/173#issuecomment-521897795 ?

[2020-12-17 12:28] mikejavier commented on #402
Hi @IsmaelMartinez, yes I did it.

1 - I remove the configs
2 - update do edge version

and it still doesn't work

[2020-12-17 12:35] IsmaelMartinez commented on #372
have you tried `sudo dpkg-reconfigure apparmour` ? |

More info in:
https://github.com/IsmaelMartinez/teams-for-linux/issues/187

[2020-12-17 12:36] IsmaelMartinez commented on #402
have you tried `sudo dpkg-reconfigure apparmour` ? |

More info in:
https://github.com/IsmaelMartinez/teams-for-linux/issues/187

[2020-12-17 12:37] IsmaelMartinez commented on #394
also, use snap version 1.0.5 if possible, there were quite a few changes in that area between version 1.0.0 and 1.0.5 (or 1.0.6)

[2020-12-17 12:55] mikejavier commented on #402
Did you mean apparmor? I tried now and nothing

[2020-12-17 12:59] FoamyGuy commented on #394
It seems whatever was the issue in my case has gotten resolved. Changing team contexts is now working successfully for me. I didn't make any changes to my installation yet but it is working anyway now.

[2020-12-17 12:59] #394 closed

[2020-12-17 13:02] IsmaelMartinez commented on #402
Yep, typo there in the apparmor...

To take "snap" out the equation, can you try another package? rpm or deb.

https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.5

Thanks

[2020-12-17 13:23] elhennig commented on #372
As I wrote I am on an rpm based system (opensuse leap 15.2) and there is no such command as dpkg-reconfigure. Anyway I tried reinstalling all apparmor related packages with zypper in -f <packagename>
No success, unfortinately...

[2020-12-17 13:56] IsmaelMartinez commented on #372
sorry to hear about that. It does smell like a snap configuration issue, not just a package issue.

maybe try AppImage? sorry for not been able to help more from here.

[2020-12-17 14:00] elhennig commented on #372
That's ok I just did not find any solution for snap, so I asked here.

[2020-12-21 18:22] alpharde opened #403 "Refresh loop"
**Bug:**
After login, the application enters a refresh loop.

**How to Reproduce:**
Open the application, login

**Computer info:**
 - OS: Arch Linux
 - Installation package: Appimage
 - Version: 1.0.5

**Additional context:**
This console log is all I could get from it: https://gist.github.com/alpharde/92e4e982f393dcdcbe577365912305fe

[2020-12-22 11:59] IsmaelMartinez commented on #403
Hi,

A few things but can you check the comments in https://github.com/IsmaelMartinez/teams-for-linux/issues/268 and https://github.com/IsmaelMartinez/teams-for-linux/issues/269?

It could be that:
*  you are seating behind a proxy (as the configuration is not allowing you throw) https://github.com/IsmaelMartinez/teams-for-linux/issues/269#issuecomment-526096491
* login due to MFA. https://github.

[2020-12-22 22:56] alpharde commented on #403
Isn't MFA an Azure thing? I don't have it nor personal 2FA.
Also I'm not using a proxy.

[2020-12-23 13:45] IsmaelMartinez commented on #403
Did you try all the suggestions in those two previous tickets? Is this a
personal account or part of a company?

MFA is multi factor authentication. 2FA is just a type of MFA.

On Tue, 22 Dec 2020, 22:57 Glauber, <notifications@github.com> wrote:

[2021-01-03 20:36] mara004 opened #404 "Use native file dialog on Qt-based desktop environments"
Currently, when downloading or uploading a file in teams-for-linux, the gtk file selector dialog turns up, which looks rather out of place in KDE Plasma (or LXQt). It would appear more native if KDialog / xdg-dektop-portal-kde could be used instead.
However, it's electron's fault; see [this thread](https://github.com/electron/electron/issues/2911).
Perhaps https://github.com/codebytere/native-kde-

[2021-01-05 12:27] IsmaelMartinez commented on #404
Hi,

Feel free to create a PR with the needed changes. I suspect we will not be able to increase the version of electron (stuck in 4) as it otherwise breaks a lot of other functionality.

The native kde file hack could work but you will need to detect if that file open is available (so that you aren't running another desktop.

Probably better to solve that problem in https://github.com/sindresorhu

[2021-01-11 00:52] ilarrain opened #405 "Please post arm64 version on snapcraft.io"
On Snapcraft there is the amd64 and the armhf versions available, but the arm64 version is not uploaded there.
Ubuntu Desktop is currently official on the Raspberry Pi 4, but only in arm64 platform. It would be nice to have the client available to download in the official software store.

[2021-01-11 09:07] rvansoest commented on #405
Would love that. My son uses a pi400 with ubuntu for homeschooling. A arm64 version would be great.

[2021-01-11 10:00] IsmaelMartinez commented on #405
Hi,

Feel free to create a PR with the changes. It should be fairly easy but I can't do it an test it without lots of work. (haven't got a linux machine to hand anymore)

I believe it should be just adding a new https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/package.json#L33 for arm64 and add another step in the github actions similar to this one but calling the new package.json co

[2021-01-11 10:23] rvansoest commented on #405
Great. Thank you. Will have a look at it.

[2021-01-12 09:12] yalla opened #406 "Screensharing stopped working"
Some when over the weekend - between Friday, January 8th, 14:00 UTC and Monday, January 11th 08:00 UTC, screen sharing stopped working for me. When I share a screen, the app behaves like if it would work, but other participant in the call only see my persona icon, instead of the shared screen.
I uninstalled/reinstalled teams-for-linux already, that didn't fix the issue.
I also tried the official T

[2021-01-12 11:04] doak commented on #406
It is broken for me as well:
I've built it from source from current `develop` branch (`7649cac`), reinstalled it and purged configuration folder. No success.

### Desktop
* Debian _testing_, Gnome
* Version 1.0.6

[2021-01-12 11:49] IsmaelMartinez commented on #406
well, looks like they have changed the screensharing functionality on the browser, what probably means they have disabled the plugging they use to require.

I am not sure when I will be able to dedicate time on this but I suspect it will imply removing all the hacky work we did for the screensharing. This might be good news in general as might mean we can migrate to newer versions of electron.

[2021-01-13 11:50] hovancik commented on #402
I'm on https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.5 DEB, Ubuntu 20.04  and opening meetings is not working for me.

[2021-01-13 20:16] IsmaelMartinez commented on #402
Hi @hovancik , can you detail what/how do you open the links? From the command line? just  click?

Also, some long time ago there was some oddities for some people that had to have chrome as default browser for some stuff to work (and I am not sure if the links was one of those)

Alternatively, it could also be the configuration for xdg-open... if you put
`xdg-open <link>`

what happens?

Hope hel

[2021-01-13 20:19] IsmaelMartinez commented on #406
I have test it in a laptop and works fine for me... what is puzzling. Does the wee pop up show what you are trying to share?

Sorry, limited time but I will see if I can have a wee look on Friday, but is a bit of a pain as I need to do it in a virtual machine as I am in a Mac this days. (company decision)

[2021-01-13 20:25] IsmaelMartinez commented on #402
also, can you check if other solutions proposed in here do work? https://github.com/IsmaelMartinez/teams-for-linux/issues/47

[2021-01-13 20:39] zeitounator commented on #406
Simply to add my voice: I have the exact same problem with the 1.0.5 snap version under ubuntu 18.04. I don't get any error message, the pop-up shows what I selected to share, people on the other side see my icon changing as if I'm going to start sharing, but nothing goes through. I have tried to revert any possible change to my system I could think of and tested several time, no luck. I'll gladly

[2021-01-14 07:45] hovancik commented on #402
I open the link in browser, in Firefox. I click on the link in email, Firefox asks me what app I want to use to open the link and I choose Teams.

[2021-01-14 08:00] JonasKs commented on #406
On my end, everything is exactly as before. I select what to share as normally, but the others can't see my screen. Noticed it on Monday morning (CET).

[2021-01-14 09:03] IsmaelMartinez commented on #402
can you check the work around in #47 ? Try copy/paste the link in a chat, post it and then click in it... Try otherwise in a channel (either use a channel that you are only or one where it doesn't matter if people know the link to the meeting)

I think it might be xdg-open configuration on the msteams link.

Hope helps

[2021-01-14 09:24] IsmaelMartinez commented on #406
My initial thought is that MS have removed the need of the plugging (https://chrome.google.com/webstore/detail/microsoft-teams-screen-sh/dhheiegalgcabbcobinipgmhepkkeidk?hl=en) as now some browsers do support the screensharing but is a guess. Again, now I got a Mac (work decision) so I need some time to setup a VM or something to test it.

Maybe try commenting the if in https://github.com/IsmaelMa

[2021-01-14 12:36] bremner commented on #406
IsmaelMartinez <notifications@github.com> writes:

I tried in chromium 87.0.4280.141, and screensharing does not seem to
work there either. I'm not sure if it did before. This version of
chromium does work to share application windows in jitsi-meet (fwiw).

I tested by trying to record a meeting in teams. One weird thing I
noticed is that video is not recorded or seemingly transmitted to other
cli

[2021-01-14 18:45] julian-alarcon commented on #405
I don't have so many time this days but I could check your PRs related with Snap.

[2021-01-17 09:29] muncjack commented on #406
Hello,

Rirstly the work you have done to get teams on Linux is really good, I have been using it on debian and it works better then MS version.
I have also had the same problem screen sharing, in the mean time I temporarily  switched to just using the web interface with chrome, my desktop is using Wayland so the screen sharing only worked with X11 application but I found this article https://soyu

[2021-01-19 11:11] IsmaelMartinez commented on #406
Can one of you then try running with that flag on?

[code]

if that is the case we can enable it by default.

[2021-01-19 11:27] skyghis commented on #406
Didn't work on my machine. I get this output :

[code]

I think the relevant part is : `AdaptiveQuant(1) is not supported yet for screen content, auto turned off`.

[2021-01-19 11:28] IsmaelMartinez commented on #406
can you try with the "js-flags"?  not sure if you might need to run it from source and edit that line11

[2021-01-19 12:36] bremner commented on #406
IsmaelMartinez <notifications@github.com> writes:

I also tried it, with no effect. I had the impression that pipewire was
for wayland. I'm running i3/X11 here, but I suppose I could try to
enable pipewire if there was some chance of it working.

d

[2021-01-19 14:50] skyghis commented on #406
I added at line 14 this line of code:

[code]

The screen sharing still don't work on my Ubuntu 20.10.

[2021-01-19 15:00] zeitounator commented on #406
Tried with the command line flags (ubuntu 18.04) => No luck either.

[2021-01-20 07:00] elhennig opened #407 "Joining Meetings outside the own organization fails"
Hi, I have a strange behavior here: I tried to join a meeting organized outside my oy organization and I was admitted to the waiting room. Once the organizer let me in, the call was interrupted. Teams printed the error message, that something went wrong with joining the call.
When I switched to the official MS client this did not happen. Any idea what could be the cause for this?

Version  teams-f

[2021-01-20 12:53] josefschabasser commented on #406
Hi!

I just wanted to add my experience here: using this client v1.0.5 stopped working, but chromium v87.0.4280.141 does work.
I'm using Manjaro Linux (GNOME) on an Intel/Nvidia system (proprietary driver, switchable graphics), everything is up-to-date.
Display server is xorg-server 1.20.10.

Best regards
Josef

PS: the switchable graphics does work, but is currently not used (everything is runnin

[2021-01-20 14:41] bremner commented on #406
josefschabasser <notifications@github.com> writes:

Just to confirm, screensharing works for you with chromium
v87.0.4280.141? I just tried 87.0.4280.141-0.1 on Debian. Audio / video
works, but not screensharing.

d

[2021-01-20 14:57] josefschabasser commented on #406
Yes, it worked on a call today. With the unofficial client, al I got was a black screen, with Chromium it worked.
I checked it again:
Audio: works
Camera: works
Screen sharing: works

[2021-01-20 15:14] bremner commented on #406
josefschabasser <notifications@github.com> writes:

Thanks for the reply. I just checked with google chrome
88.0.4324.96, and screensharing works there for me.

[2021-01-21 06:28] IsmaelMartinez commented on #406
I have no idea then. I guess worth checking that is not a system update (from around 10 days ago) that made this stop working?

I will continue investigating when I get some time for this. Apologies but ain't easy getting time almost for anything this days for me.

[2021-01-21 06:29] IsmaelMartinez commented on #403
closing due inactivity (trying to keep things tidy). Please ping me with more information if you want it re-open.

[2021-01-21 06:29] #403 closed

[2021-01-21 06:30] IsmaelMartinez commented on #384
Closing due inactivity. Please provide further info and if you require this to be re-open. (Just trying to keep things tidy)

[2021-01-21 06:30] #384 closed

[2021-01-21 06:32] IsmaelMartinez commented on #397
Hi @whitpa, I will close this due inactivity. Do ping me back with whatever info and/or tests you manage to do, and I will reopen. Trying to keep things tidy. Thanks!

[2021-01-21 06:32] #397 closed

[2021-01-21 06:35] IsmaelMartinez commented on #407
Sorry, I have no idea. Did you see any logs and/or error message in the syslogs? (or whatever log system opensuse uses?)

[2021-01-21 08:22] elhennig commented on #407
Is there an option to gain more debug infos?

[2021-01-21 08:29] IsmaelMartinez commented on #407
Yes, Start the app via a terminal. Make sure your current teams-for-linux is fully close (no icon in the tray) and run
```teams-for-linux --webDebug```

Then logs do appear in 2 areas. The electron (or backend) errors/messages in the terminal and the browser in the devtools.

If you have done any UI development you should be familiar with the devtools, otherwise google for chrome developer tools,

[2021-01-21 08:36] IsmaelMartinez commented on #406
Did some more debugging and it does look like it is still going via the ms plugging.

If the browser now works (for version 88, etc), the change required might be editing the userAgent and maybe removing the `[extension work](https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/app/browser/desktopShare/chromeApi.js#L9)`.

To try another user agent you should be able to pass the arguments

[2021-01-21 08:45] josefschabasser commented on #406
Dumb question, but how can I clean the cache of this app?

[2021-01-21 09:37] IsmaelMartinez commented on #406
it might depend on the installation. in my case I use to remove the full `~/.config/teams-for-linux` folder.

the config folder location info we gather is in here https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/KNOWN_ISSUES.md#config-folder-locations but it might be out of date? You can always remove both.

[2021-01-21 10:25] josefschabasser commented on #406
I just tested `teams-for-linux --chromeUserAgent "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36"`.
I confirmed the new useragent is in use by inspecting headers using in-app dev tools.
Changing the user agent didn't help, though.

[2021-01-21 10:30] elhennig commented on #407
I just noticed that screensharing does not work anymore, too.

[2021-01-21 11:41] IsmaelMartinez commented on #407
that is already reported in https://github.com/IsmaelMartinez/teams-for-linux/issues/406 . thanks for pinging in here.

[2021-01-21 11:42] IsmaelMartinez commented on #406
@josefschabasser , does that browser allow you to do screensharing? reading previous comments is only 88 and up that do work (but I might be wrong)

[2021-01-21 11:46] josefschabasser commented on #406
As I posted yesterday: yes. I took the useragent string from my browser with which screen sharing works.

[2021-01-21 12:04] IsmaelMartinez commented on #406
I missed that. Apologies

[2021-01-21 13:37] elhennig commented on #407
Thanks for the hint regarding #406. Missed that earlier...

[2021-01-22 09:01] azispratama92 commented on #406
just to test it today, i'm glad the audio mic is works, but when i share my screen for other audience, they told me that they only see black screen, its really frustrating because with the officials ms teams from Windows, i can't to my microphone to working.

here is my pipewire output:

`teams-for-linux --enable-webrtc-pipewire-capturer
configPath = /home/pratama/.config/teams-for-linux
Failed to

[2021-01-22 09:04] JonasKs commented on #406
I normally use Firefox, so I've got `Version 85.0.4183.121 (Official Build) (64-bit)`, and screen sharing works for me through the browser. It does not work for Firefox.

[2021-01-22 12:06] hovancik commented on #402
Hi, I went back to Teams in broswer as sharing screen did not work in this app for me.

[2021-01-22 13:40] IsmaelMartinez commented on #402
I will close then this ticket. There is an open ticket for the screenshare issue. I got little to no time (and no linux) so things do take time. Glad to hear you managed to find a solution. Ta

[2021-01-24 13:02] Photon89 commented on #406
@josefschabasser Great discovery, screen sharing seems to work for me with Chromium as well!

[2021-01-25 22:44] moschlegel commented on #402
I had this very problem just today on Fedora 33 with Teams 1.3.00.30857-1 (clicking on an emailed Teams URL would not load the meeting). I had to manually log into Teams and then click the URL

[2021-01-26 11:18] IsmaelMartinez commented on #402
Hi @moschlegel , that teams version is for the MS Teams official one. I recommend going to their uservoice and log your problem there with them. Ta

[2021-01-28 15:19] nkichukov commented on #406
Is there a workaround to this problem? I am also affected by it.
It works fine here on chromium browser 87.0.4280.88 (Developer Build) (64-bit) but not in this electron app.

[2021-01-28 22:13] IsmaelMartinez commented on #406
Hi all, I think I got the solution... testing it in a virtual machine so it might not work but, hey, I thought to give it a try... branch is [fix-406-screensharing-stopped-working](https://github.com/IsmaelMartinez/teams-for-linux/tree/fix-406-screensharing-stopped-working). If any of you can prove it works, I will then release tomorrow.

The proposed solution comes form looking into their documen

[2021-01-28 22:26] IsmaelMartinez commented on #406
And alternative to test this is to run the client with the following user agent (argument):

`teams-for-linux --chromeUserAgent "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3202.75 Safari/537.36"`

Same user agent as in the change. In some cases you might need to clean your cache. If you loose your history, just clear the cache and you will get it back. Info

[2021-01-29 00:07] bremner commented on #406
IsmaelMartinez <notifications@github.com> writes:

Setting the user agent worked for me, both with a flatpak stable that
calls itself 1.0.0 and with 1.0.2 installed from a .deb

Thanks for doing that research!

d

[2021-01-29 08:52] zeitounator opened #410 "YATY: Yet Another Thank You"
**Is your feature request related to a problem? Please describe.**
As a user I would like to point out the TREMENDOUS work done by @IsmaelMartinez on this project. I would like to thank him on behalf of hundreds of developers using linux as a dev environment at La Poste (French post office) who where in the dark and have been able to see the light during the last months. I just wish Microsoft had

[2021-01-29 08:58] skyghis commented on #406
Compiled and tested. Window and full desktop sharing works great on my Ubuntu 20.10.

Thanks !!

[2021-01-29 09:12] IsmaelMartinez commented on #410
It's been a pleasure been useful. I am glad MS are starting to solve those problems, only taking them more than a year (and 10's of developers).

I will keep trying to keep fixing the issues that appear, the screensharing is now fixed in a branch, but I did almost give up on this one.

Au revoir et bonne journée!

[2021-01-29 09:12] #410 closed

[2021-01-29 09:14] IsmaelMartinez commented on #406
I then start the release process. I got a busy day/weekend and I haven't release for a while so it might take me a wee bit... just bear with me.

[2021-01-29 09:54] nkichukov commented on #406
--chromeUserAgent "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3202.75 Safari/537.36"

worked for me. Thanks a lot!

Looking forward to the new release.

[2021-01-29 10:29] #406 closed

[2021-01-29 10:45] IsmaelMartinez commented on #406
released now. https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.6 it might take a few more minutes to reach snap edge... I will promote when ready (still a manual process)

[2021-01-29 11:33] skyghis commented on #406
`.deb` installed,  works great. Thanks.

Had to delete `.config/teams-for-linux/Partitions/teams-4-linux/Application Cache`

[2021-01-29 11:33] elhennig commented on #406
Thanks a lot for the quick fix, with 1.0.6 from Snap screen sharing works again for me

[2021-01-29 21:17] miguelcaravantes commented on #406
is the new build working by default when sharing on Wayland or i need to do something else?

[2021-02-01 08:56] mxsteini opened #411 "building with podman / docker"
Since I have to provide many project with many different node versions, I try to encapsulate my build processes in podman commands (should be the same in docker)
Today I built the latest version with:

podman run -it --rm --volume .:/var/mnt:z -w /var/mnt/ node:12 /bin/bash -c "apt update && apt install -y rpm && yarn install && yarn run dist:linux"

[2021-02-02 16:59] 7RST1 opened #412 "Everything black and only mouse visible in entire screen screen share"
**Describe the bug**
This might be a continuation of [this bug](https://github.com/IsmaelMartinez/teams-for-linux/issues/108) also.

When selecting what to share, the "Entire screen" option shows both screens (as mentioned in the issue above), but for me it's black and only the mouse is visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Join whatever meeting
2. Click on sharing shelf
3

[2021-02-03 13:57] josefschabasser commented on #412
Hi!

Please try to downgrade to v1.0.5 as it could be related to #406 .

Best regards
Josef

[2021-02-03 13:57] josefschabasser commented on #406
I just wanted to say, that v1.0.6 works again (didn't have to clear cache).

[2021-02-04 16:39] 7RST1 commented on #412
Oops, didn't find that one. Will follow there.

[2021-02-04 16:39] #412 closed

[2021-02-06 17:15] sidhu1f commented on #47
As I had issues opening meeting links via browser and the (beta) ms teams client, I tried the teams for linux client which solves this issue. Thanks!

-sidhu1f

[2021-02-08 15:57] geez0x1 commented on #402
Sorry for taking a while to get back here. I've now tried:
- `sudo dpkg-reconfigure apparmor`: No difference
- `xdg-open`: Also opens the link in FF for me, which asks me to open it in Teams, i.e. same as usual.
- Pasting the link in a chat within teams and clicking that: **Works, opens the meeting.**

[2021-02-09 10:36] elhennig commented on #407
Today it worked joining an external hosted teams meeting with 1.0.6 from snap

[2021-02-10 13:56] IsmaelMartinez commented on #402
hey @geez0x1, then it does smell like an xdg-open configuration issue. It can be quite temperamental. xdg-open should be opening the teams client. If it is opening firefox means it is misconfigured. Hope helps.

[2021-02-10 13:57] IsmaelMartinez commented on #407
well, that is strange but I suspect it was an xdg-open issue. Maybe an update in your linux fixed it. Closing then. Glad is sorted and thanks for reporting back. Ta

[2021-02-10 13:57] #407 closed

[2021-02-10 14:00] IsmaelMartinez commented on #411
Hi @mxsteini, thanks for the suggestion. If you have the time and can add it to the contributing readme, that will be amazing. I will happily accept that PR. Thanks again!

[2021-02-10 14:15] geez0x1 commented on #402
@IsmaelMartinez: How would `xdg-open` understand to open Teams though? The meeting links are provided to me as `https://...`, not `msteams://...`. The https link are effectively: `https://teams.microsoft.com/dl/launcher/launcher.html?url=...`, where the `url` argument is an url-encoded URL that is somehow transformed into an `msteams://` link causing Firefox to try to open Teams. I tried doing the

[2021-02-10 14:45] IsmaelMartinez commented on #402
You can then try doing

`teams-for-linux <your http meeting URL here>`

It should work the same way as the copy paste.

You are correct in that your browser will open 1st if you just click on the link, as Xdg-open will have that https associated with it.

Hope helps

[2021-02-11 11:54] geez0x1 commented on #402
Good point; I had not tried that yet. This results in Teams opening, but opening the website in it. However, I can then click 'Continue in this browser' (as it recognizes it as a supported browser, being an Electron wrapper, I suppose), after which it continues to the right meeting. Does that information help at all?

Here is my CLI output:
[code]

[2021-02-11 16:52] mpretu opened #414 "Option to load file from device not readable"
**Describe the bug**
The option to load a file from the device is broken, unreadable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Assignments' > Assigned >
2. Click on some "work" you already have
3. Below, under 'My work', click on 'Add work'
4. Below, on the following page, click on "Upload from this device"
5. See error

**Expected behavior**
I hope this is an error that can be

[2021-02-18 12:29] rsun0525 opened #415 "Running 64 bit of Raspberry Pi OS and wanted to install teams-for-linux"
pi@raspberrypi400:~/ $ sudo snap install teams-for-linux
error: snap “teams-for-linux” is not available on stable for this architecture
(arm64) but exists on other architectures (amd64, armhf).

[2021-02-18 15:20] IsmaelMartinez commented on #415
closing as duplicated. look at https://github.com/IsmaelMartinez/teams-for-linux/issues/405

[2021-02-18 15:20] #415 closed

[2021-02-18 15:22] IsmaelMartinez commented on #414
Hi @mpretu, that does look like a missing font. Do you get any messages if you open it with --webDebug? (or right click in the icon and something like developer tools/debugging)

[2021-02-18 15:23] IsmaelMartinez commented on #411
Thanks a lot @mxsteini . I merged your change in https://github.com/IsmaelMartinez/teams-for-linux/pull/413 Thanks again!

[2021-02-18 15:23] #411 closed

[2021-02-18 21:59] rsun0525 commented on #405
Was is determined that you need an arm64 machine to build an arm client?  I'm happy to ship someone a pi400 and they can put an arm64 OS on it to do the build, etc (or put the arm64 OS on it for you, etc.) what can I do to help make this request easier to complete?

[2021-02-19 12:55] IsmaelMartinez commented on #405
maybe just try it. found this info online, not sure if it will do the job:

https://www.beekeeperstudio.io/blog/electron-apps-for-arm-and-raspberry-pi

as I stated in the https://github.com/IsmaelMartinez/teams-for-linux/issues/405#issuecomment-757841164 , you might need to create another package.json step/option with something like this

[code]

If that snap package works, then we can see how to

[2021-02-22 08:22] bitstreamout opened #416 "The (loud)speakers stays mute within flatpak app com.microsoft.Teams"
**Description**

don’t know what the problem is as I can access all type of speakers, that is switch to builtin audio, headphone if plugged in, and also to raop sinks. Also if the app is started I can change into the namespace/sandbox with ``flatpak enter <ID> /bin/bash`` and play therein with paplay a test wav placed into my ``~/Downloads/`` directory. Within teams the microphone is working, the

[2021-02-22 08:34] bitstreamout commented on #416
Ah ... invalid ... com.github.IsmaelMartinez.teams_for_linux != com.microsoft.Teams

[2021-02-22 08:34] #416 closed

[2021-02-22 08:34] bitstreamout commented on #416
I'll give com.github.IsmaelMartinez.teams_for_linux a try!

[2021-02-23 20:28] HellMederimBoy opened #417 "Teams not connect Error Code: 50196"
I get a error in my gentoo linux

The error occurs when i login in my account and says  "can not connect in the moment"

Error Code: 50196
Request Id: 836e9516-6d4a-427a-8496-f8b4dc2a1d00
Correlation Id: bd3f8fdc-f901-4427-bdc1-e83c5ddcf622
Timestamp: 2021-02-24T14:19:46.446Z

 - OS: Gentoo amd64
 - Installation package: AppImage
 - Version: 1.0.6

[2021-02-24 16:39] joakim-tjernlund commented on #108
Seems like a fix has been merged:
https://webrtc-review.googlesource.com/c/src/+/165724

But in what release I have no idea

[2021-02-26 09:51] IsmaelMartinez commented on #108
Hi @joakim-tjernlund , unfortunately we are sort of stuck in version 4ish of electron. Feel free to try to get version 6 running. I believe the main blocker (screenshare) can now be fixed if reimplemented in another way, but I got only time to do a bit of support in here. Thanks for the link!

[2021-02-26 09:54] IsmaelMartinez commented on #417
Hi @HellMederimBoy, are you behind a proxy? Can you try another package? Can you connect to your teams account using your browser? My guess in the proxy configuration. There is a [config option](https://github.com/IsmaelMartinez/teams-for-linux/tree/develop/app/config) to specify the proxy server (if that is the issue). Hope helps.

[2021-03-03 21:58] cpfeiffer commented on #378
It's supposed to be rolled out this March (see https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=70573), but possibly only for recent Chromium versions, as noted here: https://practical365.com/blog/recent-improvements-rolling-out-make-teams-meetings-better/

So an electron upgrade would probably be needed to get this.

[2021-03-16 23:31] dgmvecuador commented on #402
it only works when is not running, right??

[2021-03-17 08:05] IsmaelMartinez commented on #402
I don't remember now but I think it should work either way. If is not, it
might be possible to change that behaviour so it works for both cases.

On Tue, 16 Mar 2021, 23:32 Diego Estévez, ***@***.***> wrote:

[2021-03-18 08:36] IsmaelMartinez commented on #404
closing due inactivity. Do ping me to reopen if you got a PR. Thanks

[2021-03-18 08:38] IsmaelMartinez commented on #281
I will close this ticket. Doesn't change the situation. still supported in maintenance mode only. Thanks everyone again for the kind words.

[2021-03-18 08:38] #281 closed

[2021-03-18 10:48] #404 closed

[2021-03-19 12:57] Thuener commented on #402
+1

Ubuntu 20.04.2 LTS
Tried different versions and can make it work

[2021-03-19 14:52] ErikReider commented on #406
Does it implement the pipewire screensharing? I'm also getting a black screen with only my cursor visible while using Sway (wayland)

[2021-03-19 16:50] simonflood commented on #402
@moschlegel since you appear to be using the official Microsoft Teams client for Linux you might be affected by https://docs.microsoft.com/en-us/answers/questions/298724/open-teams-meeting-link-on-linux-doens39t-work.html?childToView=309406#

HTH.

[2021-03-27 15:36] FPSUsername opened #419 "Font issue when saving attachments"
**Describe the bug**
When you want to save an attachment to your computer, a popup of the file manager opens which allows you to select the saving destination. The font on the file manager is "corrupt".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any message with an attachment
2. Tap the download button to save it on your computer
3. See the font issue

**Expected behavior**
A wind

[2021-03-27 16:52] FPSUsername commented on #419
I tried the AppImage release and it works fine. Seems like the Snap package is giving this issue.

[2021-03-29 14:29] IsmaelMartinez commented on #419
I think this is a snap configuration issue. I sort of remember something like that happening quite a while back.

Check [this comment](https://github.com/IsmaelMartinez/teams-for-linux/issues/357#issuecomment-632446994) as it did solved the issue

[2021-03-29 14:33] IsmaelMartinez commented on #405
maybe you can use a self-hosted runner for this https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners happy to add it to the list of runners in here.

[2021-03-30 09:59] IsmaelMartinez commented on #406
Hi @ErikReider. This change doesn't fix the pipewire issue. Check this comment for how to can work around it

https://github.com/IsmaelMartinez/teams-for-linux/issues/406#issuecomment-761760830

[2021-03-31 13:17] IsmaelMartinez commented on #405
an example in here https://dev.to/l04db4l4nc3r/self-hosted-github-actions-using-raspberry-pi-212m but that means someone has to have the pi connected somewhere (I think I got a pi somewhere hidden... might see if one of this days I got time to play with this)

[2021-03-31 15:06] rsun0525 commented on #405
I'm happy to host a Raspberry Pi for this, but I'm not skilled enough to do the rest.

[2021-03-31 18:55] rsun0525 commented on #405
That's great news.  What is the next step to get it working for everyone?

pi@raspberrypi400:~ $ sudo snap install teams-for-linux
error: snap "teams-for-linux" is not available on stable for this architecture
       (arm64) but exists on other architectures (amd64, armhf).

[2021-03-31 19:24] nicoacho commented on #405
![image](https://user-images.githubusercontent.com/81648519/113199461-0f3aeb00-925f-11eb-82f4-f2c5bee1b557.png)

[2021-04-01 09:47] doak commented on #402
Yes, it just prints `App already running` and bails out.

[2021-04-01 12:58] IsmaelMartinez commented on #402
It can be a bit confusing, but both apps will get the event. One print the `App already running`, but the other should print `second-instance started`. The way to test this is to run them both from the console.

Code is here:
Second app will go down this route (as doesn't got the lock)
https://github.com/IsmaelMartinez/teams-for-linux/blob/7649cacecf38147cc295bace3e8b1f39b0eb0864/app/index.js#L17

[2021-04-01 13:21] doak commented on #402
It does. I will open a PR in a few minutes.

[2021-04-01 13:38] doak commented on #402
Here it it is, see #422.

[2021-04-03 15:13] IsmaelMartinez commented on #405
I will have a look after my holidays. Apologies!

On Wed, 31 Mar 2021, 20:24 nicoacho, ***@***.***> wrote:

[2021-04-07 15:05] doak commented on #402
@IsmaelMartinez, did I miss something?

@dgmvecuador, the mentioned #422 should fix that, i.e. it opens the call within the alrady existing instance.

[2021-04-08 16:16] dgmvecuador commented on #402
Sorry I havent tested it, is your PR not merged??

Also -- How I build it?? I seriously want to test

[2021-04-12 11:51] IsmaelMartinez commented on #417
closing due inactivity

[2021-04-12 11:51] #417 closed

[2021-04-12 11:51] IsmaelMartinez commented on #419
closing due inactivity

[2021-04-12 11:51] #419 closed

[2021-04-12 11:51] IsmaelMartinez commented on #414
closing due inactivity

[2021-04-12 11:51] #414 closed

[2021-04-12 11:51] IsmaelMartinez commented on #402
I will see if I can have a look at it today. It is a bit of a tricky part as the focus, openURL and stuff like that did work

[2021-04-12 11:52] IsmaelMartinez commented on #402
ops, wrong button. I have reviewed the PR. Only a wee comment/change requested. Once that is ready I am happy to do a pre-release so @dgmvecuador  can test it also.

[2021-04-15 15:59] IsmaelMartinez commented on #402
@dgmvecuador , a pre-release is in here https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.7 I think the snap is, somehow, failing to build due some fancy 🍰
![image](https://user-images.githubusercontent.com/430992/114900526-d9276a80-9e0b-11eb-9c84-f9b5d73d56e3.png)

[2021-04-15 21:53] joakim-tjernlund commented on #108
I just played a bit with building teams and once I had updated spellchecker to 3.7.1 I could build with much newer
electron, even up to 12.0.4
I think there is official screen sharing in recent electron?

[2021-04-15 22:13] joakim-tjernlund commented on #108
This starts:
[code]

I even regenerated yarn.lock to latest for all deps, quite a lot needed refreshing.

With that one can build against any newer electron but it won't start as javascripts needs tweaking.

[2021-04-15 22:17] dgmvecuador commented on #402
I generated a deb and its working!!! Thank you!!!

[2021-04-19 06:07] the-anonymous-raven opened #427 "Ability to mute audio of all meetings"
Loved your project and have been a user since 1 year. Keep up the good work!

Can you add a feature to mute speaker audio in meetings or perhaps implement a way to route the audio through earphones rather than speakers?

[2021-04-20 10:20] IsmaelMartinez commented on #427
Hi @the-anonymous-raven, I think you should be able to check those settings in the current version. Just make sure you look at the audio settings.

Also, I will appreciate if next time you can use the template. Simplifies stuff (or just use the discussions tab if just want to put generic questions). Thanks

[2021-04-20 10:20] #427 closed

[2021-04-20 10:24] IsmaelMartinez commented on #108
Hi @joakim-tjernlund , if you want to play around with the new electron version, you can check the branch in https://github.com/IsmaelMartinez/teams-for-linux/tree/feature-156-move-electron-6 (is to electron 6 but you can check electron 10 etc).

I think mostly works, but screen sharing and others aren't. maybe it does with the newer version (not sure, not unfortunately have the time to dedicate t

[2021-04-20 10:29] IsmaelMartinez commented on #405
I am happy to link that raspberrypi and help on the gitactions changes. Not sure when I would have time but do ping in here. Alternatively, I am happy to setup a pi, but need to find were I left it, etc (and a bit more time)

[2021-04-20 10:32] IsmaelMartinez commented on #402
I will leave a few more days and close / release. Some (around 400) snap people are using it (the ones on the edge channel) so waiting to see if are any complaints before releasing it to the 50K.

[2021-04-23 00:52] joakim-tjernlund commented on #108
I don't know this programming language so that will be hard for me. I just figured you could do the updates I listed above meanwhile(including regen of yarn.lock). Then you have a better base to start from

[2021-04-28 07:16] micwoj92 commented on #332
One year later and the build still fails on nodejs-lts-fermium (14.16.0) and nodejs (16) when trying to build 1.0.6 and 1.0.7. This isn't that much of a problem now because the older nodejs lts versions aren't going anywhere soon (at least on Arch) but it still would be nice to be able to build using latest nodejs version.

Well, that person who opened issue is AUR package maintainer for teams-for

[2021-04-28 09:15] IsmaelMartinez commented on #332
I suspect that will need an upgrade of the electron version. Unfortunately that the breaks a lot of stuff.

I welcome new PRs and I am happy to help but, this days, my company laptop is a Mac so makes things pretty complicated.

Since MS has an official version, probably best ask if they are going to support AUR.

[2021-04-28 10:14] micwoj92 commented on #332
Official Teams package and insiders edition are in AUR under names teams and teams-insiders if that's what you meant.  Nodejs version 12 has maintenance until 2022-04-30 so there's plenty of time till then. Thank you for quick response.

[2021-05-11 14:08] aubertc opened #430 "Install Warnings on Debian"
**Describe the bug**

On debian, two warnings are issued during the installation:

[code]

They do not seem to affect the functionality or behavior of teams.

**To Reproduce**

1. Download the [debian package](https://github.com/IsmaelMartinez/teams-for-linux/releases/download/v1.0.6/teams-for-linux_1.0.6_amd64.deb)
2. As root, `dpkg -i teams-for-linux_1.0.6_amd64.deb `

**Expected behavior**

Tho

[2021-05-19 09:07] sergiocasero opened #431 "¿MacOS compilation?"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
I like to have a macOS binary

**Describe alternatives you've considered**
Teams web and/or teams native app

**Additional context**
The problem here is that on my company, only windows PCs are allowed, so we can't use MS teams on our macs nor linux. We've tested this repository binaries i

[2021-05-21 17:11] IsmaelMartinez commented on #431
Hi, you can get a Mac build no bother. There might be some oddness,
specially on the icon, but in general, it should work.

Ping a PR and/or ask any questions. Happy to help.

On Wed, 19 May 2021, 10:08 Sergio Casero Hernández, <
***@***.***> wrote:

[2021-05-25 13:59] nkichukov commented on #406
It has just stopped working again, anyone experienced the same?
The windows to be shared can no longer be selected, as the dialog window is now missing/not loading.

[2021-05-26 08:02] JonasKs commented on #406
Console output says browser is not supported. Screen sharing works in chrome.

[2021-05-26 08:14] elhennig commented on #406
Not here, I use the userAgent Option for the commandline and the popup window to select desktop or any window to share is not appearing.
Screensharing works with the official MS client, though.

[2021-05-26 11:07] The-Compiler opened #432 "screenSharingControlService: unexpected, cannot find the call"
**Describe the bug**
It looks like screen sharing stopped working recently. It worked fine last week, this week it stopped working. Perhaps something changed on the Teams website in an incompatible way?

**To Reproduce**
Try sharing the screen in a meeting.  After clicking "Desktop/Window", nothing happens.

**Desktop (please complete the following information):**
 - OS: Archlinux
 - Installation:

[2021-05-26 11:18] KPS-MWT commented on #432
I can confirm this for Ubuntu 20.04. Still works in Chrome.

[2021-05-27 08:03] DrasLorus commented on #432
Same here in Archlinux, version 1.0.6, from the AUR.

Everything works on (ungoogled-)chromium though.

Tried the `pipewire` and `user-agent` workarounds from #406 without success.

[2021-05-27 18:53] IsmaelMartinez commented on #432
Hi all, I suspect MS has deprecated the browser support for that version. Unfortunately, that means solving the problem requires quite a lot of work.

Happy to review PRs and/or have a chat with anyone willing to fix this. I currently have a MacBook Pro (work...) so canna really do the full work, but I offer my support and/or guidance.

[2021-05-27 18:54] IsmaelMartinez commented on #406
follow updates in https://github.com/IsmaelMartinez/teams-for-linux/issues/432

[2021-05-27 18:56] IsmaelMartinez commented on #432
maybe try with other user agents. replacing the "yournewuseragent" for something other than "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3202.75 Safari/537.36" and starting the app like this :

[code]

If you find a userAgent that works the fix is fairly simple.

[2021-06-03 10:55] sergiocasero commented on #431
Hello @IsmaelMartinez ! Sorry for the delay I was on holidays. I'm getting some troubles when trying to build the app, maybe is it related to my node version?? This is the error:

[code]

[2021-06-03 11:40] Surowa commented on #432
It works with user agent:
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3831.6 Safari/537.36

Is there a reason why it was downgraded?
Screen sharing is quite nice to have

[2021-06-03 13:18] IsmaelMartinez commented on #432
The explanation is in the PR https://github.com/IsmaelMartinez/teams-for-linux/pull/409 Basically, screensharing stopped working then. That might have changed (would not be the 1st time they do that).

can you confirm screensharing does work when executing:

[code]

If that is the case, that commit/pr is a good example of what needs to be done. I will be happy to release a Pre-release with it and

[2021-06-03 13:19] IsmaelMartinez commented on #431
yep, that will be the node version. I think is v10 the last one that that electron supports. You can use nvm to have multiple versions of node if that helps

[2021-06-03 13:26] sergiocasero commented on #431
12.22.1 does the job :) Thank you so much! I'll investigate if there is something to change or this is enough...

[2021-06-03 13:40] skyghis commented on #432
I tested without success under Ubuntu 20.10 with version 1.0.6 with this cmd line :

[code]

@Surowa how did you make it work ?

[2021-06-03 13:43] DrasLorus commented on #432
I tested without more success on Archlinux.

I also contacted Microsoft about official App that is not working neither and the answer was basically that only Ubuntu 18.04/20.04, Fedora 30 and CentOS 8 was supported.

I don't know if it is related.

[2021-06-03 14:03] IsmaelMartinez commented on #431
perfecto. I do know that the icon is a bit odd looking but that should not stop the app from working. Over all, it should just work. Do ping if that is not the case and I can see if I can help. Ta

[2021-06-03 14:17] IsmaelMartinez commented on #432
To elaborate in the reasoning of the moving to version 71.

In this limits page:
https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#browsers

Did indicated screensharing not available for browsers prior v72
![image](https://user-images.githubusercontent.com/430992/120659509-58d1cd00-c47e-11eb-9b25-49df7854f8d6.png)

We then moved back as the implementation change from ms t

[2021-06-03 15:08] sergiocasero commented on #431
Ahhh it works but Unfortunately...  looks like is not enough, login works but it says "You've logged in right, but I can't detect your device model"

[2021-06-07 21:05] nkichukov commented on #406
Folks, because the chromium browser already provided all the functionality I needed, here is what I've managed to get:

Chrome App for M$ teams, it works like a charm, GNU/Gentoo Linux here, chromium 92

Here is how to create the app:
1.) Start new chormium window from the command line, passing a new --user-data-dir, ie your chrome app will be separated from the rest of your default profile in chr

[2021-06-09 06:06] HenrikNyberg commented on #405
Any news on a 64bit Rpi version of the snap?

[2021-06-09 08:01] IsmaelMartinez commented on #405
The instructions are there. We only need someone to host the pi and make the git actions changes. I can support but can do the job. Apologies.

[2021-06-09 08:05] IsmaelMartinez commented on #430
Hi @aubertc, It looks like is that electron-builder issue. Is annoying but this project is now on support mode only and this is not affecting the usage or installation of the app so I will close this.

Thanks for reporting the issue!

[2021-06-09 08:05] #430 closed

[2021-06-09 08:07] IsmaelMartinez commented on #431
I wonder if that is a company policy thing. Have you tried logging with a user that is not your company user? aka, hotmail or something?

It could just also be proxy configuration (there is more info about how to configure a proxy in the config folder) . Hope helps

[2021-06-09 08:08] IsmaelMartinez commented on #111
Does look like no-one will help on this issue, I will close it but, if anyone is interested on trying to fix it, then I am happy to reopen it. Apologies

[2021-06-09 08:08] #111 closed

[2021-06-09 15:01] aubertc commented on #430
Thanks, I understand!

I also opened this ticket as a way of "pinging" electron-builder about it: more than one software is affected by it.

[2021-06-15 15:06] doak commented on #406
@nkichukov, I gave Chromium a try but sharing and even video call did not work at all (in plain Chromium).
I am using `Version 90.0.4430.212 (Developer Build) built on Debian 11.0, running on Debian 11.0 (64-bit)`.

[2021-06-16 07:36] nkichukov commented on #406
Hi doak,
This has been working for me in a browser at least in the last 10 chromium releases... I am not sure what could be different on your distribution, but in case this may help, here are the configure options I use to compile chromium:
`USE="cups js-type-check kerberos (pic) proprietary-codecs pulseaudio system-ffmpeg system-icu widevine (-component-build) -custom-cflags -hangouts (-headless)

[2021-06-17 08:35] jijojosephk commented on #406
@IsmaelMartinez I know you dropped any serious future development with this app. But this has been a help for me when there was no official Linux client. When Microsoft launched it, new development for this seemed unnecessary. I also shifted to the official version. But you know, to my understanding what is really lacking in Teams application is multi tenant feature which many of the users might b

[2021-06-17 08:58] IsmaelMartinez commented on #406
Hi @jijojosephk, Thanks for the code snipped. Hopefully someone will be able to put those changes in a PR. I got no time with work and family requirements.  I will ping in the open issue to see if someone got time to implement it.

On the multitenant area, you can change this repo instead of creating a new one and maintain it. If you want to be a maintainer, let me know and I can give you access.

[2021-06-17 09:04] IsmaelMartinez commented on #432
Hi all, looks like @jijojosephk found a workaround for the screensharing issue.

https://github.com/IsmaelMartinez/teams-for-linux/issues/406#issuecomment-863046671

I got no time, apologies, but happy to review and approve/merge PRs

[2021-06-17 09:07] jijojosephk commented on #406
@IsmaelMartinez I created it for my custom requirements. Was not focused on public usage. But if many are interested, I can copy what ever is needed to this repository. I'm also short on time. I'll try to create a PR this specific issue.

[2021-06-18 06:20] jijojosephk commented on #432
PR is generated. Could you try? I've upgraded all modules to latest version. Fixed some migration related issues and our screen sharing issue.

[2021-06-18 08:25] DrasLorus commented on #432
Hi all. @jijojosephk , I have tried your version on Archlinux with nodejs-lts-fermium, and i get the following error in terminal:
![image](https://user-images.githubusercontent.com/37298590/122530267-99a11880-d01e-11eb-820d-b219cf34f296.png)

Tried with electron 12.0.9, 6.1.12 and 7.3.3. I have built the app using yarnpkg.

[2021-06-18 08:34] skyghis commented on #432
Tested your branch @jijojosephk, and it runs fine on Ubuntu 20.04 (compiled on a docker container).

I tested sharing of my screen without issue. I can select the monitor to share (multi screen).
Unfortunately it is no longer possible to select a single window.

Thanks for the work !

[2021-06-18 08:37] jijojosephk commented on #432
@DrasLorus Isn't the application opening at all? My development environment is Ubuntu 20.04. LTS, Node 14.17.1, NPM 7.17.0, Electron 13.1.2

[2021-06-18 08:43] jijojosephk commented on #432
Thank you. Currently, it considers only screen. I can include windows as well. I would generate another PR after that. Glad that my work helped somebody. Good day!

[2021-06-18 08:47] skyghis commented on #432
I'll wait for your next PR, thanks !
Displaying a single windows is an easy way to manage your privacy during a presentation.

[2021-06-18 08:56] DrasLorus commented on #432
@jijojosephk it is! Everything else works fine with the `yarnpkg && electron .` build.  I tried with `npm install && electron .` and get that:
![image](https://user-images.githubusercontent.com/37298590/122535053-762c9c80-d023-11eb-9a2e-4a434e9c1df2.png)

Maybe I build it wrong...
Again, electron 12.0.9 but NPM 7.17.0 and Node 14.16.0 (at least on the machine, i don't fully understand NPM/yarn loc

[2021-06-18 09:01] skyghis commented on #432
@DrasLorus the [documentation](https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/CONTRIBUTING.md) says to use `yarn start` to run or `yarn install && yarn run dist:linux` to create package.

I personally used `yarn install && yarn run dist:linux` and then run the bin from the tgz version.

[2021-06-18 11:38] jijojosephk commented on #432
I've pushed the changes. Could you try?

[2021-06-18 11:46] jijojosephk commented on #432
These messages are logged even for me., spellchecker module has some issues. Not compatible with latest electron. But suppressed with turning off a flag. You may see that in the commit. It should be OK if application is working and not getting crashed.

[2021-06-18 13:12] skyghis commented on #432
Single window sharing  works perfectly :+1:

There are two minor points :

- When the windows list open, Teams is reduced and need to be focused manually to select the window.
- The shared screen preview windows no longer exists.

Thanks for the work !

[2021-06-18 13:21] jijojosephk commented on #432
Could you share some screenshots if possible?

[2021-06-18 17:11] DrasLorus commented on #432
Aaaand it works. Thanks a lot.

[2021-06-21 10:20] gtr25 opened #435 "Sign-in issue"
**Describe the bug**
I cannot login using my institutional mail-id.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the mail-id
2. Enter the password
3. Try logging in

**Screenshots**
After displaying "Checking your credentials", It returns to the login screen with this is error message.
![Microsoft Teams for Linux - bug report snapshot](https://user-images.githubusercontent.com/63329

[2021-06-22 00:58] jijojosephk commented on #435
@gtr25, This might not be problem with this application. Could you verify if the same works in Chrome browser? As far as I know teams works with office 365 accounts only unless it's a guest invite.

[2021-06-22 03:08] gtr25 commented on #435
I used an office 365 account FYI. But this seems a bit weird. My account passed through in other devices and also the other OS (Windows 10) in the same machine. But the same error `We couldn't sign you in. Please try again.` is returned when I tried logging in through a browser on the **Manjaro** that I mentioned earlier. I'll contact the MS support team for further assistance. Thank you!

[2021-06-22 04:20] frealgagu commented on #432
Does it work with latest versions of nodejs?

[2021-06-22 04:43] jijojosephk commented on #432
@frealgagu It's tested on Node 14 and npm 7 running under Ubuntu 20.04

[2021-06-22 04:58] frealgagu commented on #432
Same as @skyghis , working in ArchLinux, thanks a lot @jijojosephk

[2021-06-22 05:04] jijojosephk commented on #432
I changed the screen sharing view from BrowserWindow to BrowserView. Got less time on UI fine tuning. Could you give a try? I'll push another PR.

[2021-06-22 05:08] jijojosephk commented on #432
@skyghis @The-Compiler @frealgagu @IsmaelMartinez Could you try the latest changes?

[2021-06-22 05:20] frealgagu commented on #432
@jijojosephk Nice, I've tested it and now it allow me to choose between the whole screen or to select some window. Previews are also shown.
Thanks for your efforts.

[2021-06-22 07:55] skyghis commented on #432
Thanks, @jijojosephk. Tested and approved, window sharing work perfectly.

Thanks for your efforts.

[2021-06-22 09:03] IsmaelMartinez commented on #435
Do you have a proxy configured for Windows? If so, there is a config option your I'll need to use. Check previous closed issues and/or the config folder. Hope helps

[2021-06-22 09:39] jijojosephk commented on #432
Losing focus of the application seems be related to navigator.mediaDevices.getUserMedia. I opened an issue [https://github.com/electron/electron/issues/29840](here)

[2021-06-22 10:10] The-Compiler commented on #432
I'll be testing it, probably today or tomorrow. If someone needs a PKGBUILD for Archlinux building @jijojosephk's branch:

<details>

[code]

</details>

(as usual, build with `makepkg -si`)

[2021-06-23 09:54] The-Compiler commented on #432
Well, the good news: Screen sharing works, in theory. The bad news: It's of such bad quality that it's unusable for some reason...

![image](https://user-images.githubusercontent.com/625793/123076751-b58b2c80-d419-11eb-80e3-cd0e2fa03022.png)

[2021-06-23 11:12] jijojosephk commented on #432
I think the quality problem you're talking about is most likely the 720p default resolution for the streaming. I'll change it to 1080p and you should see some improvements. I'm assuming the increased CPU utilisation is due to the improperly destroyed stream previews. The more windows present in the preview the more CPU utilisation it would be. Also the preview resolution should be reduced to small

[2021-06-23 11:22] The-Compiler commented on #432
That all sounds very likely, as this is on a 4K screen (and I was sharing the entire screen). Thanks!

[2021-06-23 11:44] jijojosephk commented on #432
Could you check the latest changes?

Summary of changes:

1. Default streaming resolution to 1080p (1920x1080)
2. Now preview elements' video stream is stopped before closing the source selection view.
3. Preview streaming size is reduced to 1/10 of 1080p (192x108)

[2021-06-24 10:24] danilkhromov commented on #432
I also tested @jijojosephk branch on pop!_os 20.10, screen sharing works. I can share the whole screen or single window (something that official linux client still cannot do). I noticed that if i want to share single window i need to have it open on current workspace, not sure if there is a possibility to see windows from all the workspaces.
And also application is losing focus as soon as i click

[2021-06-24 10:42] jijojosephk commented on #432
Thanks @danilkhromov, this had not been tested on multi workspace setup. Thanks for pointing that out. It's most probably something to do with `desktopCapturer` module in electron. Also the losing focus problem is part of the `gator.mediaDevices.getUserMedia` call and I've raised it as an issue in Electron repo [here](https://github.com/electron/electron/issues/29840). Hoping the next release woul

[2021-06-24 17:44] jijojosephk commented on #432
@IsmaelMartinez @DrasLorus   @skyghis @frealgagu @The-Compiler @danilkhromov I've pushed another set of changes which now allows to choose a screen sharing quality. This would list all the qualities from 720p to 4K upon detecting the primary display dimensions. Teams might not support 4K, and even if it does, if the recipients can't support such quality, it's of no use. I'm unable to test  2K and

[2021-06-25 09:01] IsmaelMartinez commented on #431
maybe check again once the #432 gets merged as the version of node has been increased in there. A superb job by @jijojosephk

[2021-06-25 09:03] IsmaelMartinez commented on #402
This was released a while back so is now solved (no-one seems to complain after the change ;))

[2021-06-25 09:03] #402 closed

[2021-06-25 17:12] danilkhromov commented on #432
Thanks for your work man!
Im gonna test this changes on monday, but in my case im not sure that im able to provide any valuable feedback since i only use 1080p screens atm. Also im thinking that 2k 4k outputs might an overkill since people should have good internet connection and thats not always the case, but maybe someone gonna find it useful.

Also im wondering is there a possibility that some

[2021-06-25 17:15] IsmaelMartinez commented on #432
I suspect it would be less of an issue as, I believe, we don't use anymore the plugging hack. Meaning, we are closer to the browser implementation. But MS did surprise us in the past so it might surprise us in the future.

[2021-06-26 06:02] alfsch commented on #432
I'm using 4k, will check this next monday.

[2021-06-26 20:23] IsmaelMartinez commented on #72
Is there anyone in here still interested in this option? a new discussion has started at https://github.com/IsmaelMartinez/teams-for-linux/discussions/436

[2021-06-26 22:50] IsmaelMartinez commented on #432
I had a wee bit of a fight with gitactions but got a pre-release ready for people to try:
https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.8

Increasing the version of electron-builder also brought a few more packages for platforms.

[2021-06-26 22:55] IsmaelMartinez commented on #405
I think the latest version of electron-builder and electron might have brough another option to make this possible. Can someone try the arm64 versions in https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.8  ? They aren't for snap but if those work in a pi, then we might be able to tweak the snap build command to just build it for all (instead of for just 2 architectures). Thanks

[2021-06-27 04:25] jijojosephk commented on #432
Just one thing, it will not show you 2K or 4K if the primary display does not support it. In your case, you would only see HD & FHD. Additional 2 will be shown to users who are having higher resolution displays.

[2021-06-28 06:14] jijojosephk opened #438 "Multi-tenant feature"
### Discussed in https://github.com/IsmaelMartinez/teams-for-linux/discussions/436

<div type='discussions-op-text'>

<sup>Originally posted by **jijojosephk** June 25, 2021</sup>
I've personally suffered from missing this feature on official teams client. What are the problems?

- It only works with one organisation
- Well you can log out and login but there's a terrible bug. After log out when y

[2021-06-28 19:04] joakim-tjernlund commented on #432
Will Request Control/Give Control work as well now?

[2021-06-28 19:11] jijojosephk commented on #432
Currently it's not working that way. I'll investigate how that works in Chrome browser. If it's working there, then there's some hope for investigation and possibly finding the solution.

[2021-06-28 19:18] danilkhromov commented on #432
@IsmaelMartinez @jijojosephk tested the pre-release version today, didnt notice any issues so far

[2021-06-28 19:27] jijojosephk commented on #432
@joakim-tjernlund on Google Chrome it does not show anything like that. Just a small floating component which let's you know that you're sharing screen.

[2021-06-28 19:58] joakim-tjernlund commented on #432
@jijojosephk , OK that was not totally unexpected.
I know MS teams is sensitive to removing/adding audio(headsets). Is this better here?
Can you plugin USB HS(or bluetooth) after Teams has started ?

[2021-06-28 20:02] joakim-tjernlund commented on #432
This hints that some Control should be possible: https://docs.microsoft.com/en-us/microsoftteams/troubleshoot/teams-conferencing/give-control-doesn%E2%80%99t-work-sharescreen

[2021-06-29 06:15] jijojosephk commented on #432
I have not faced any issues with audio. Communications with such interfaces varies between OS I've seen issues with official teams application as well. Probably it's there. My headphone is always connected :)

[2021-06-29 06:16] jijojosephk commented on #432
Thanks for sharing. I'll have a look at this if it's possible in Chromium engine through Electron we'll definitely handle it.

[2021-06-29 06:27] jijojosephk commented on #432
I could not make it work on browser. But the official client works well in this case. It shows a red boarder on the screen and also a tool bar with stop sharing and things like that.

[2021-06-29 08:16] iMontouch opened #439 "Open a Teams Meeting using x-scheme-handler"
To open a meeting from the browser I pointed .config/mimeapps.list to teams-for-linux.desktop:
`x-scheme-handler/msteams=teams-for-linux.desktop`
and in the .desktop file I set the Exec entry to:
`Exec=teams-for-linux %U`

That way, the Meeting URL gets opened using teams-for-linux. In there I have to click "continue in browser" to open the meeting itself (oposed to just getting routed to the meet

[2021-06-29 09:25] neokore commented on #432
I've tested it with a custom AUR build in Manjaro and it works great, great job from @jijojosephk!

[2021-06-29 09:28] neokore commented on #432
AFAIK, this feature is not available on browser. The text where they talk about browsers is just to provide an easy way to check GPU acceleration for their electron instance.

[2021-06-29 09:29] joakim-tjernlund commented on #432
Anyone tested with pipewire? I know there is an issue with MS Teams and pipewire.

[2021-06-29 09:33] neokore commented on #432
In my case I'm using PipeWire 0.3.30 on Manjaro with no issues at all. Webcam, screen sharing and audio is OK. Just the already known annoying focus bug from PipeWire, but nothing else.

[2021-06-29 10:20] jijojosephk commented on #432
I haven't used PipeWire. Is the focus bug you're talking about is on screenshare preview?

[2021-06-29 10:29] neokore commented on #432
Yes, when I select sharing screen, all the windows focuses very fast (to get a preview of each window I guess) and Teams is left unfocused "at the back of the desktop", so you have to focus it again using alt+Tab or your task bar. It's a bit annoying but it is not a blocking bug and I think it is not related to this project. A possible workaround could be trying to refocus the Teams window after t

[2021-06-29 10:33] jijojosephk commented on #432
I see. I had created a new issue in electron repo [here](https://github.com/electron/electron/issues/29840) a few days ago. I'll try to find some workarounds. Thank you.

[2021-06-29 10:41] jijojosephk opened #440 "Losing focus during screen sharing preview"
**Describe the bug**
When the screen share preview is shown, All other running application windows get activated and Teams window goes behind them. User has to manually activate the Teams window.

**To Reproduce**
Steps to reproduce the behavior:
1. Stat a meeting
2. Click on share screen
3. Teams window is inactivated.

**Expected behavior**
Teams window should not lose focus.

**Screenshots**
If

[2021-06-29 11:44] jijojosephk opened #441 "Custom title bar"
**Is your feature request related to a problem? Please describe.**
Not related to any problem

**Describe the solution you'd like**
Custom title bar just like the official client.

**Describe alternatives you've considered**
No alternatives

**Additional context**
None

[2021-06-29 11:45] jijojosephk commented on #438
Depends on: #441

[2021-06-29 14:42] jijojosephk commented on #432
@IsmaelMartinez @skyghis @neokore  Focus issue is handled at #440 and has a workaround for now. This is how it looks. All other windows run panicky and teams window just stands there solid. :smile:

![](https://media1.tenor.com/images/be03d427d853fec193cad4e7f017a3c5/tenor.gif?itemid=10168760)

[2021-06-29 15:12] IsmaelMartinez commented on #439
Hi @iMontouch, thanks for reporting.

Can you use the template to provide information like the package system you are using?

I have seen that issue specially with snap (been more a snap configuration). Thanks

[2021-06-29 15:13] IsmaelMartinez commented on #441
Hi @jijojosephk, do you know what to put in the custom title bar and/or how people can then customize it?

[2021-06-29 15:21] jijojosephk commented on #441
@IsmaelMartinez We could make use of [custom-electron-titlebar](https://www.npmjs.com/package/custom-electron-titlebar). We'll make our own if this module does not satisfy our needs. This is required especially when we have multiple tabs coming in the future implementation #438 So all the tabs (BrowserView) should be inside a container (BrowserWindow). Container will have the Tab implementation. I

[2021-06-29 18:09] danilkhromov commented on #432
Is there any specific setup needed in order to make pipewire screen sharing work? I really want to use wayland session but not able to screen share is a no go.

[2021-06-30 07:18] alfsch commented on #432
I've tested the 4K Resolution with 4K main screen and it works :-D
What I also noticed was that when I select 2K resolution in teams only a black window is shown to the other user. With FHD all is ok.

[2021-06-30 07:50] jijojosephk commented on #432
4K genuinely improves quality over FHD or somewhat similar? Was recipient using 4K? Really curious to know the outcome :smile: . Well, 2K is less popular and is wide screen. Both 2K and FHD has the same height only width changes. May be the aspect ratio is causing some troubles for 2K.

[2021-06-30 07:54] alfsch commented on #432
@jijojosephk  we saw no difference between 4k and FHD on the other side. But we're really happy to have window's sharing back :+1:

[2021-06-30 08:33] jijojosephk commented on #432
@alfsch, 2K and 4K were experimental. I guess Teams web app along with WebRTC and/or teams APIs interfere with quality. May be it's not supported at the moment. But when the future comes, we're ready :smile:  Glad that I could be a help to this group.

[2021-07-01 03:55] jijojosephk commented on #441
The module mentioned above does not satisfy our requirement. So I started a new repo [here](https://github.com/jijojosephk/lintel-bar/tree/development) We'll add it as an npm module in teams repo.

[2021-07-01 08:45] iMontouch commented on #439
FYI: For a feature request, the used system was not part of the template.

**Desktop**
 - Manjaro Ornara 21.0.7
 - Installation is done with yay, using this package: [aur/teams-for-linux](https://aur.archlinux.org/packages/teams-for-linux/)
 - Version 1.0.7-1

Do you need more information or do you want me to fill out the bug/feature template fully?

[2021-07-01 22:01] DrasLorus commented on #432
Ok! I have customized the AUR PKGBUILD to build directly from the git clone of the develop branch (available as `teams-for-linux-git` on the AUR). I have tested and everything works on my machine. However, I have no 2K / 4K screen to test.

I have also tested on Wayland (with sway) and screen-sharing don't work, neither on XWayland nor in pure wayland (using `teams-for-linux --enable-features=UseO

[2021-07-02 05:38] jijojosephk commented on #432
@DrasLorus The focus issue is handled here #440 It's a workaround though. It would keep the teams window active though you see some strange things happen behind the window.

[2021-07-02 09:08] IsmaelMartinez commented on #439
It might be better to ask in https://aur.archlinux.org/packages/teams-for-linux as they manage the aur packages. I believe they are better placed to help on this as it is a packaging issue (I believe)

[2021-07-02 09:29] micwoj92 commented on #439
Maintainer also has GitHub page for that package, so you might also ask there
https://github.com/frealgagu/archlinux.teams-for-linux

[2021-07-02 10:18] simonvanderveldt commented on #432
1.0.8 worked for me with sharing screens (4K display, shared at 1080p, didn't try the higher options since there's not really any point). Thanks for the fix!

[2021-07-02 11:14] IsmaelMartinez commented on #432
closed as 1.0.8 its out. Thanks a lot @jijojosephk for the resolution and everyone else for testing this.

[2021-07-02 11:14] #432 closed

[2021-07-07 06:59] #435 closed

[2021-07-09 09:01] Glamhoth opened #445 "Screen sharing doesn't work"
**Describe the bug**
When clicking the button, I can see 'screen sharing' panel, but then choosing 'Desktop' doesn't open the window with the displays to share. It's working when running Teams on web, for example in Chrome. This but is present for at least 6 months.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a call
2. Press screen sharing button
3. Choose 'Desktop/Window'

**Expect

[2021-07-09 11:01] jijojosephk commented on #445
This is fixed in 1.0.8 version. Could you verify? If you're facing issue since 6 months, you probably don't have the latest version. Fixed at #432. I'm not familiar with Arch. But flatpak may not be the latest one. I'm not sure about that only @IsmaelMartinez  can confirm. For Arch packages @frealgagu, could you help?

[2021-07-09 11:04] Glamhoth commented on #445
I'll verify this then. It seems that AUR package is 1.0.8 now, so it should help

[2021-07-09 11:19] Glamhoth commented on #445
And this indeed helped! 1.0.8 package is just three days old, that's why I missed it. Thanks for the help!

[2021-07-09 11:19] #445 closed

[2021-07-09 11:20] jijojosephk commented on #445
@Glamhoth Glad that it works!

[2021-07-09 12:42] jijojosephk commented on #441
@IsmaelMartinez How does it look?
![image](https://user-images.githubusercontent.com/11662148/125079393-2d777900-e0e1-11eb-886b-62a324001150.png)

[2021-07-10 11:36] IsmaelMartinez commented on #441
Looking good. Good job on it

[2021-07-12 11:51] franva opened #446 "Click Share Desktop nothing happen"
**Describe the bug**
When in a meeting, click "Share Desktop" nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a meeting with anyone
2. Click on 'Share Desktop'

**Expected behavior**
My screen should be shared.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - In

[2021-07-12 11:59] micwoj92 commented on #446
Can't you see that you are not running latest version?

[2021-07-12 12:19] franva commented on #446
hi @micwoj92  Yep, I just found that.

The version I installed is the latest version I got from the Ubuntu built-in store: Ubuntu Software.
For normal users, not developers, we assume that's the latest one.

Not sure why the latest 1.0.8 is not in the store.

[2021-07-12 12:39] jijojosephk commented on #446
@franva, snap store is not yet updated. But you may grab the latest version from releases [here](https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.8). Please choose the right package for you.

[2021-07-12 12:58] #446 closed

[2021-07-12 13:00] jijojosephk commented on #446
@franva Were you able to get the latest version and it's working?

[2021-07-12 13:05] franva commented on #446
hi @jijojosephk  yes, I was able to get the latest version.

It is partially working.

The Share Desktop function is not stable. It works for a while and then stops working.

I ended up using the Teams in my Chrome browser instead.

[2021-07-12 18:37] micwoj92 commented on #446
"For normal users, not developers, we assume that's the latest one."

I don't know how using application store relates in any way to being developer. If you end up here, you can see 1.0.8 under releases as latest.

![image](https://user-images.githubusercontent.com/45581170/125338727-d5df4480-e350-11eb-8e5d-509e5dc4ad3b.png)

[2021-07-12 20:25] IsmaelMartinez commented on #446
snap had 1.0.7 released. Somehow I forgot to release 1.0.8 when that build and before doing the 1.0.9 build... so now, snap is a bit ahead of the pack with 1.0.9 released in there ;)

I will see if I can release 1.0.9 to the rest. I was waiting in case @jijojosephk or someone else added something else to it. I will mark it as pre-release in here... so people can play with it if they want to. (its

[2021-07-12 23:54] franva commented on #446
Hi @IsmaelMartinez  Just one more issue I found that the Share Desktop is not stable.
It works for a few seconds e.g. 30 or more and then the screen on the audience side becomes still.

I tried to do the same in Chrome browser and it works fine without this issue.
Not sure whether you are aware of this issue, so I mention it here.

Cheers

[2021-07-13 05:19] DiegoChajtur opened #447 "Zoom resets to 100% on app close or refresh"
**Describe the bug**
It does not keep the zoom (ctrl +), when closing the application or doing a refresh (ctrl + r)

**To Reproduce**
Steps to reproduce the behavior:
1. zoom in (ctrl + ) or zoom out (ctrl +-)
2. Restart app o do a refresh
3. Zoom now is in 100%

**Expected behavior**
Maintain zoom level

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Linux Fedora

[2021-07-13 06:24] jijojosephk commented on #447
@DiegoChajtur Thanks for bring this up. @IsmaelMartinez Is this new one introduced after #432 ?

[2021-07-13 06:38] jijojosephk commented on #446
@franva Could you open a new issue with the details? That helps us investigate it.

[2021-07-13 07:08] IsmaelMartinez commented on #447
I think this is more a feature request than a bug. We didn't do any work to
maintain the zoom level.

On Tue, 13 Jul 2021, 07:24 Jijo Joseph, ***@***.***> wrote:

[2021-07-13 07:09] jijojosephk commented on #447
ok. @IsmaelMartinez would you like to mark this as feature request?

[2021-07-13 07:39] skyghis commented on #441
Hello,

Personally, I don't like the custom title bar. I totally understand why people like it, but I prefer unity between all windows.

Could you make it an option, and allow use of the default desktop manager one, like now ?

[2021-07-13 07:48] jijojosephk commented on #441
@skyghis, Introduction of custom title bar is only to accommodate tabs #436 in a multi tenant setup. Of course, tabs can be below the title bar but it will use up extra row space which might not look good as well. This follows, google chromes's strategy. It does not follow OS's title bar. The implementation is not started yet. It's activate as a separate project as npm package [here](https://githu

[2021-07-13 09:18] jijojosephk commented on #446
@franva Could you confirm the recipient's operating system?  I tested with Linux haven't faced any issues. We wanted to figure out if it's related to MacOS.

[2021-07-14 11:49] digital-idiot opened #448 "Login does not persist"
**Describe the bug**
Needs to login on each re-launch of MS Teams

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Login should persist, i.e. no need to log in after re-launch / restart.

**Desktop (please complete the following information):**
 - OS: Manjaro KDE
 - Source: `flatpak` (from `flathub`)

[2021-07-14 14:58] IsmaelMartinez commented on #448
Hi, can you check with another package type? We don't support flat pack (it's another repo/support for it). Thanks

[2021-07-15 06:17] digital-idiot commented on #448
@IsmaelMartinez In that case, would you mind removing the `flathub` link from your `README`. Otherwise it appears as `Flathub` is supported.

Installed the AUR package and the issue is not present there. Thanks.

[2021-07-15 06:19] IsmaelMartinez commented on #448
Hi, I leave the flathub and the aur as it indicates the repo where they are supported. Glad that this is working for you. Thanks again for reporting.

[2021-07-15 14:53] micwoj92 commented on #448
It seems like flathub still ships 1.0.0 https://github.com/flathub/com.github.IsmaelMartinez.teams_for_linux

I don't know if it's worth keeping the package in readme if it isn't updated

[2021-07-15 15:50] IsmaelMartinez commented on #448
yep, seems like no-one really cares about this client in there
![image](https://user-images.githubusercontent.com/430992/125817891-075a8334-563b-4755-a152-a0026adb935f.png)
I will update the README good catch.

[2021-07-15 15:51] IsmaelMartinez commented on #448
https://github.com/IsmaelMartinez/teams-for-linux/commit/c824a43b3a8d08990462b552fb75eb7506b1909a Done

[2021-07-25 05:07] whitpa opened #449 "teams-for-linux_1.0.9_amd64.deb contains a data.tar.xz that Debian 8/10 utilities can't cope with"
According to Debian utilities (both Debian v8 and Debian v10), release deb teams-for-linux_1.0.9_amd64.deb's content is "corrupt", although I'm able to access its contents just fine using 7-Zip on Windows.  It looks to me as though the deb's content may be triggering some obscure bug in Debian utilities (ar/ar-equivalent?), or perhaps there is some difference in handling of a sparse file(?).

Stra

[2021-07-25 09:54] IsmaelMartinez commented on #449
Hi, that is strange. Can you check v1.0.8 and see what you get?

On Sun, 25 Jul 2021, 06:07 whitpa, ***@***.***> wrote:

[2021-07-25 10:03] whitpa commented on #449
teams-for-linux_1.0.8_amd64.deb is fine.  So are teams-for-linux_1.0.9_arm64.deb and teams-for-linux_1.0.9_armv7l.deb, BTW.  Only the 1.0.9 amd64 deb is affected.

It looks as though some fluke arrangement of bits in this particular file has triggered a bug in ... something.

[2021-07-25 10:37] whitpa commented on #449
Hmmm ... I just re-downloaded teams-for-linux_1.0.9_amd64.deb and now get an MD5 checksum other than the one I provided above (6964aca5ad2858129120eb6b1990dcc9), and now Debian is able to decompress it OK.

I suspect that I must have been served a corrupted cached object, which has now been evicted from cache, or perhaps a particular load-balance back-end has a corrupted file.

Everything seems OK

[2021-07-25 12:19] IsmaelMartinez commented on #449
Glad to hear that. Ta

On Sun, 25 Jul 2021, 11:37 whitpa, ***@***.***> wrote:

[2021-07-27 10:07] MortenVinding commented on #435
I had the same problem on 1.0.7 (snap 156).
On the current 1.0.9 (snap 172), after entering my credentials, I get to the company's ADFS login prompt, where I can input user and password, but are unable to click on the submit button and enter is ignored.

Solution for both, for me, was to disconnect from the company network forcing Teams to do a full TOTP authentication.
That works and the session

[2021-07-27 14:33] voidreamer opened #450 "The SUID sandbox helper binary was found, but is not configured correctly"
Hi I try to run on an old centos 7, I don't have root permissions.

Running on an old ` 3.10.0-862.9.1.el7.x86_64 `

`[71008:0727/102958.344169:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_teams-JgNlfL/chrome-sandbox is owned by root and has m

[2021-07-28 13:54] IsmaelMartinez commented on #450
Hi, can you provide more details? Use the issue template. Are you sure this
is for teams for Linux and not the ms official one?? Thanks

On Tue, 27 Jul 2021, 15:33 voidreamer, ***@***.***> wrote:

[2021-08-03 16:07] LynHyper opened #451 "Missing tray icon"
**Describe the bug**
Teams successfully opens and a tray icon spawns, however, the tray icon is completely transparent with no visual icon. It can still be hovered over and clicked for a context menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Run teams
2. See the tray icon with no visual icon; context menu is still working

**Expected behavior**
Tray icon should have the Microsoft Team

[2021-08-03 16:18] micwoj92 commented on #451
Flatpak isn't really supported, package there isn't updated. I guess AUR would be good choice for you since you are on Arch.

[2021-08-03 16:18] LynHyper commented on #451
Ah, is the Flatpak version no longer maintained?

[2021-08-03 16:19] micwoj92 commented on #451
Yes, look comments in https://github.com/IsmaelMartinez/teams-for-linux/issues/448

[2021-08-03 16:20] LynHyper commented on #451
Alright then, I'll switch to the AUR version and report back if the issue's still present, thanks for your help!

[2021-08-03 16:38] LynHyper opened #452 "Both teams-for-linux and teams-for-linux-git failing to build"
**Describe the bug**
The AUR packages are failing to build.
- The packages fail to build with the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to install either teams-for-linux or teams-for-linux-git from the AUR
2. Watch both fail for the above reason

**Expected behavior**
Both packages should build successfully.

**Desktop**
 - OS: Arch Linux
 -

[2021-08-03 16:39] LynHyper commented on #451
Closing due to using an older version from Flathub.

[2021-08-03 16:49] LynHyper commented on #452
**Additional testing**
teams-for-linux-git fails with `nodejs-lts-erbium` because it's version is less than 14, using `nodejs-lts-fermium` prevents the dependency error, however, I'm still getting the exact same error as with teams-for-linux and the build still fails.

[2021-08-03 17:54] micwoj92 commented on #452
This should be reported in AUR comments, not here.

[2021-08-03 18:11] LynHyper commented on #452
I'll close this issue then

[2021-08-03 18:11] #452 closed

[2021-08-03 18:16] #451 closed

[2021-08-04 01:06] franva commented on #446
hi @jijojosephk  I am not sure what is the OS for the recipients. But when I meant after 30 seconds sharing my screen, the screen becomes still from my side. Hope it helps.

[2021-08-04 04:02] jijojosephk commented on #446
@franva Could you provide some more details?

- Your operating system, including version information
- Hardware configuration
- Primary display resolution
- I'm assuming the problem is recipients don't get screen sharing updates from you after a certain interval.
- The between start sharing and the screen getting frozen is always fixed? Like always 30 seconds?

[2021-08-16 07:03] agncr opened #453 "Open URLs in default browser"
**Is your feature request related to a problem? Please describe.**
When i open links in Teams (via Ctrl-LeftClick) it will open a new small window. Is it possible to open the link in the default browser? The official teams app opens the url in the default browser.
OS: Ubuntu 20.10
Version: 1.0.9
Installed via: .deb package

**Describe the solution you'd like**
Open the link via default browser.

*

[2021-08-18 05:43] IsmaelMartinez commented on #453
Hi @agncr ,

Thanks for reporting this request.

Have you tried without the ctrl button been pressed?

That should open your link in your default browser, but electron has some "funny" ways sometimes.

The reason the ctrl click opens in that window is related to the tabs and integrations. Is a way to be able to authenticate with an external service but within the electron context.

For security re

[2021-08-18 12:45] clsaclsa commented on #453
I observe the same issue for a few days, but in a slightly different context:

I have always opened links by a simple left-click (without pressing Ctrl). So far they were handled by the default browser as expected.

Now i see a popup instead (translated):
[code]
... which originates from the process "xdg-open about:blank#blocked".
Looks like some kind of protocol handling is broken or forbidden.
T

[2021-08-18 18:02] bugzy commented on #453
I have the same problem. One thing to note though is that if you click on the top left menu grid and click on the other MS 365 apps such as Outlook, Word, or OneDrive, they open as expected in the default browser.

Package: teams-for-linux-1.0.9.rpm on Fedora 34 with KDE Plasma

[2021-08-19 07:43] agncr commented on #453
Yep, that does nothing. The URL gets highlighted, but clicking and also double and triple clicking does nothing. Right clicking, copying URL and pasting it in a browser works though. I've also checked the console while clicking on URLs and there aren't any error.
(I do get a couple of TypeErrors, but those only appear, when i scroll inside a chat, change from Chat to Teams)

I'll try to install th

[2021-08-19 08:51] agncr commented on #453
Installed `teams-for-linux_1.0.9_amd64.deb` in a new VM (PopOS (Ubuntu) 20.10) and i see the same problem. Left Clicking on URLs is not working.

[2021-08-23 23:13] Paul-Houser commented on #453
I'm having the same problem. Left clicking a URL in teams opens Firefox pointed to `about:blank#blocked`.

I'm using teams-for-linux 1.0.9-1 from the AUR on Arch Linux with i3 WM.

[2021-08-24 16:08] IsmaelMartinez commented on #453
I suspect this is a change in Microsoft side (they did something similar last year). Can someone try an older version just to rule that out? Like version 1.0.7 or older. Apologies for not been more useful. No time available (not linux env available)

[2021-08-24 16:09] #449 closed

[2021-08-24 16:09] #450 closed

[2021-08-24 16:11] IsmaelMartinez commented on #440
I believe this is fix and released under 1.0.9. Can you confirm @jijojosephk once you got some time? Thanks in advance

[2021-08-24 16:11] IsmaelMartinez commented on #439
closing due inactivity

[2021-08-24 16:11] #439 closed

[2021-08-25 06:13] jijojosephk commented on #440
@IsmaelMartinez It's a temporary fix to keep the teams window active. You'd see all other open windows shuffled except teams. From a user experience point of view, this makes the teams window active but not a friendly way.

[2021-08-25 06:39] agncr commented on #453
I've installed 1.0.6 (no Package for 1.0.7) and it works. Left clicking on URLs opens my default browser.

[2021-08-25 09:04] IsmaelMartinez commented on #453
Thanks for testing. Then it must be related to the electron version increase.

[2021-08-25 09:15] jijojosephk commented on #453
@IsmaelMartinez on('new-window') is deprecated in latest versions in favour of setWindowOpenHandler. I haven't checked the code but if the previous event handler is used somewhere, we'd better upgrade to setWindowOpenHandler and see if it's working. I'll try that when I'm free.

[2021-08-25 09:27] jijojosephk commented on #453
Could someone explain the scenario a bit more? I trying to quickly reproduce the problem. I have a chat window with https://google.com when I click on that the browser opens but address bar has nothing. Is that the problem? or the browser is not opening at all?

[2021-08-25 10:21] IsmaelMartinez commented on #453
Worth checking reverting this change to see if it is related.
https://github.com/IsmaelMartinez/teams-for-linux/commit/d7925bed899eaad76045ac36a3a08ac7627543f8#diff-fcd76a40df5a5907cd8b9cc625c4744dab419d131843252d7c8b961e7c6e92f1

For the "about:black" pages we had to open a new browserWindow in order to load the content. https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/app/mainAppWi

[2021-08-27 23:25] SayidHosseini commented on #405
@IsmaelMartinez
I tested that on Ubuntu Budgie 21.04 on RPi 4B 8GB and it is working.

[2021-08-28 03:15] jijojosephk commented on #453
1.0.10 is out as pre-release. Snap is available in edge channel.

[2021-08-28 03:18] jijojosephk commented on #453
@agncr You may download the appropriate package now and let us know if everything is ok.

[2021-08-28 08:22] IsmaelMartinez commented on #453
I will see if I can release it tonight.

[2021-08-30 12:17] yaseen-mowzer-hexagon commented on #453
Thanks for all your guys work! I was having the exact same issue and installing the `.deb` of the 1.0.10 pre-release fixed it for me. :tada:

[2021-08-30 16:28] IsmaelMartinez commented on #453
Released so closing. Thanks @jijojosephk for fixing this, and everybody involved for reporting and/or testing the solution.

[2021-08-30 16:28] #453 closed

[2021-09-03 19:14] IsmaelMartinez commented on #431
on that @sergiocasero , you might be able to tweak that by using a windows useragent.

You can pass the user agent like:

```teams-for-linux --chromeUserAgent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Teams/1.4.00.22265 Chrome/85.0.4183.121 Electron/10.4.3 Safari/537.36"```

To know what user agent to use, ask one of your colleagues that is running win

[2021-09-03 19:48] #405 closed

[2021-09-04 06:52] jijojosephk commented on #431
@sergiocasero I managed run mac 10.14 on QEMU VM. Application ran without any problem. Then only trouble is the tray icon very big. Other wise login and everything looks good. I'm not quite sure what's the problem you're facing.

[2021-09-04 07:00] sergiocasero commented on #431
But the problem in my case is that policies are:
Edge with the company email logged in on Windows. And edge uses native login, I can’t change the user agent on the edge app (as far I know)

[2021-09-06 07:51] IsmaelMartinez commented on #431
Check my previous post. The teams-for-linux app does allow you to change
user agent. Steps detailed there.

On Sat, 4 Sep 2021, 08:00 Sergio Casero Hernández, ***@***.***>
wrote:

[2021-09-06 10:50] pablorq opened #455 "Screen share: black screen + mouse vs Ubuntu 21.04 + Chrome"
**Describe the bug**
When sharing the screen, it shares a black screen with the mouse in it.
System: Ubuntu 21.04, teams-for-linux v1.0.10

**To Reproduce**
Steps to reproduce the behavior:
1. Create a meeting
2. Share the screen
4. See a blank screen with the mouse icon

**Expected behavior**
To see the real content of the screen.

**Screenshots**
None

**Desktop (please complete the following in

[2021-09-06 10:52] pablorq commented on #455
When testing on Chrome (Ubuntu 21.04 + Chrome Version 93.0.4577.63 (Official Build) (64-bit) ) it has the same behavior,  this is a black screen with the mouse.

This seems to be a problem related to Ubuntu +Chrome/Chromium.

[2021-09-06 12:08] jijojosephk commented on #455
Thanks @pablorq Could you confirm the display server? is it x11?

[2021-09-06 12:29] pablorq commented on #455
I'm using Wayland.

I know that a workaround is to switch to X11, but I don't want to.  :slightly_smiling_face:

[2021-09-06 12:32] jijojosephk commented on #455
I see, there has been issues with Wayland. I haven't used it.

[2021-09-06 12:46] micwoj92 commented on #455
@pablorq Do you use pipewire?

[2021-09-06 12:51] pablorq commented on #455
### Browser Comparison
After tested the same behavior on Chrome, I started to think that it might be a problem with the browser, about the way it does the screen sharing.

I stated to test Chrome vs Firefox, with interesting results.
- Firefox 91.0.2 (64-bit)
- Chrome Version 93.0.4577.63 (Official Build) (64-bit)

### Testing Screen Sharing
The screen sharing is done by using WebRTC protocol. For

[2021-09-06 12:59] pablorq commented on #455
@micwoj92 pipewire and wayland are by default on Ubuntu 21.04. Also PulseAudio is still present, I imagine to help on the transition.

But pipewire isn't activated by default on Chrome. I haven't tested on Chromium. I don't know if Teams for Linux use Chromium or another one.

[2021-09-06 13:00] micwoj92 commented on #455
Teams for Linux uses electron, which is based on Chromium.

[2021-09-06 13:08] jijojosephk commented on #455
@pablorq Ubuntu is still experimenting with Wayland. I have not tested v21. I'd try in a VM.

[2021-09-06 13:10] pablorq commented on #455
@micwoj92 ok. So maybe activating this flag can help! :slightly_smiling_face:

[2021-09-06 13:12] pablorq commented on #455
@jijojosephk well, that was v20. Now, on v21.04, it the default server and works very well!

The only problem now seems to be updating the apps to work with wayland and pipewire.

:slightly_smiling_face:

[2021-09-06 13:18] jijojosephk commented on #455
Yes, some applications are written specifically for xorg. Wayland will shine but it takes sometime to completely replace xorg. I'm on my work machine. Can't really try on a real hardware. Let us know if setting the flag works for you.

[2021-09-06 13:30] pablorq commented on #455
It works using Teams over Chrome + pipewire flag enabled, as posted before.

[2021-09-07 08:30] IsmaelMartinez commented on #455
you can add that as a config option like the `ntlmV2enabled`

https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/app/index.js#L12

I assume default to false

[2021-09-07 09:47] pablorq commented on #455
@IsmaelMartinez sorry, but I don't know how to do it. :disappointed:

[2021-09-07 10:01] jijojosephk commented on #455
@IsmaelMartinez Is it possible to find the compositor during run time in node? @pablorq could you execute this command and let us know the result? `echo $XDG_SESSION_TYPE`

[2021-09-07 10:13] pablorq commented on #455
Of course!

[code]

[2021-09-07 10:17] jijojosephk commented on #455
Thank you @pablorq @IsmaelMartinez I think this can be used to take decision on add the extra command-line arguments to the code.

Could you get us the result of this as well ?
`inxi -Gxx`

[2021-09-07 10:22] pablorq commented on #455
@jijojosephk , `inxi` is not installed by default. I seems not a good idea to use it, at least on Ubuntu 21.04.

[2021-09-07 10:25] jijojosephk commented on #455
Thanks. So I have question around this that the pipeWire and wayland are mutually dependant? 'enable-webrtc-pipewire-capturer' would always work on Wayland?

[2021-09-07 10:31] jijojosephk commented on #455
@pablorq Could you try launching `teams-for-linux` from shell using this command ?
`teams-for-linux --enable-features=WebRTCPipeWireCapturer` and let us know if screen sharing works fine or not.

[2021-09-07 10:40] pablorq commented on #455
Well, it seems a more complex thing that Wayland and PipeWire are mutually dependant.

The fact is that X11 was managing a lot of things, not only the X server but also including screen sharing. Now the X server is done by Wayland and the screen sharing is done by PipeWire.

This is the base of the problem. Changing X11 by Wayland have cut the support for screen sharing. Now this task rely on Pipe

[2021-09-07 10:52] pablorq commented on #455
@jijojosephk I'm affraid it didn't work as expected.

Now, after select to share the screen, the lower box is still shown to select a screen or window, and set the quality. But now, after select the screen or window, the system dialog is shown (this is good! I think this is the connection with pipewire) and I can select what I want to share, in the same way I do in Firefox or now in Chrome, after

[2021-09-07 11:06] jijojosephk commented on #455
@pablorq I've raised a PR. Let us know if you can build from it. If so, please test it and let us know whether it's working.

[2021-09-07 11:21] pablorq commented on #455
@jijojosephk I not able to build it.

Please have in mind that the option `--enable-features=WebRTCPipeWireCapturer` didn't work. :disappointed:

[2021-09-07 12:31] jijojosephk commented on #455
@pablorq no problem. When @IsmaelMartinez approves PR. Install teams-for-linux from edge channel. `sudo snap install teams-for-linux --edge`

[2021-09-07 19:45] jijojosephk commented on #455
@IsmaelMartinez @pablorq Another PR is on queue. This one seems to be working. @IsmaelMartinez review, and merge when you get free time.

[2021-09-08 08:12] IsmaelMartinez commented on #455
Merged, build takes 5 minutes to build and release. Then snap might take a few minutes to pick it up. Do a snap refresh and/or uninstall and install to get the newest version on the edge channel.

[2021-09-08 08:20] jijojosephk commented on #455
@pablorq Could you try this pre-release?

[2021-09-08 09:20] pablorq commented on #455
It doesn't work. It does detect Wayland but didn't connect with PipeWire and the system window with the sharing options is not showed.

The option `teams-for-linux --enable-features=WebRTCPipeWireCapturer` didn't work neither.

The behavior now is the same as the start: blank screen with the mouse, and only X11compatible windows available for sharing.

:disappointed:

It seems that the `ozono-plat

[2021-09-08 09:29] jijojosephk commented on #455
@pablorq I've tested it on Ubuntu 21.04 GNOME since it's VM I can't share the screen but I could choose open windows and it works. Could you confirm?

[2021-09-08 09:55] jijojosephk commented on #455
@pablorq and @IsmaelMartinez I just increased the version number because in between two builds one release was deleted. I just wanted to make sure the latest code changes are present. Could you refresh the snap? latest version would be `1.0.12`

[2021-09-08 10:17] pablorq commented on #455
Snap refreshed and now the version is 1.0.12. Same result as before, a regression to the starting point: shared screen is black with the mouse and only a few X11 compatible windows available to share.

The system window for screen sharing is not shown.

:disappointed:

[2021-09-08 11:28] micwoj92 commented on #455
Could it just be snap issue? @pablorq have you tried running non snap package and test?

[2021-09-08 13:44] jijojosephk commented on #455
It's not snap. Electron is acting weird! Breaking my head over this.

[2021-09-08 19:11] IsmaelMartinez commented on #455
for snap we do disable wayland
https://github.com/IsmaelMartinez/teams-for-linux/blob/a31d6bceb3149627fe3ae0bf798cd5154c98a480/package.json#L88

This might now work so worth rebuilding without that flag
related to https://github.com/IsmaelMartinez/teams-for-linux/issues/180

You don't need to increase the vresion number. Snap is cleaver enough to increase the internal version number.

[2021-09-09 12:01] jijojosephk commented on #455
@IsmaelMartinez The problem is that the application shows some dialogs to choose window or screen. We're not yet in control of the dialog.

[2021-09-09 14:06] kitingChris commented on #441
Custom Titlebar would be a very nice feature. With or without the multi tennant feature

[2021-09-10 06:13] pablorq commented on #455
Please have in mind the following:
- Teams for linux and Chrome has the same behaviour.
- Chrome + `chrome://flags/#enable-webrtc-pipewire-capturer`: works
- Teams for linux + `--enable-features=WebRTCPipeWireCapturer`: doesn't work

It seems that there's something else on Electron. The option to disable Wayland on snaps could be a point to review...

[2021-09-10 07:18] IsmaelMartinez commented on #455
Have you tried with a non snap package?

On Fri, 10 Sep 2021, 07:14 Pablo ROMERO QUINTEROS, ***@***.***>
wrote:

[2021-09-10 17:01] pablorq commented on #455
I can confirm that the `teams-for-linux_1.0.12_amd64.deb` package works well, but it seems not to be using PipeWire. The screen or windows selection is done by the lower dialog and not by the system window.

But it works!

[2021-09-12 19:50] jijojosephk commented on #455
@pablorq I'm still trying to understand how the Wayland and PipeWire works also how it behaves under electron (Chromium). Glad that it works.

[2021-09-13 16:32] bigiulio commented on #455
Hi there,

I'd be really glad to try the fix to this issue released on tag v1.0.12 on my Debian Bullseye (with Wayland and Chromium 90.0).

But running tag v1.0.12 from source ends with:

`error electron-builder@22.11.7: The engine "node" is incompatible with this module. Expected version ">=14.0.0". Got "12.22.5"`

Is there a way to run it with nodejs 12.22.5?

Thx

[2021-09-13 16:41] jijojosephk commented on #455
@bigiulio The electron version was upgraded as result, node too. You would need v14.x and above to build.

[2021-09-13 17:25] IsmaelMartinez commented on #455
Install nvm and it should allow to switch between node versions.

On Mon, 13 Sep 2021, 17:41 Jijo Joseph, ***@***.***> wrote:

[2021-09-14 08:13] bigiulio commented on #455
Now working with tag v1.0.12 ..

I'll be doing some tests in the next upcoming few days...

[2021-09-15 10:30] geez0x1 opened #461 "Changing password breaks app"
**Describe the bug**
Changing my account password breaks the Teams app, giving a message saying the tab needs to be refreshed. Doing so by pressing the button eventually brings it back to the same point.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Teams succesfully
2. Change your account password
3. Close and start Teams again (cannot recall whether I was actively logged out)
4. Se

[2021-09-15 12:36] jijojosephk commented on #461
@geez0x1 I've seen this in a different context. It has something to do with organisation setup. Ex: being idle for long. It says refresh but refreshing brings back to the same dialog again. I presume auth token expiration causing this. We've been working multi tenant/multi tab feature here #436 which would eventually solve this by allowing user to close the tab and open a fresh new session. @Ismae

[2021-09-15 14:51] IsmaelMartinez commented on #461
Not seen that but it's probably some cached context. You can check in the know issues MD file. I think you might just be able to just remove some folders inside that folder. If you manage to find what ones, it might be possible to force a refresh of them.

[2021-09-17 13:42] jijojosephk commented on #455
@IsmaelMartinez @pablorq What do you think about this one? should we tag it as snap issue?

[2021-09-17 14:13] jijojosephk opened #462 "Need for settings UI"
**Is your feature request related to a problem? Please describe.**
Not related to problem.

**Describe the solution you'd like**
I would like to make some changes which are currently done manually using user interface.

**Describe alternatives you've considered**
Nothing.

**Additional context**
Adding this because custom title bar and multi tenant feature are under development. For those who does

[2021-09-25 10:33] hzonuz opened #463 "black screen while share screen in wayland base desktops"
Hi! I use Arch Linux with gnome and when I share my entire screen I get a black screen because gnome is a wayland base desktop and if you want to share your screen in your app, your app must support pipewire but I think your app doesn't support it.
I'll be happy if you add this feature to your app and support pipewire too.

[2021-09-26 07:58] mcarni opened #464 "asks to install Linux App"
edit: 2021-09-27 corrected debian version

when i launch teams-for-linux for the first time after a fresh boot i get a strange behaviour

after typing in my credentials, I get the message below asking to download and install Linux App

![imgur link](https://i.imgur.com/5K3yxNp.png)

if i close the message about Linux App and i retry (sometimes 3-4 times) to launch teams-for-linux in the end i get

[2021-09-27 11:21] sxiii commented on #463
👍🏻 for the request; I'm also in similar position and I use wayland on Arch (Garuda, Manjaro, Artix and Arch itself) as well as on Fedora. Wayland and Pipewire support for Teams is must-have.

[2021-09-27 12:01] jijojosephk commented on #464
@mcarni Could you add more details to it like OS, version etc? What happens when you click on 'Use the web app instead'?

[2021-09-27 20:00] mcarni commented on #464
@jijojosephk sure, debian 11 stable (not 10 like i previously said, now corrected)
not sure about the point release, i don't have access for a couple of days (I am away for work and the wife uses it)
it is a KDE environment with pulseaudio

i have installed also the linux app from MS and dpkg -i the .deb they provide
but this has some other issues...

hope this helps

if more is needed please let

[2021-09-28 15:24] jijojosephk commented on #464
Thanks @mcarni. @IsmaelMartinez what do you think the problem could be?

[2021-09-29 07:02] IsmaelMartinez commented on #464
It's detecting it's a browser. Normally only happens on the 1st start. Just click the "use the web app" and it should not ask for it again. If it does, it will probably be permissions on `~/.config/teams-for-linux` folder

Those are my bets

[2021-09-29 08:35] IsmaelMartinez commented on #463
This looks duplicated with https://github.com/IsmaelMartinez/teams-for-linux/issues/455 . Closing. Just follow the other thread . Ta

[2021-09-29 08:35] #463 closed

[2021-09-30 13:07] elhennig opened #465 "Re-Login during active call"
**Describe the bug**
Using the client version 1.0.12 (and prior versions) sometimes it happens that Teams logs me out even if I am currently active in a call and asks for a relogin. This is really annoying. Anyway I can also imagine that this is the default behavior made by MS. So the question is, if this is solely happening in this unofficial client or if others encountered this also in the offic

[2021-09-30 13:17] jijojosephk commented on #465
@elhennig, This depends solely on how the security is defined in the organisation. Some would allow to "Keep signed in". Also there is a timeout within which the client should communicate to the server. All of these settings are controlled by office 365 and managed by the IT Team or other responsible teams. You would see this behaviour when you quit the app while logged in and open again so it wou

[2021-09-30 13:19] elhennig commented on #465
Thanks for the explanation. This also might help to solve the problem, as the client then can be excluded from the list of possible causes ;-)

[2021-09-30 13:22] jijojosephk commented on #465
@elhennig Thanks for reporting. Though each contributors are busy, there's a multi tenant feature under development. Though it's progressing slowly, it would come out one day.

[2021-09-30 13:23] jijojosephk commented on #465
@elhennig Can I close this? :smile:  ?

[2021-09-30 13:24] elhennig commented on #465
Yes, I guess so, I will ask our IT guys to solve this if this is a more global issue than I thought before.

[2021-09-30 13:24] #465 closed

[2021-09-30 13:29] jijojosephk commented on #465
@elhennig You can try creating a new MS account and see if it's having the same issue. Teams is free I guess for any user now. But not sure.

[2021-10-01 08:18] enricojonas commented on #455
I am having the same issue. Installed the latest snap package (1.0.12). Running Ubuntu 21.04 on Wayland. This is the share tray I see, with or without flag:

![image](https://user-images.githubusercontent.com/46678516/135587891-743a768a-cdb9-4196-aa85-82e24b91d51b.png)

It's not showing all windows (for exampel firefox is missing).

When I try to share any of the available windows, it doesn't do a

[2021-10-01 13:23] keestux opened #466 "Select an application window to share from another workspace"
With teams-for-linux it is possible to select an application window for sharing. Teams from Microsoft still can't do that. This has been on their TODO list for almost two years now.

So, teams-for-linux still has great value for Linux users.

My feature request is to be able to select an application window that is in another workspace. Right now that is not possible.

[2021-10-01 13:27] jijojosephk commented on #466
@keestux It's a limitation with Electron at the moment. Hope that gets fixed in the future.

[2021-10-01 13:29] jijojosephk commented on #464
@mcarni Were you able to get it working?

[2021-10-02 09:18] damnms opened #467 "wrong encoding when download dialog appears"
**Describe the bug**
when i get a message with an attachment in teams chat (e.g. a pdf) and i try to download it, the download dialog appears but it has very strange symbols

**To Reproduce**
Steps to reproduce the behavior:
1. receive a message with any attachment
2. Click on download
3. the download dialog has wierd symbols instead of readable characters

**Expected behavior**
the download dialo

[2021-10-02 09:54] IsmaelMartinez commented on #467
Hi, thanks for reporting. Check the closed issues. It's a snap
configuration issue. I will see when I am back online if I find the issue
for you.

On Sat, 2 Oct 2021, 10:18 damnms, ***@***.***> wrote:

[2021-10-04 10:33] IsmaelMartinez commented on #467
https://github.com/IsmaelMartinez/teams-for-linux/issues/357#issuecomment-632002149

[2021-10-04 10:33] #467 closed

[2021-10-04 10:36] IsmaelMartinez commented on #455
I think this is a snap issue with Wayland. There might be something we can do to make it work, but I don't have the capacity to investigate. Apologies.

[2021-10-06 19:53] mcarni commented on #464
we have been testing it and so far it still happens even if I click on "use the web app"

i will check the permissons on the .config folder and let you know

M

[2021-10-14 09:39] luis-alves opened #469 "Calendar not showing"
**Describe the bug**
After clicking the calendar tab the pane show a warning: "Couldn't load your calendar. Let's give it another try"

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Calendar tab
4. See error

**Expected behavior**
Display the calendar, and the scheduled meetings.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-ima

[2021-10-19 14:46] mrkaczor83 opened #470 "No meeting notifications in KDE"
**Describe the bug**
I am receiving chat notifications but no meeting notifications. "'--enableDesktopNotificationsHack" doesn't help. Same behavior.

Also there is no sound notifications only KDE tray ones for all the events although I have turned them on.

The second issue might be related to https://github.com/wavebox/waveboxapp/issues/418

**To Reproduce**
Steps to reproduce the behavior:
1. S

[2021-10-20 14:51] GabLeRoux opened #471 "Popup when opening application: Allow snap "teams-for-linux" to change "default-url-scheme-handler" subproperty "msteams" to "teams-for-linux_teams-for-linux.desktop""
**Describe the bug**
Every time we open this snap on Ubuntu 20.04, a popup appears with the following message:

**To Reproduce**
Steps to reproduce the behavior:
1. `snap install teams-for-linux`
2. open Teams

**Expected behavior**
Could prompt for that window, but only once

**Screenshots**

![image](https://user-images.githubusercontent.com/1264761/138115711-85be4bc6-2acc-4a55-aec5-b47e9488bd3b

[2021-10-21 02:28] ndnihil opened #472 "Couldn't load your calendar. Let's give it another try."
**Description**
Calendar worked flawlessly until recently, now it errors with "Couldn't load your calendar" message, and debug console throws corrupt calendar bundle errors for angular.

0.2-angular-jquery.min-eee9041.js:114 2021-10-21T02:27:55.773Z Corrupt calendar bundle
0.2-angular-jquery.min-eee9041.js:114 2021-10-21T02:27:55.773Z Parsing calendar bundle promise failed. Error: Corrupt calendar

[2021-10-23 01:53] jijojosephk commented on #472
@ndnihil @kafene Happy that you have the working calendar with deb and AppImage. Strangely though, It's working for me in snap as well.

[2021-10-23 02:15] jijojosephk opened #473 "Keep dependencies up to date"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-24 01:22] #473 closed, assigned to nobody

[2021-10-24 01:40] jijojosephk opened #478 "Build failure w/ latest dependencies"
Latest dependency upgrade build fails.

[2021-10-25 17:00] #471 closed, assigned to nobody

[2021-10-26 10:10] FPSUsername opened #488 "Javascript error in main process"
![image](https://user-images.githubusercontent.com/10143926/138857504-87dc5e6c-cece-48df-accf-e64c80bd54d9.png)

This first happened when I logged in and this popup happens quite often now. Using release 1.0.14 (appimage) on Arch.

[2021-10-27 00:46] jijojosephk opened #489 "chrome-sandbox permission error on flatpak"
**Describe the bug**
Cannot launch teams-for-linux through flatpak

**To Reproduce**
Steps to reproduce the behavior:
1. `flatpak install --user https://dl.flathub.org/build-repo/62747/com.github.IsmaelMartinez.teams_for_linux.flatpakref`
2. `flatpak run com.github.IsmaelMartinez.teams_for_linux`
3. See error

[2:1026/203546.895323:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary

[2021-10-27 11:04] jakubthedeveloper opened #492 "Can't share screen on Ubuntu"
**Describe the bug**
I can't share my screen.
I click screen share button and nothing happens.

Error in the debug console:

[code]

**To Reproduce**
Join a call, try to share screen or window, nothing happens, error is shown in the debug console.

**Expected behavior**
I should be allowed to chose screen or window and share it to the other people on the call.

**Desktop:**
 - OS: Ubuntu 20.04.3 L

[2021-10-27 18:50] #489 closed, assigned to nobody

[2021-10-28 05:39] jijojosephk opened #497 "Flatpak install - Not launching from menu entry"
**Describe the bug**
Flatpak installation is success but I can't launch from menu. Nothing happens when I click on the menu link.

**To Reproduce**
Steps to reproduce the behavior:
1. `flatpak install flathub com.github.IsmaelMartinez.teams_for_linux`
2. Open menu/launcher
3. Find 'Microsoft Teams for Linux'
4. Click on it

**Expected behavior**
Application should be launched.

**Screenshots**
If

[2021-10-28 06:04] #492 closed, assigned to jijojosephk

[2021-10-28 06:19] #497 closed, assigned to jijojosephk

[2021-10-29 12:56] #488 closed, assigned to nobody

[2021-10-31 13:49] jijojosephk commented on #472
Closing this issue as the reporter confirmed working in another package. @ndnihil I still recommend you to use new flatpak build. Closing this now. Feel free to re-open the problem persisits.

[2021-10-31 13:49] #472 closed

[2021-10-31 13:52] jijojosephk commented on #464
Thanks @mcarni and @mrkaczor83 for the valuable feedback. Glad to know that it works for you. If you can let us know your ideas as feature request we'll definitely try to implement. Closing this for now.

[2021-10-31 13:52] #464 closed

[2021-10-31 14:06] jijojosephk commented on #431
Closing this due to inactivity. Feel free to re-open if needed.

[2021-11-01 03:29] jijojosephk commented on #447
@IsmaelMartinez is yargs used only for command line arguments? Is it suitable for storing application settings? like save the settings dynamically?

[2021-11-01 03:29] jijojosephk commented on #447
@DiegoChajtur We'll work on this and try to provide a fix.

[2021-11-02 03:58] jijojosephk opened #502 "Remove obsolete code"
This is a clean up activity to remove unwanted code.

[2021-11-02 08:58] #447 closed

[2021-11-02 14:00] an-dutra commented on #455
I was able to fix this issue in Manjaro Linux by simple disabling Wayland
1. Open the file /etc/gdm/custom.conf
2. Uncomment (remove #) the line #WaylandEnable=false
3. Save File
4. Reboot system

[2021-11-02 15:42] jijojosephk commented on #455
@an-dutra it switches to X11 and naturally it works. There are many things undone for Wayland in Electron. I've got one machine that's on Ubuntu 20.04 which is X11. Can't really test on a real machine. If someone could step in and try, that would be great. @IsmaelMartinez  and @micwoj92 is it possible with Virtual Box?

[2021-11-02 22:04] micwoj92 commented on #455
Yes, you just need to install that system on Virtual Box and then choose non x11 session in display manager
(Here example screenshot with Fedora and GDM but it should look about the same on all distros)
![image](https://user-images.githubusercontent.com/45581170/139958175-7a419993-41a1-497a-81e9-ab198218923d.png)

[2021-11-04 09:29] simonsteiner1984 opened #503 "Type a message box not in focus"
Click a person in chat, the message box is in focus so i can type without clicking it

[2021-11-04 15:59] jijojosephk commented on #503
Could you add some details? It would be great if you could use the issue template.

[2021-11-04 16:09] simonsteiner1984 commented on #503
OS: Ubuntu 18.04
I had to update to 1.0.20 and had this issue, used to be ok in a older release

[2021-11-04 16:59] jijojosephk commented on #503
Thanks for reporting the platform but we're still not sure we understood the problem. Could you make the description a little more clear?

[2021-11-04 17:43] simonsteiner1984 commented on #503
When I click on a person in teams, at bottom of the window is a box where you enter text, that should be in focus so I can type a message. Most of the the time its not in focus so you have to click on it. The official MS teams client works fine.

[2021-11-04 17:45] jijojosephk commented on #503
Thanks. So are you saying that it used work in older versions?

[2021-11-04 17:47] simonsteiner1984 commented on #503
I think it works in 1.0.6 but that version doesnt load as that had older electron

[2021-11-04 17:55] jijojosephk commented on #503
Which package you used for installation? deb, snap, flatpak?

[2021-11-04 17:56] simonsteiner1984 commented on #503
deb x86

[2021-11-04 17:59] jijojosephk commented on #503
Could you try flatpak or snap? I tried on flatpak install and could not reproduce.

[2021-11-05 07:45] simonsteiner1984 commented on #503
I get the issue on teams-for-linux-1.0.20.AppImage

[2021-11-05 07:51] simonsteiner1984 commented on #503
I get the issue using app from sudo snap install teams-for-linux

[2021-11-05 08:28] simonsteiner1984 commented on #503
I think since I have a slower internet connection, the focus is called before the page is rendered

[2021-11-06 03:33] jijojosephk commented on #503
@simonsteiner1984 So, can we close this if it's not a bug?

[2021-11-06 03:39] simonsteiner1984 commented on #503
It's a bug, can you call focus method after page has finished rendering

[2021-11-06 03:40] simonsteiner1984 commented on #503
Try using the app on a slower internet connection to replicate

[2021-11-06 03:43] jijojosephk commented on #503
@IsmaelMartinez We don't have much control over that as the script written by Microsoft. But I can have a look at it and see what can be done. @IsmaelMartinez What do you think about this one?

[2021-11-08 11:07] sappel24 opened #504 "No main window on native wayland"
**Describe the bug**
When starting the client using the flags to use the native Wayland rendering the application launches but does not draw any window. However application is launched, visible in process list and even the tray icon is loaded.

Terminal output:
`Failed to get the config file, using default values
configFile = {}
INFO: Running under Wayland, switching to PipeWire...
[46747:1108/120

[2021-11-13 09:40] IsmaelMartinez commented on #503
Apologies for the delay on my reply. I was on holidays.

We could do some JavaScript checks after loading and trigger a focus event, but I have found that been pretty unreliable (specially as we don't control the Front-end code and Microsoft can just change it a bit and break our "hack")

[2021-11-13 09:44] IsmaelMartinez commented on #504
That seems related to #444

[2021-11-16 08:02] simonsteiner1984 commented on #503
--onlineOfflineReload=false doesnt helk

[2021-11-18 12:07] loris-av commented on #471
Hi, I have tested @GabLeRoux solution but, doesnt work for me, when I launch from terminal, I have this message, maybe something missing for XFCE DE ?

[code]

[2021-11-24 15:40] mrkaczor83 commented on #470
There is no sound because if electron implementation ... but maybe we can have simple GUI notification like for chat?

[2021-11-25 09:24] crazyscientist opened #505 "Cannot share screen nor window with snap"
I have been using the snap in the past successfully. For a while I was using the official client, but yesterday I switched back.

**Describe the bug**

It seems somewhere along the road screen sharing got broken.

I cannot share a screen or window. Once it fails to share something I cannot reactive the camera.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a meeting
2. Activate camera

[2021-11-25 09:35] micwoj92 commented on #505
Are you using wayland?

[2021-11-25 09:43] crazyscientist commented on #505
Sorry, forgot to mention that. I'm running X11.

[2021-11-30 18:37] geez0x1 commented on #461
A workaround is to delete `~/snap/teams-for-linux/current`; which does mean loggin in again and reconfiguring the settings (e.g. dark theme). This is obviously not ideal, but I was not able to find the particular cached context.

I noticed also that if I leave Teams open when putting my computer to stand-by at night, it is broken the next morning. This is probably a related issue but occurs relati

[2021-12-01 03:23] jijojosephk commented on #505
@crazyscientist , Could you answer the questions below?

- Are you using desktop or laptop?
- Do you have multiple display setup?
- What's the resolution of the primary display?
- What options do you see for 'Quality' in the screen sharing preview?

[2021-12-01 05:55] crazyscientist commented on #505
@jijojosephk Sure, no problem...

* Laptop: Dell Precision 5530
* Multiple Display setup: yes (via USB-C docking station)
[code]
* Primary screen resolution: 5120x1440
* Visible options for Quality: None

Maybe this might also be a helpful information: After closing the dialog I get this error in the JS console:

[code]

[2021-12-01 19:08] jijojosephk commented on #505
@crazyscientist I understood the problem. There is a logic which filters quality of video entries based on the primary display resolution. I would disable that logic and it should work for you. Thanks for reporting.

[2021-12-11 14:26] akmalFir opened #506 "Tray icon not displaying image"
**Describe the bug**
Tray icon does not showing any image. There is icon but just no image

**To Reproduce**
On opening the application it will happen

**Screenshots**
![Screenshot from 2021-12-11 22-14-28](https://user-images.githubusercontent.com/82021721/145680048-8c7ce9df-25cf-4416-ab5b-edef2ba79ce5.png)
The second icon from left is teams icon

**Desktop (please complete the following informat

[2021-12-15 19:17] sean-gray commented on #506
Same issue in KDE neon

OS: KDE neon User - Plasma 25th Anniversary Edition x86_64
Kernel: 5.11.0-43-generic
Packages: 1986 (dpkg), 15 (flatpak), 8 (snap)
Shell: bash 5.0.17
Resolution: 2560x1440, 2560x1440
DE: Plasma
WM: KWin
Theme: Breeze Light [Plasma], Breeze [GTK2/3]
Icons: [Plasma], breeze-dark [GTK2/3]
Terminal: konsole
![Screenshot_20211215_141400](https://user-images.githubusercontent.com

[2021-12-15 19:32] IsmaelMartinez commented on #506
Hi,

I suspect then is some sort of electron-builder config that ain't working.
Can you check if the tray icon was there in an older version? Like 1.0.7
(so using the old electron version)

Thanks and apologies, I am not even in Linux so i can try to help with
advice or ideas but no much else.

On Wed, 15 Dec 2021, 19:17 Sean Gray, ***@***.***> wrote:

[2021-12-15 21:04] sean-gray commented on #506
@IsmaelMartinez Its actually working for the snap and appimage versions of the app correctly. Its only in flatpak version that its not showing. My guess is flatpak requires something extra. I will keep researching this.

[2021-12-18 16:58] jijojosephk commented on #506
@sean-gray @IsmaelMartinez Looks like the icon should be named as the flatpak app Id. Not sure but can give a try.

[2021-12-19 05:59] jijojosephk commented on #506
Renaming the icon didn't work

[2021-12-20 17:18] micwoj92 opened #508 "Build fail on nodejs 17"
**Describe the bug**
teams-for-linux fails to build with nodejs 17. Low priority but something to address in future.

**To Reproduce**
Steps to reproduce the behavior:
1. get source code
2. try to build
3. error

**Expected behavior**
successful build

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Arch

[2021-12-22 18:14] luis-alves opened #509 "Does not terminate related processes after closing app"
**Describe the bug**
After clicking x for closing the app, the related processes continue running. The official app terminates all related processes correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on close window to terminate, and not go to background.
2. open system monitor and search for teams
3. wonder why the processes are still there!

**Expected behavior**
After closin

[2021-12-22 20:10] micwoj92 commented on #509
To terminate all processes right click tray icon and close quit.

[2021-12-22 22:14] luis-alves commented on #509
I must use extension to show the tray icon, and it shouldn’t be that way.

[2021-12-22 22:27] micwoj92 commented on #509
Ah okay, I didnt know you use that way.

[2021-12-23 20:14] IsmaelMartinez commented on #509
Hi, that is intended. If you prefer to close the app on clicking the cross button, you can just use the --closeAppOnCross option. More info in the Readme (under config section). It explains how to create a file etc so you don't need to pass the option always. Hope helps.

[2021-12-24 09:24] luis-alves commented on #509
Thank you @IsmaelMartinez  for you patience with me.

[2021-12-24 09:24] #509 closed

[2021-12-29 11:22] jijojosephk commented on #506
@akmalFir @sean-gray Are you guys using custom themes, icons?

[2021-12-29 15:21] sean-gray commented on #506
@jijojosephk no. Just KDE Breeze theme and Icon that is default in for KDE. I have tried other DE and its the same.

[2022-01-02 15:24] Zahrun opened #510 "Request for Pacstall Support"
[Pacstall](https://github.com/pacstall/pacstall) is a community-driven AUR-like package manager for Ubuntu. We have an ongoing [pull request](https://github.com/pacstall/pacstall-programs/pull/603) to add teams-for-linux to our repository.

Would you like to maintain the pacscript (similar to a PKGBUILD) yourself? We can maintain it for you if you decide not to.

[2022-01-04 07:14] jijojosephk commented on #510
@IsmaelMartinez what do you think? I'm quite busy and I think you're too. Please confirm so that @Zahrun and co and take care of this. Thanks @Zahrun  for letting us know about it. @IsmaelMartinez is the owner of the repo and he will soon respond.

[2022-01-04 09:18] IsmaelMartinez commented on #510
Hi @Zahrun, yes, it will be great if you guys can maintain it. Feel free to update the readme to put a link to it (like the aur one) so if people lands in here, they can get the pacstall package if they want.

[2022-01-04 12:58] Zahrun commented on #510
Hi @IsmaelMartinez,  I've created a MR to include Pacstall `teams-for-linux` package link to the readme https://github.com/IsmaelMartinez/teams-for-linux/pull/511

Thank you for this project!
It comes handy when I have issues with the official client.

[2022-01-04 12:58] #510 closed

[2022-01-05 14:19] Mushoz commented on #455
And the relevant code change for Chromium that fixes it: https://webrtc-review.googlesource.com/c/src/+/232329/

[2022-01-05 22:33] 95A31 commented on #506
Same problem here. I am on a fresh installed Manjaro with KDE.
![image](https://user-images.githubusercontent.com/3296448/148299034-fbca7e44-4ebe-4492-87ac-5deefaa96aad.png)

[2022-01-07 10:23] Mushoz commented on #455
Upstream discussion: https://github.com/electron/electron/issues/31588

[2022-01-07 12:44] Mushoz commented on #455
To answer my own questions:
1. Teams-for-Linux is based on Electron 15.3.0. From the developer console, it is clear that this is based on Chromium 95.0.4638.54.
2. The fix for pipewire is included in Chromium 96.0.4664.45.
3. Based on Wikipedia, Electron v16.x is based on Chromium 96.
4. So in conclusion, Teams-for-Linux would have to upgrade their Electron version to 16.x for this issue to be fix

[2022-01-07 14:41] herbiejhopkins commented on #455
I think part of the issue here is that when XDG_SESSION_TYPE=wayland the app appends the following switch to the electron process:
--enable-features=WebRTCPipeWireCapturer;UseOzonePlatform

From what I can tell this should be comma separated rather than semi colon. If I run the app as follows:
XDG_SESSION_TYPE=wayland2 teams-for-linux --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer

The

[2022-01-07 15:00] Mushoz commented on #455
@herbiejhopkins the duplicate screencast portal dialogs seems to be an upstream issue: https://github.com/electron/electron/issues/32117

Thank you very much for the potential workaround. I do not yet have a meeting, so I cannot test screensharing, but I will report back to let you know if I can get screensharing to work correctly as well.

[2022-01-07 15:04] herbiejhopkins commented on #455
You can test it by starting a meeting with yourself - Calendar/Meet Now. Then join the meeting (add device) on a mobile and you should be able to view the screencast from the desktop.

[2022-01-07 15:27] Mushoz commented on #455
I can confirm that this works! Should literally be a 1 character fix in the source code from what I can see. Thank you very much for tracking this down :) Honestly, this makes this unofficial Teams application even better than the official one, since that lacks any support for screensharing under Wayland.

[2022-01-07 16:38] Mushoz commented on #455
Created a PR to fix this issue here: https://github.com/IsmaelMartinez/teams-for-linux/pull/512
Tested locally and screen sharing is fixed with said PR.

[2022-01-07 18:03] herbiejhopkins commented on #455
Alternate pull request - #513
This is the same flags fix as provided above by @Mushoz and in addition I've added quick hack to bypass the streamSelection window (on Wayland) since the native Pipewire dialog already allows the user to select the source stream. This way the user is only prompted once to select a source stream rather than 3 times.

[2022-01-07 18:17] jijojosephk commented on #455
Thanks @herbiejhopkins and @Mushoz for your efforts. As I understand, only PR needs to be merged. Isn't right? @IsmaelMartinez Please help.

[2022-01-07 19:03] Mushoz commented on #455
Yes, only one. Al though I haven't tested @herbiejhopkins 's MR myself, his looks more complete than my does, since it also solves the duplicate window issue that screensharing currently has.

[2022-01-08 10:11] IsmaelMartinez commented on #455
Thanks @Mushoz  and @herbiejhopkins for fixing this.

I left a couple of small suggestion changes in the @herbiejhopkins one to remove duplicated code. One of the few uses when a callback pattern is actually useful :D.

You should be able to just accept them and commit them via the github UI. I haven't test them so they might break everything (but I think/hope they will just work as they are tiny

[2022-01-08 10:38] herbiejhopkins commented on #455
Suggestions from @IsmaelMartinez have been incorporate. Retested and all seems to still work (after tiny additional change).  PR #513 updated.

[2022-01-09 20:28] IsmaelMartinez commented on #508
spellchecker is always a pain.... I suspect either we need to wait until they upgrade to node17 or see if there is a newer implementation in node17 of the spellchecker. Thanks for reporting!

[2022-01-09 20:30] IsmaelMartinez commented on #455
I have made the 1.0.22 a pre-release. Lets see if people start to complain about issues and, if not, then I will do a proper release. Thanks for contributing!

[2022-01-09 20:30] IsmaelMartinez commented on #504
Can you check with version 1.0.22? its a pre-release but should hopefully fix this. Thanks

[2022-01-12 10:06] jijojosephk commented on #455
Looks fine on x11. If works on Wayland, it should be fine. Someone should confirm how it works on Wayland. Then it can be released and I'd also release to flatpak. @Mushoz and  @herbiejhopkins , would you test flatpak version if I release them?

[2022-01-12 10:39] herbiejhopkins commented on #455
Works for me in Wayland, tested on my Arch/Gnome environment and also on a Ubuntu and Fedora VM. There was someone that commented in the #513 pull request that it didn't work for them - I'm unsure why. Would be interested to hear if it works for others.

Yes, I can test the flatpak if you like.

[2022-01-14 08:02] #505 closed

[2022-01-14 10:04] jijojosephk commented on #455
@herbiejhopkins can you try this ? v1.0.23 flatpak pre-release.
`flatpak install https://dl.flathub.org/build-repo/72605/com.github.IsmaelMartinez.teams_for_linux.flatpakref`

[2022-01-14 10:14] janvanveldhuizen commented on #508
@micwoj92 You said: Low priority but something to address in future.

I am getting this issue when installing teams-for-linux using yay.
How do I resolve it?

[2022-01-14 13:30] micwoj92 commented on #508
Read pinned comments on AUR page...

Also you must have modifed PKGBUILD or something, because if you had used
yay then you should get prompt like
[code]

which makes it not possible to use node17 this way

pt., 14 sty 2022 o 11:14 Jan van Veldhuizen ***@***.***>
napisał(a):

[2022-01-14 13:34] herbiejhopkins commented on #455
I've been testing this by starting a meeting on my desktop and then joining the same meeting via the mobile app to check if I can see the screen share.

No joy with the flatpak version I'm afraid. When I try to share a screen I get the xdg-desktop-portal dialog and can select a monitor to share and it looks as though it's working (I get the share notification in gnome). I cannot see the screen sha

[2022-01-14 15:51] jijojosephk commented on #455
@herbiejhopkins Can you try this?
`flatpak --user override --filesystem=xdg-run/pipewire-0 --socket=wayland com.github.IsmaelMartinez.teams_for_linux` then run using `flatpak run com.github.IsmaelMartinez.teams_for_linux`

[2022-01-14 16:06] herbiejhopkins commented on #455
Yes, that works. I get a few errors in the console regarding sockets:
Failed to connect to the bus: Failed to connect to socket /run/dbus/system_bus_socket: No such file or directory
but screen sharing seems to work regardless.

[2022-01-14 16:07] jijojosephk commented on #455
Thanks @herbiejhopkins I'll have these flags in the flatpak build.

[2022-01-19 08:36] agncr opened #518 "Background effects possible in Chrome"
**Is your feature request related to a problem? Please describe.**
In Chrome/Chromium (not tested with other browsers) it's possible to change background effects (blur/pictures/...) since a time. Would it be possible to add the same functionality to this client?

**Describe the solution you'd like**
Clicking on the three dots it should show the show background effects menu.

**Describe alternative

[2022-01-19 08:39] micwoj92 commented on #518
This could be fixed by
https://github.com/IsmaelMartinez/teams-for-linux/pull/515

comment by @herbiejhopkins
"For me this seems to enable virtual/blured background support which is nice to have. It may just be the user agent bump that did this."

[2022-01-21 10:12] #518 closed

[2022-01-25 19:29] darrellenns commented on #506
Not sure if it's related, but is there supposed to be an unread messages indication on the tray icon?

[2022-01-26 08:54] major-mayer commented on #455
I tried these commands on Manjaro Linux using Gnome/Wayland but the Teams/ Electron just starts in normal XWayland mode. Do i have to pass additional commands to make Teams use native Wayland?

I tried `--ozone-platform=wayland` but it didn't change the situation.
[code]

[2022-01-27 08:31] herbiejhopkins commented on #455
With the appImage at least you can pass --ozone-platform=wayland as a parameter to enable it native Wayland rendereing (not sure about flatpack). This argument is not passed to electron by default though and so still runs in Xwayland since if you start electron with --ozone-platform=wayland you end up with a window without a titlebar and so no way to move or resize (outstanding electron issue).

T

[2022-01-27 08:41] micwoj92 commented on #455
There is https://github.com/IsmaelMartinez/teams-for-linux/issues/441 personally I'm not big fan of custom titlebars, everything runs fine here on openbox and x11 :P

[2022-01-27 13:55] major-mayer commented on #455
So you disable rendering the UI in native Wayland mode, even tho the user explicitly states, that he want's to run the application with the Wayland platform?
Apart from the screensharing problems, this doesn't make sense to me.
The missing titlebars is only a problem if you are using Gnome (one that was discussed heavily in different threads), on KDE you get normal server side decorations, just li

[2022-01-27 13:57] major-mayer commented on #455
I also tried running the Appimage using the `--ozone-platform=wayland" flag and it indeed starts with XWayland, but i only get a white window, even when i refresh it.
![grafik](https://user-images.githubusercontent.com/17907799/151372905-14ee95cd-be92-4718-8e21-00f5e704bf65.png)

[2022-01-27 14:02] herbiejhopkins commented on #455
We're not disabling anything, just not enabling it by default.

You might want to try with 1.0.24 which is using the latest electron.

[2022-01-28 19:33] micwoj92 commented on #506
@darrellenns yes
![image](https://user-images.githubusercontent.com/45581170/151610044-6d7c855d-3f9a-4c1f-9789-7a3b45e3a5a2.png)

[2022-01-28 20:49] darrellenns commented on #506
Interesting - I am on Arch and had "teams" installed from AUR as well as teams-for-linux installed from flathub. I was not getting the indicator in the tray because teams-for-linux was actually using the tray icon from "teams". I removed the AUR-installed "teams", and now I have the missing tray icon issue. So yes, it seems that the missing tray icon issue is what I was experiencing as well.

[2022-01-28 22:59] darrellenns commented on #506
Also I am on gnome, so it's not just kde that is affected.

[2022-01-29 20:03] major-mayer commented on #455
I tried the newer version and when it finally starts it works great with native Wayland mode (apart from the missing window decorations).
But most of the times the Appimage doesn't start at all, with different error messages like this one:
[code]

Maybe i just have to wait until the release gets official and then take the packaged version for Arch from this repo: https://github.com/frealgagu/archl

[2022-02-10 00:30] digital-idiot commented on #448
Thanks for taking the time and updating the flatpak repo. Hi @jijojosephk , I tried the refreshed [flatpak package](https://flathub.org/apps/details/com.github.IsmaelMartinez.teams_for_linux), unfortunately the issue is still there. Every time I launch the app I am asked to login.

[2022-02-10 00:30] digital-idiot commented on #448
Thanks for taking the time and updating the flatpak repo. Hi @jijojosephk , I tried the refreshed [flatpak package](https://flathub.org/apps/details/com.github.IsmaelMartinez.teams_for_linux), unfortunately the issue is still there. Every time I launch the app I am asked to login.

[2022-02-12 09:47] hevanaa opened #519 "Black window on wayland"
Fedora 35 (Nvidia driver 510.47)
Installed from flatpak, version 1.0.23
When launched in Gnome Wayland session, only a black window is visible.
Application works normally in Gnome Xorg.
Application works in Wayland when started from command line with "--no-sandbox" argument.

[2022-02-15 15:15] Mushoz commented on #455
For me this is completely fixed :) Think this issue should be closed? @pablorq is it fixed for you as well?

[2022-02-17 21:13] kon14 commented on #519
You'll want to run Electron using the native Wayland backend.
Doesn't seem to work on 1.0.23's Electron build for Nvidia yet, but I custom built the Flatpak for _1.0.24-pre-release_ and it's working just fine with 510.47.03, including screensharing using Chromium's PipeWire WebRTC capturer.

As soon as the version is officially released and Flathub updates to it you should be able to get this work

[2022-02-18 16:08] sisyphus74 opened #520 "Cannot start teams-for-linux again after quit"
Arch Linux, Wayland, flatpak teams-for-linux
After quitting processes are still active.
Teams-for-linux does not start again. Even after killing processes.
Reboot helps sometimes, b ut not always

[code]
any suggestion?

[2022-02-20 19:27] ashvinnihalani commented on #520
I had a similar issue, it turns out that teams is leaving a background process, visible by the the a tray icon. When that is still running, rather than opening the running process, it fails to launch.

Environment: Arch Linux, X Serve KDE, aur teams for Linux.

[2022-02-28 20:35] Lomanic opened #521 "Unable to install binary release rpm on openSUSE Tumbleweed where nothing provides 'libuuid'"
**Describe the bug**
teams-for-linux asks for a `libuuid` dependency while this package is named `libuuid1` on openSUSE, which makes it harder to install there

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
rpm package is successfully installed on openSUSE, without any override

**Screenshots**

Output for `sudo zypper in ./teams-for-linux-1.0.24.x86_64.rpm`
[code

[2022-03-01 07:35] IsmaelMartinez commented on #448
Apologies for the late reply. Can you check if this persists when doing the
installation with and without root ? Do you have similar problems with
other packages? I had a similar issue with snap a long time ago, and it was
the snap installation/configuration of the config folder. Hope helps

On Thu, 10 Feb 2022, 00:31 Abhisek Maiti, ***@***.***> wrote:

[2022-03-01 12:07] digital-idiot commented on #448
I uninstalled and reinstalled it using flatpak (without `sudo`). It seems the login persists if I kill the app and relaunch immediately, haven't tested if the login persists after a reboot. Weirdly I am facing another problem now, if I click on anything on the menu/chat etc it redirects to login page of teams in my default browser! If I login there it leads to https://teams.microsoft.com/error/oop

[2022-03-01 14:42] steko commented on #520
@ashvinnihalani could you share how to identify the background process apart from the tray icon? I'm running under GNOME and there are many processes running that are somehow related to teams-for-linux. Thanks!

[2022-03-01 16:36] ashvinnihalani commented on #520
I am not soo sure on GNOME, on KDE I have a little Teams Icon in the system
tray. [image: image.png]. You should also be able to check btop/htop and
see that there is a process called teams-for-linux.
<https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/63870_148996021805559_6945915_n.jpg?oh=3803dae3f8804f293f70330c1cbb281a&oe=5931A264>
Ashvin Nihalani
UC Berkeley
832-628-6104

<https://facebook.com/ash

[2022-03-01 17:14] IsmaelMartinez commented on #520
there is a config option (something like --closeAppOnCross ) that you
could use to see if that helps you and closes the app.  Check the
app/config readme for more info. Hope helps!

On Tue, Mar 1, 2022 at 4:51 PM sisyphus74 ***@***.***> wrote:

[2022-03-01 17:16] IsmaelMartinez commented on #448
mmhhh, can you check with another package manager? we distribute in
rpm/deb/snap/and a few others. It smells to me like a flatpak config issue.

On Tue, Mar 1, 2022 at 12:07 PM Abhisek Maiti ***@***.***>
wrote:

[2022-03-01 17:17] IsmaelMartinez commented on #519
sorry, been away for a while for holidays and other commitments. I will try
to release that version soon. Apologies for the delay.

On Thu, Feb 17, 2022 at 9:13 PM Konstantinos Feretos <
***@***.***> wrote:

[2022-03-01 17:18] IsmaelMartinez commented on #455
I think is is fixed in 1.0.24 (that is a pre-release). I will try to
release it soon. Apologies as I have been away for a bit.

On Tue, Feb 15, 2022 at 3:15 PM Jaap Buurman ***@***.***>
wrote:

[2022-03-01 17:49] digital-idiot commented on #448
@IsmaelMartinez you are right. I also noticed that I can't pick files from file picker or use drag and drop either. This problem was not unique to `teams-for-linux` but for some other `Flatpak` apps as well. Personally I don't like `snap` as it slows down boot process with mount service for each snap app. So I installed `teams-for-linux` from `AUR` instead and everything seems to be working. The a

[2022-03-01 17:49] #448 closed

[2022-03-01 19:54] IsmaelMartinez commented on #521
Hi, i never used zipper but can you try installing it without it? Thanks

On Mon, 28 Feb 2022, 20:35 Lomanic, ***@***.***> wrote:

[2022-03-01 19:56] IsmaelMartinez commented on #448
No problems at all. It is probably something to do with your flatpak
installation. Had a bit of a nightmare installing snap and flatpak a
while back because the home directory was not the classic path. Good luck
and glad you found a workable solution

On Tue, 1 Mar 2022, 17:49 Abhisek Maiti, ***@***.***> wrote:

[2022-03-02 13:02] sisyphus74 commented on #520
@IsmaelMartinez, thanks for your answer. the processes are gone, but start again does not work

[2022-03-04 02:19] yananet commented on #520
Same issue.
I have tried flapak version, aur version and the binary version but no luck.
The process is shown as running but I couldn't see any activated window.

[code]
for me the workaround is to remove the configuration directory, then it started to be shown again.
[code]

[2022-03-05 00:28] Lomanic commented on #521
Something like this?

[code]
rpm is used under the hood by zypper anyway (just like apt uses dpkg)

--------
I tried applying the fix in https://github.com/BoostIO/BoostNote-App/issues/1063#issuecomment-901775925 like this
[code]

And sure `rpm -q --requires dist/teams-for-linux-1.0.24.x86_64.rpm` returns the following
[code]
while the current release returns the following
[code]
(new `libuuid1` l

[2022-03-11 10:46] IsmaelMartinez commented on #519
released now. Can you check if that works for you? Ta

[2022-03-11 10:48] IsmaelMartinez commented on #520
that seems to be more of a "session" issue. somehow this use to happen a lot in the past, then when away but you are experiencing again. Hopefully is just a one-off. There is more info in the https://github.com/IsmaelMartinez/teams-for-linux/blob/v1.0.24/KNOWN_ISSUES.md#blank-page

[2022-03-11 10:53] IsmaelMartinez commented on #521
Thanks for the detailed explanation. I remember a long time ago needing to install something around libnotify, but was due my OS having a much newer version of it.

I suspect this is an electron-builder update issue. have you tried updating the electron-builder package and see if that sorts the problem?

https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/package.json#L48

Thanks again

[2022-03-11 10:54] IsmaelMartinez commented on #504
clsoing due inactivity

[2022-03-11 10:54] #504 closed

[2022-03-11 10:55] IsmaelMartinez commented on #470
can you check if this is still the case in 1.0.24? thanks!

[2022-03-11 11:17] floscher commented on #470
@IsmaelMartinez Yes, this is still an issue, in my case on Ubuntu Gnome 20.04. Other notification types (like calls and chat notifications) are working, but meeting notifications are not.

[2022-03-11 11:27] sisyphus74 commented on #520
Thanks, @IsmaelMartinez , Right click on the Microsoft Teams icon tray and click on Refresh. Works. I had to install an tray icon extension for gnome. remove cache did not work.

[2022-03-11 14:34] sisyphus74 commented on #520
@IsmaelMartinez  There is no Application\ Cache folder in flatpak teams-for-linux... Is there an alternative folder?

[2022-03-11 17:27] IsmaelMartinez commented on #520
check if its in the .var (https://github.com/IsmaelMartinez/teams-for-linux/blob/v1.0.24/KNOWN_ISSUES.md#config-folder-locations) otehrwise you might need to check with the flatpak documentation. hope helps.

[2022-03-12 07:22] sisyphus74 commented on #520
@IsmaelMartinez , thanks for your answer. config folder is where it should be. but in the config folder there is no Application Cache folder. i have searched for it.

[2022-03-12 20:04] alfredoivan commented on #28
hello, any option to disable spell check completely? i'm using 1.0.20 appimage and it just doesn't work well the spellchecker.
it seems you right click on the text field and it does nothing.
i tried with and without --rightClickWithSpellcheck=false and with or without modifying config.json

[2022-03-12 21:30] IsmaelMartinez commented on #28
That is strange. The config option is clearly that one.

I wonder if the config option is just not working and or loading too late.
Can you build from source and put a few console.log messages in?

I am in MacOs and can't be considered representative. Apologies.

Also maybe try with a space instead of = (but I think is =).

I can see in the browser/index.js the following if statement:
[code]

On S

[2022-03-12 21:56] alfredoivan commented on #28
i check and come back to you.
Maybe being AppImage makes it slightly different.
Also i want to test latest appimage but i am unable to right now.

[2022-03-13 13:07] alfredoivan commented on #28
More information about the "cannot deactivate spell check" issue:
program version:
teams-for-linux-1.0.24.AppImage

command line arguments:
"--rightClickWithSpellcheck=true"

configFile = { closeAppOnCross: false, rightClickWithSpellcheck: true }

With this configuration, right click does *nothing*.
Also MS Teams options doesn't allow activate / deactivate spell check:
![image](https://user-images

[2022-03-16 23:29] CasperOng commented on #171
I believe --no-sandbox does make it working

[2022-03-16 23:31] CasperOng commented on #508
Same Error. Can anyone know how to install a support version of node js or how to build on the node 17 environment

[2022-03-16 23:33] micwoj92 commented on #508
Read. See post above to check names of what package you need to install (on Arch Linux)....

[2022-03-17 08:27] lukasmatt commented on #171
That finally worked for me. I am happy to contribute some debug logs if you tell me how :)

[2022-03-17 23:57] CasperOng commented on #171
@lukasmatt You are welcome. I also want to know how to contribute to some debug logs xD. May I ask you a few questions?

What platform are you on?
What desktop environment or windows manager?
Do you execute teams --no-sandbox on terminal or you use another ways. If yes, how?

[2022-03-18 07:13] lukasmatt commented on #171
@CasperOng sure thing :)

I am using Arch Linux with i3 as windows manager. But I think I found the problem.
I am quoting from the AUR package repository (https://aur.archlinux.org/packages/teams):

They suggest using `--no-sandbox` or `--disable-seccomp-filter-sandbox`.

I guess I have to stay put. Downgrading libc is not an option for me.

[2022-03-18 07:39] CasperOng commented on #171
Thanks.
I am using Arch Linux with highly modified KDE. I install it with Snap. And so far i have not been facing this problem xDD

But when I first try installing team using AUR. I got this issue thats why I am here btw.

[2022-03-20 14:59] hevanaa commented on #519
Thanks, could you build the 1.0.24 flatpak? Or I'll do it at some point and check it.

[2022-03-21 13:35] matusaurio opened #524 "Tray icon notification badge"
**Describe the bug**
Tray icon notification badge only works with the default icon theme but when I choose a different one, presumably with its own teams icon, the notification badge it's not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a different icon theme (e.g., Gnome Tweaks/Appearance/Icons)
2. See the notification badge disappear because a different icon is now in plac

[2022-03-21 13:42] jijojosephk commented on #524
@matusaurio I'm not sure this can be fixed because teams-for-linux is the binary name and it's not explicitly added in the theme by the theme developer. Isn't it @IsmaelMartinez  ?

[2022-03-21 23:16] IsmaelMartinez commented on #524
Dunno enough about that area on the os part. I suspect there might be some link missing between the two. You could try editing the icon and then packaging it. Not tried changing the icon after build. 🤔

[2022-03-27 12:21] hevanaa commented on #519
Thanks, it is working now.

[2022-03-27 12:21] #519 closed

[2022-03-31 19:36] petersilva opened #526 "screen share broken on ubuntu 22.04 with snap package."
**Describe the bug**
I have a ubuntu 22.04 installed, and everything seems fine, when I try to share content
in a call ... it gives me the first dialog for sharing screens, then a second dialog where I can choose
the entire screen or a single window.  It doesn't matter which one I pick, share never works.

**To Reproduce**
Steps to reproduce the behavior:
1. Install from Snap Store
2. Click on Sha

[2022-04-01 02:27] CasperOng opened #527 "Sign-in Error."
**DISCLAIMER: IT COULD BE MY PROBLEM.**
"We couldn't sign you in. Please try again." Infinite loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal.
2. Type `teams-for-linux`
3. Press Enter.
4. Enter Email
5. Enter Password.
6. Click on yes
7. See the error

**Expected behavior**
Login

**Screenshots**
Nah I think you understand.

**Desktop (please complete the following inform

[2022-04-01 06:35] IsmaelMartinez commented on #527
Can you check the known issues section? Rarely, if the app crashes, it can
leave the config folder ina odd state.

Otherwise check closed issues, some had that problem due their IT network
configuration.

Hope helps

On Fri, 1 Apr 2022, 03:27 Casper, ***@***.***> wrote:

[2022-04-01 06:36] IsmaelMartinez commented on #526
Can you check the closed issues? Some people had a similar issue and was
sorted (something to do with Wayland). It could also be a snap
configuration issue.

If the later, you can check if that works fine using another package
distribution. Hope helps

On Thu, 31 Mar 2022, 20:36 Peter Silva, ***@***.***> wrote:

[2022-04-04 14:47] luigimannoni commented on #91
I am very sorry to bump this issue but it seems this appeared again in the latest version. on ubuntu 22.04

[code]

[2022-04-04 18:35] kon14 commented on #526
I bet this is the exact same bug I've been hitting in Fedora 36 (Gnome 42).
Happens consistently across Chromium/Electron and OBS, with FF working fine and all of them working perfectly in Fedora 35 (Gnome 41).

OBS pretty much rules out being a Chromium-specific regression, but it's also not a full-blown PipeWire/xdg-desktop-portal one either as FF remains functional and it can't be an app regres

[2022-04-04 18:54] kon14 opened #528 "Teams often segfaults on native Wayland (electron#32436)"
This is technically an [Electron bug](https://github.com/electron/electron/issues/32436) that's already resolved upstream (fix available in Electron 17), but I've been wishing to open up an issue about it for anyone else stumbling upon it.

Basically, there's a race condition related to certain leftover X11 code that causes the app to crash while running as a native Wayland client.

It happens mos

[2022-04-07 10:53] nickjwhite opened #529 "teams crashes at startup on newest sway (wayland) compositor"
When starting teams-for-linux with --ozone-platform=wayland with sway 1.7, it doesn't start, with this error message:
  INFO: Running under Wayland, switching to PipeWire...
  interface 'wl_output' has no event 4
  Trace/breakpoint trap

This is due to a bug with electron, fixed upstream, where it binds to whatever is the newest wayland interface available, rather than the latest one it knows how

[2022-04-08 00:18] jeremiah-miller commented on #529
Hopefully the official teams client updates to a fixed version of electron soon but if not, it would be nice if this electron wrapper used it

[2022-04-08 11:24] ArashTheKID commented on #357
This happens again on **Ubuntu 20.04 LTS** with gnome desktop. Though the solution helps, i need to run it again every time I (re)start the application... :-(

[2022-04-09 12:44] alfredoivan opened #530 "spellChecker issue / request"
**Is your feature request related to a problem? Please describe.**
spellcheck option not working:
[](https://user-images.githubusercontent.com/5880102/158060677-b5eb0e0c-ff70-4703-85a5-383e6b4187a4.png)program version:
teams-for-linux-1.0.24.AppImage

command line arguments:
"--rightClickWithSpellcheck=true"

configFile = { closeAppOnCross: false, rightClickWithSpellcheck: true }

With this config

[2022-04-09 16:50] IsmaelMartinez commented on #530
Hello and thanks for reporting

Can you check if this works with another package? Like dev or rpm.

Thanks

On Sat, 9 Apr 2022, 13:45 alfredoivan, ***@***.***> wrote:

[2022-04-09 16:50] IsmaelMartinez commented on #357
This is strange/annoying. Can you try with another package and see if it
works more reliably? Thanks

On Fri, 8 Apr 2022, 12:24 Arash S., ***@***.***> wrote:

[2022-04-09 16:53] IsmaelMartinez commented on #529
Hello. Unfortunately I don't have the time nor resources to update the
electron version, but would be happy to help/support any of you guys doing
the upgrade.

I suspect only the speelchecker might give some trouble, but nothing that
can't be solved.

If anyone can, just open a PR and fire any questions. Will try to
support/help as much as possible.

On Fri, 8 Apr 2022, 01:18 Jeremiah Miller, ***@

[2022-04-09 16:56] IsmaelMartinez commented on #91
Hi, can you try another package system? Do you have any issues or it's just
an annoying warning? Thanks

On Mon, 4 Apr 2022, 15:47 Luigi Mannoni, ***@***.***> wrote:

[2022-04-12 10:13] Mushoz commented on #528
Electron 17.x.y also supports Wayland window decorations (https://github.com/electron/electron/pull/29618), which is a huge improvement as well. So upgrading to Electron 17 or even 18 would be a big improvement in multiple ways :)

[2022-04-13 09:12] ScarletFlash commented on #171
`teams --disable-seccomp-filter-sandbox` worked for me

[2022-05-10 18:43] DruboSaptapan commented on #455
Write "**chrome://flags/#enable-webrtc-pipewire-capturer**" in the search box and enter. There will be default there. Enable it.

[2022-05-16 14:30] luis-alves commented on #526
Since upgrading to Fedora 36 I've the same problem.

[2022-05-18 08:30] #530 closed

[2022-05-18 08:55] IsmaelMartinez commented on #528
Hello, I invite you people to open a PR. I will happily help as much as I can to get it over the line.

I believe the main problem will be with the spellcheck but screen-sharing might also break. Talking from previous experiences. Thanks in advance.

[2022-05-18 08:57] IsmaelMartinez commented on #527
closing due inactivity. Do ping to re-open if required

[2022-05-18 08:57] #527 closed

[2022-05-18 08:58] IsmaelMartinez commented on #524
closing due inactivity. do ping if needs re-open. Thanks

[2022-05-18 08:58] #524 closed

[2022-05-18 08:59] IsmaelMartinez commented on #521
closing due inactivity. do ping if needs re-open

[2022-05-18 08:59] #521 closed

[2022-05-18 09:01] IsmaelMartinez commented on #520
Might I ask you to try another package type and see if this issue still persists? flatpak and snap adds another layer of complexity. Sometimes is the configuration that breaks things. Thanks in advance!

[2022-05-18 09:04] IsmaelMartinez commented on #508
Any luck trying to fix this? it will be good to get node17 and see if that sorts some of the issues.

Might need some code changes specially around the spellchecker . Thanks in advance

[2022-05-18 10:59] whisperity commented on #526
Ubuntu 18.04 with KDE, X11. It was broken for a while, then started working again, then now broken again.

[2022-05-18 18:41] IsmaelMartinez commented on #526
Hi, have any of you tried with another package manager?

[2022-05-19 07:50] whisperity commented on #526
@IsmaelMartinez Hey! I have the thing installed natively.

[2022-05-21 12:43] jijojosephk commented on #520
Looks like it's specific to Wayland. I'll have a look.

[2022-05-21 12:46] jijojosephk commented on #529
@nickjwhite can you tell me which flavour of linux you're using. For me to reproduce I would like to use the same.

[2022-05-21 12:49] jijojosephk commented on #508
I'm not what can be done. Looks like electron follows node LTS. Electron 18 still depend on 16 LTS.

[2022-05-21 14:57] sisyphus74 commented on #520
@IsmaelMartinez, sorry for my late answer. Maybe Wayland specific... I can live with the refresh workaround.

[2022-05-21 15:09] jijojosephk commented on #520
@sisyphus74 we're not ignoring wayland. I'll work on a fix hope to release soon.

[2022-05-21 15:16] sisyphus74 commented on #520
Thanks for your great work

Am Sa., 21. Mai 2022 um 17:10 Uhr schrieb Jijo Joseph <
***@***.***>:

[2022-05-22 04:25] 22-all commented on #520
This error occurs for me (Arch Linux, Gnome, Wayland) as well. Maybe this helps:

-  The AUR version closes completely and can be restarted when starting it with `--closeAppOnCross`.
- The Flatpak (from Flathub) and Appimage versions (from [here](https://github.com/IsmaelMartinez/teams-for-linux/releases)) do not close completely even when started with `--closeAppOnCross`. [This workaround](https:

[2022-05-23 21:59] hierr commented on #526
Also stopped working for me after updating to Ubuntu 22.04 from 21.10. Installed via .deb package.

[2022-05-24 21:44] luis-alves opened #533 "Unable to share screen while on Fedora Silverblue 36 with wayland session"
While using Fedora Silverblue 35, I was able to share my screen or window without issues. Since rebasing to Fedora Silverblue 36, still with Wayland, I can't, but with X11 session it is possible.

There a similar issue, I think, with the [Ubuntu distribution.](https://github.com/IsmaelMartinez/teams-for-linux/issues/526)

 - OS: Fedora Silverblue
 - Installation package: Flatpak
 - Version: 1.0.24

[2022-05-25 08:19] cpfeiffer opened #534 "Leaks X11 client connections, eventually causing screen sharing failure"
I'm on X11 and screen sharing works well in general. However, every time I start and stop screen sharing, an X client connection is leaked. You can verify it with
`lsof +c0 /usr/lib/x86_64-linux-gnu/libX11.so 2>/dev/null | cut -d' ' -f1  | grep teams-for-linux  | wc -l`
(credits go [here](https://bbs.archlinux.org/viewtopic.php?pid=1611548#p1611548)). The connections counted with `wc -l` increases

[2022-05-26 07:30] opalmay commented on #470
I'm using Bspwm with dunst for notifications and I'm facing the same issue.
With the official client, message notifications show as native dunst ones, but meetings and calls as custom team ones. Just using the web client in any browser acts like this client, not showing meeting notifications at all. Which makes me think it was just not implemented on microsoft's side and this project probably can'

[2022-06-05 16:59] FinixFighter commented on #506
I have the same issue in a Linux Mint 20.3 (Xfce version)

[2022-06-05 21:35] micwoj92 commented on #508
Hello, why was this closed?

W dniu sobota, 21 maja 2022 Jijo Joseph ***@***.***>
napisał(a):

[2022-06-17 08:08] jftempo opened #536 "Tray Icon not displaying unread messages"
Hi,
Sometimes the tray icon does not display the notifications (unread messages) until I click on the Team Window to put it in foreground, then all notifications are shown.
This is a random issue.

Could be linked to this error displayed in the console:
(teams-for-linux:134654): libnotify-WARNING **: 09:42:42.489: Failed to connect to proxy

I'm using v1.0.24 on Ubuntu 20.04 and XFCE.
Thanks.

[2022-06-18 11:12] josemcvgh commented on #526
Hi, I have had the same problem, I got an error when trying to share the screen from teams-for-linux, I am not an expert in linux, but by insisting in the end I got a (temporary) way to share the desktop screen.

I have used as a bridge a **Firefox window with google meet** capturing the screen. I give to present without microphone and without webcam.

Then, in a **chrome browser window, I launch

[2022-06-21 15:29] chrihoff commented on #536
Same issue here actually and its a big problem for me. I also randomly don't get notifications if Teams is running in the background. When I put the Teams window into the foreground for some time, the notifications are displayed.

At least for me, this is a new issue that I started seeing about 1.5 weeks ago. The likely trigger is probably a change on the Microsoft side (changes in the HTML or the

[2022-06-21 18:33] ideamoves opened #537 "arm64 support"
**Describe the bug**
$ sudo snap install teams-for-linux
error: snap "teams-for-linux" is not available on stable for this architecture
       (arm64) but exists on other architectures (amd64, armhf).

**Expected behavior**
Please upload a build for the arm64 aarch64 architecture. Thank you.

[2022-06-24 08:30] IsmaelMartinez commented on #537
Hello! Sorry but somehow I wasn't able to publish to snap with arm64. You can use another package manager to use the arm64 version from the [releases section](https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.24)

Feel free to try to solve the puzzle by adding a new line in https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/package.json#L33. with the arm64... it might

[2022-06-24 08:36] IsmaelMartinez commented on #536
I believe this is a limitation on electron and how it handles the "focus". Basically the browser still think is in focus when you got it minimised. Can you confirm this is basically what you are seeing? Basically, you would get notifications for the channel you are in, as it thinks you are "seeing it"

[2022-06-24 09:20] chrihoff commented on #536
Thanks @IsmaelMartinez for your ideas.

Meanwhile, I also started Teams in my browser (chromium) and noticed the exact same behaviour. I would expect the title of the browser tab to change to show e.g. "(1)" in the beginning of the window title if there is one new notification / message from someone. But this only happened once I put the browser tab in focus. The title didn't change as long as the

[2022-06-27 13:22] IsmaelMartinez commented on #536
if it happens on the browser, then is MS issue. Apologies but little we can do from here :/ (Not the 1st time something liek this happens)

[2022-06-27 13:32] IsmaelMartinez commented on #508
apologies, reopened. Feel free to put a PR if you can/know how to upgrade. Seems like it would require quite a bit of extra work

[2022-06-27 13:34] IsmaelMartinez commented on #506
I think the unread messages is a MS bug they introduced in the browser version. read in https://github.com/IsmaelMartinez/teams-for-linux/issues/536 for more info.

[2022-06-27 13:39] IsmaelMartinez commented on #533
Hi @luis-alves, thanks for reporting the issue.

I believe this is blocked until someone upgrades the node version of this project. I invite you to try and I am happy to help, but can't lead this unfortunately due time.

[2022-06-27 13:40] IsmaelMartinez commented on #534
Hi @cpfeiffer , thanks for reporting. Unfortunately I have no time for this application. I think this might be related to the node version, but maybe I am wrong. Can you check if you get the same issue with another package manager? (just to rule out the AppImage) Thanks in advance

[2022-06-27 17:14] micwoj92 commented on #508
Thanks for the reopening. You have previously mentioned it is issue with spellchecker, it is maintained by atom team and atom will stopped being developed on 15th december of this year https://github.blog/2022-06-08-sunsetting-atom/
So probably unless someone else forks it then we are out of luck.

[2022-06-30 13:57] ideamoves commented on #537
Thank you, teams-for-linux-1.0.24-arm64.AppImage works well for me

[2022-07-08 05:58] BlackSmith opened #538 "Impossible to submit company login."
**Describe the bug**
I can not submit company login in the form (picture is behind). If I click on the button "submit" (or press enter) nothing happen.
In web debug console, I can not see anything. When I try to log in by Firefox, it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Download file teams-for-linux-1.0.24.AppImage
2. Run
[code]
3. Enter your company credentials.

**Ex

[2022-07-11 05:57] BlackSmith commented on #538
Hi @IsmaelMartinez,
It's true, that I had not Chrome installed.  I have tried to install Chrome and login by it works well. But The Teams (*.AppImage version) still does not work. The same problem as I describe above (I can not submit login form).

I use Teams (flatpak version) for many years, but with upgrade to Fedora 36 (from Fedora 35) I have problem with it. The application start, but I don't

[2022-07-13 09:45] FrostbittenKing commented on #538
Hi @IsmaelMartinez , I have the exact same problem with a fully updated Arch Linux.

[2022-07-13 10:42] IsmaelMartinez commented on #538
Hey, can you kill the process and try to open the app via the terminal? That will give you some logs that might help understand the issue. Thanks

[2022-07-14 23:16] rafatosta opened #539 "Unknown directory when saving"
**Describe the bug**
When downloading attendance list the rescue window appears in an unknown directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Participants
2. Click on the 3 Higher Right Points
3. Download attendance list

**Expected behavior**
Appear in the user folder or download

**Screenshots**
![image](https://user-images.githubusercontent.com/18619894/179116396-2631fb72

[2022-07-15 04:36] BlackSmith commented on #538
[code]

[2022-07-15 10:01] BlackSmith commented on #538
OK. Thank you very much.

BTW: I played with flatpak version and I have fixed it. :)
It helped me to remove all unnecessary freedesktop flatpak packages and voilà I can see the teams windows.

[code]

[2022-07-17 08:40] kon14 commented on #533
In the meantime you could run this with `flatpak run com.github.IsmaelMartinez.teams_for_linux --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WebRTCPipeWireCapturer`

Only thing is, there are still some X11 bits being expected in this version of Electron that result in a race condition, meaning it won't always be brought up in the first run and it'll sometimes crash

[2022-07-23 13:14] rafatosta commented on #539
The problem was precisely the permissions. If you can leave --filesystem=host by default it helps a lot with this kind of problem.

[2022-07-23 13:14] rafatosta commented on #539
The problem was precisely the permissions. If you can leave --filesystem=host by default it helps a lot with this kind of problem.

[2022-07-23 13:15] #539 closed

[2022-07-29 05:14] volkflo commented on #538
@BlackSmith Could you please explain how you removed these packages or maybe even contribute your changes ? :)

[2022-07-29 05:49] BlackSmith commented on #538
@volkflo It is not so complicated.
1. I checked flatpak teams package
[code]
2. And I saw, that I had a mess in `org.freedesktop.Platform` flatpak packages from previous Fedora version.
[code]

3. I uninstalled `com.microsoft.Teams`,  all `org.freedesktop.Platform.*` and all useless  flatpak packages, one per others. If some them is a requirement of other flatpak packages, I skipped them. I think

[2022-07-29 05:51] volkflo commented on #538
Thanks a lot @BlackSmith! I will try that as well :rocket:

[2022-08-02 07:07] jijojosephk opened #542 "Upgrade electron version to 20.0.0"
**Describe the bug**
It's a build activity not a bug. This would upgrade all the dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Not applicable.

**Expected behavior**
Not applicable.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Linux
 - Installation package: [All]
 - Electron vers

[2022-08-02 07:32] jijojosephk commented on #542
![image](https://user-images.githubusercontent.com/11662148/182317880-57bdbdfd-06db-4725-8184-5294727c072a.png)

Spellchecker is dead! Sorry, I'll have to remove it.

[2022-08-02 09:22] jijojosephk commented on #542
@IsmaelMartinez snap publish fails. Something wrong with credentials.

`Run yarn dist:linux:snap --publish always
yarn run v1.22.19
$ electron-builder -l snap --publish always
  • electron-builder  version=23.3.3 os=5.15.0-101[4](https://github.com/IsmaelMartinez/teams-for-linux/runs/7628293554?check_suite_focus=true#step:6:5)-azure
  • loaded configuration  file=package.json ("build" field)
  • p

[2022-08-02 17:37] jijojosephk commented on #537
@ideamoves if you think you're problem is resolved, could you please close this defect? @IsmaelMartinez snap publish token seems to have expired. I'm not sure what can be done next.

[2022-08-03 08:19] jijojosephk commented on #536
@jftempo @chrihoff what I found is that it's related to icon theme. Not sure how to fix.

[2022-08-03 08:21] jijojosephk commented on #506
This has something to do with icon theming. #536

[2022-08-03 08:24] jijojosephk commented on #537
Closing as this is not related to application but publish issue with the snap store. Also, the work around solution works.

[2022-08-03 08:24] #537 closed