[2022-08-03 08:25] jijojosephk commented on #538
Do we need company login?

[2022-08-04 14:35] ThePsyjo commented on #526
This might be the solution, it fixes screen sharing for me: https://github.com/IsmaelMartinez/teams-for-linux/pull/545

[2022-08-05 13:50] jijojosephk commented on #526
@ThePsyjo you just renamed an IPC message name. It should not fix the actual problem.

[2022-08-05 13:57] jijojosephk commented on #528
@kon14 please check when the new one is released. Upgrade to v20.0.0 is complete.

[2022-08-05 16:04] kon14 commented on #526
I'll test this as soon as I get the chance to do so.
I had already previously rebased `v1.0.24` to Electron `v19.0.9` for a custom Flatpak build of mine and everything worked as expected, so hopefully this one will do so as well.

[2022-08-05 17:42] jijojosephk commented on #533
I tested on Fedora 36 GNOME it's working. Could you share some more detail?

[2022-08-05 17:48] jijojosephk commented on #533
Sorry, I did not notice it was flatpak. I'll have a look.

[2022-08-05 18:35] jijojosephk commented on #533
@luis-alves I still found screen sharing working on Fedora 36 GNOME (wayland) however the version you're having is 1.0.24 for that I see the popup comes twice. when you click on screen sharing. Seems like a problem with the electron version. There's a new version out `1.0.25` with the latest stable electron `v20.0.0`. Could you give try?

[2022-08-05 19:36] secdoc commented on #461
Same issue. Changed password today and unable to login in again. Get a 500 error.

Desktop - EndeavourOS Linux x86_64

[2022-08-06 04:03] jijojosephk commented on #536
Duplicate of #506

[2022-08-07 14:41] jijojosephk commented on #533
Latest build (`1.0.25`) fixes the issue. Hence closing this defect.

[2022-08-07 14:41] #533 closed

[2022-08-07 14:42] jijojosephk commented on #542
Completed upgrade.

[2022-08-07 14:42] #542 closed

[2022-08-07 15:07] jijojosephk commented on #534
This happens only in release versions. Need to figure out why.

[2022-08-07 16:09] jijojosephk commented on #534
My understanding after playing with it for sometime is that AppImage works the same way as debug mode. When the app is launched the X11 connection shoots up to 8 @dev-hanz-ops and @cpfeiffer

[2022-08-08 12:10] xorinzor commented on #91
What @luigimannoni says, same issue here.
Installed via "Ubuntu Software" as snap.

[2022-08-09 02:18] jijojosephk commented on #508
@micwoj92 I had to remove spellchecker due to incompatibility. You should be able to complete the build without errors now.

[2022-08-09 03:01] jijojosephk commented on #440
Electron version upgrade fixed this problem hence closing it.

[2022-08-09 03:01] #440 closed

[2022-08-09 03:09] jijojosephk commented on #461
@secdoc could you explain where did you change the password. I think the same issue happens of teams is opened in web browser.

[2022-08-09 05:46] micwoj92 commented on #508
Weirdly enough I tried building version 1.0.20 using nodejs 18.7.0 and it worked? Could it have been possibly a node regression or something?

What was the reason behind removal? Is it not compatible with electron 20?

[2022-08-09 08:43] secdoc commented on #461
I changed my password within my works AD. Once changed I could not re-login to use the new password forcing me to have to uninstall and reinstall.

[2022-08-09 09:56] jijojosephk commented on #508
@micwoj92 after upgrading to latest electron, the build was failing and only reason was spellchecker, so removed it.

[2022-08-09 10:02] #508 closed

[2022-08-09 15:25] jijojosephk commented on #529
@nickjwhite and @jeremiah-miller can you check the latest version? Upgraded electron to `20.0.1`

[2022-08-09 15:51] jijojosephk commented on #520
@sisyphus74 Which desktop environment are you in? Do you see a tray icon and quit menu item?

[2022-08-09 16:29] nickjwhite commented on #529
@jijojosephk I just checked with 1.0.26, and can confirm it's working fine for me. Thanks very much for upgrading the Electron version to fix it! (Also, sorry I missed your previous message regarding what Linux I'm using).

[2022-08-09 16:29] #529 closed

[2022-08-10 14:10] jijojosephk commented on #520
@sisyphus74, This is fixed in `1.0.27`.

[2022-08-10 18:29] jijojosephk commented on #538
Closing this as there's a work around. Feel free to open if you need more help.

[2022-08-11 17:49] jijojosephk commented on #528
@kon14 can you check the latest version. It's been upgraded to `20.0.1`

[2022-08-11 17:53] jijojosephk commented on #503
@simonsteiner1984 I'm closing this for now as we're not able to reproduce. You may re-open if you think any help is needed.

[2022-08-11 17:53] #503 closed

[2022-08-12 18:18] IsmaelMartinez commented on #461
There is probably some caching going on (not of the password, but of a token) reason why deleting the config folder sorts the problem. Might be worth investigating that area.

[2022-08-12 18:20] IsmaelMartinez commented on #537
I will see when I can fix those tokens. Apologies but having an extremely busy life!

[2022-08-12 18:23] secdoc commented on #461
@IsmaelMartinez it is...when you log in the initial option is to keep logged in, but there is no way to change that after the password reset...so the only option is to not check the option in log on and to authenticate at each log on...

[2022-08-13 09:13] sisyphus74 commented on #520
@jijojosephk , i am on gnome. I installed tray icons reloaded extension an see the tray icon, so i can do a refresh after restart as workaround. Thanks for fixing it. Great app!

[2022-08-13 09:41] jijojosephk commented on #520
@sisyphus74 `1.0.28` fixes it more efficiently. Could you try?

[2022-08-13 09:51] jijojosephk commented on #520
Thanks @sisyphus74 I'm closing this issue.

[2022-08-13 09:51] #520 closed

[2022-08-13 09:53] jijojosephk commented on #534
@cpfeiffer This is fixed in the upcoming build `1.0.29`

[2022-08-13 09:54] sisyphus74 commented on #520
@jijojosephk , thanks for your answer. i have to quit it at tray icon and than it starts correct. but does not quit "alone" / automatically. Thats ok for me.

[2022-08-13 09:55] jijojosephk commented on #534
This is not related to AppImage this happens for all builds. The BrowserView used for screen share preview was not destroyed properly.

[2022-08-13 14:35] cpfeiffer commented on #534
Awesome, thank you so much! :heart:

[2022-08-13 15:49] jijojosephk commented on #534
Thank you. I'll close this. your contributions much are appreciated!

[2022-08-13 15:49] #534 closed

[2022-08-13 15:50] jijojosephk commented on #528
Now this app is based on Electron `20.0.2` and I assume this is fixed.

[2022-08-13 15:50] #528 closed

[2022-08-14 02:02] jijojosephk commented on #455
Closing this as there's no activity. Please feel free to re-open if required.

[2022-08-14 02:02] #455 closed

[2022-08-14 02:05] jijojosephk commented on #526
Closing this as there's no activity. Please re-open if required.

[2022-08-14 05:09] jijojosephk commented on #538
I have a question though, when this popup shows?

[2022-08-14 06:52] BlackSmith commented on #538
I'm not administrator of our Microsoft Office 365 accounts, but I guess when our company use SAML authentication.

[2022-08-17 11:57] joschi36 commented on #538
I have the same issue, but I'm using deb and do not see the error @BlackSmith did see. I suspect there is a different problem:
[code]

Tried reinstalling and also cleaning config path without luck.
The Request is hanging and the submit button is doing nothing:
![image](https://user-images.githubusercontent.com/4538306/185112042-1b67ad00-9170-4b39-add9-67f09fdbc714.png)

Also, I did not see any mes

[2022-08-20 04:47] jijojosephk commented on #526
@petersilva @kon14 @luis-alves @whisperity @hierr @josemcvgh could you check if the latest version works? `1.0.29`

[2022-08-20 08:40] luis-alves commented on #526
It works now @jijojosephk

[2022-08-20 08:46] jijojosephk commented on #526
@luis-alves Thanks, closing this.

[2022-08-20 08:46] #526 closed

[2022-08-24 08:16] MathiasDeRoover commented on #91
Hey @IsmaelMartinez, was a solution found for these messages in the end:
[code]
They are completely flooding out any other logs.
[code]

[2022-08-24 08:42] IsmaelMartinez commented on #91
No solution found. Sorry. But I suspect is related to the snap configuration rather than the app itself

[2022-08-24 09:00] MathiasDeRoover commented on #91
Do you know who I can contact regarding the snap configuration?

[2022-08-24 10:19] jijojosephk commented on #91
@MathiasDeRoover I think you're looking at the official teams client from Microsoft. This is different.

[2022-08-24 17:40] jonaramos opened #555 "Does not connect when using 2 factor authentication."
**Describe the bug**
When trying to start session, an incorrect password notification is shown but I am receiving the 2 factor authentication code on my phone that must be entered on teams.

[2022-08-24 19:28] IsmaelMartinez commented on #555
Hi @jonaramos , can you provide more details? Fill the template if possible as that might make it easier to help you. Thanks

[2022-08-27 11:46] jijojosephk commented on #555
@jonaramos can you provide some info ? because 2F auth always works.

[2022-08-31 11:58] rafatosta opened #556 "Open window when clicking on your launcher"
**Describe the bug**
When closing the window it is no longer possible to open it or initialize it through its launcher.

**To Reproduce**
I use Fedora WorkStation 36 and without an extent for the tray icons, so when closing the window you can only open it through the tray icon.

Close the window and try to open by the launcher, you will notice that nothing will happen.

**Expected behavior**
I hop

[2022-09-01 13:11] AzureOrange404 commented on #538
Could anyone resolve this issue?

I am having this issue on Arch as well (@FrostbittenKing ), clicking the "Submit" button and nothing happens. (This issue is with every teams version in the AUR and with the Appimage of teams-for-linux as well.)

This is the terminal output I get.

[code]

Kind regards

[2022-09-01 16:58] AzureOrange404 commented on #555
I also don't exactly understand what you mean, but could this be the same issue we are experiencing here?
https://github.com/IsmaelMartinez/teams-for-linux/issues/538#issuecomment-1234260825

[2022-09-01 17:19] jijojosephk commented on #538
@AzureOrange404 aren't you using office365? If not, could you share how to reproduce, if this specific to any organisational settings, we need to know.

[2022-09-01 18:09] #556 closed

[2022-09-01 18:40] jonaramos commented on #555
Sorry, here are the details.

1. I fill the form with my credentials.
2. Instead of logging in, an "Incorrect password" dialog is shown.
3. At the same time, I receive an auth notification to be validated on my phone, which I cannot because the logging process in the Teams app shows the password error described in point 2.

I am not on my Linux box atm to share screen shots.

[2022-09-01 18:54] rafatosta commented on #556
thank you so much. excellent job!

[2022-09-01 19:08] jijojosephk commented on #556
@rafatosta `1.0.30` on it's way. Published from my side, it takes some time to be available officially on flathub. Thanks for reporting the issue.

[2022-09-01 20:09] rafatosta commented on #556
No problem.
I don't know if you know, but I'm the dev of I don't know if you know, but I'm the dev of [ZapZap - Whatsapp for linux](https://beta.flathub.org/apps/details/com.rtosta.zapzap)

[2022-09-01 20:49] BenjaminBrienen opened #558 "Errors with fresh install after sign in"
**Describe the bug**
I crash to desktop if I click on the chat tab, and if I do nothing, a browser window opens up the teams web application and the program displays a full page error. About 3 minutes later, while writing this report, the electron app stopped displaying the full page error and closed entirely.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install
2. Open up program
3

[2022-09-01 20:52] BenjaminBrienen commented on #558
Same issue after trying the deb package instead.

[2022-09-01 23:16] kudlatyamroth opened #559 "Arch Linux package"
It would be wonderful if we could have pacman package build :)

Add pacman target to github workflow.
To do this, you have to install `libarchive-tools` in ubuntu as it have bsdtar which is needed for pacman build in electron-builder

As of now, there is package on aur, that needs to be build: https://aur.archlinux.org/packages/teams-for-linux

but if you provide already builded package, it would

[2022-09-02 05:17] jijojosephk commented on #556
Wow! That's great! Let me know if you would like contributions.

[2022-09-02 05:35] jijojosephk commented on #558
Unable to reproduce in Ubuntu.
Could you try run from terminal and see if you find any errors when this happens?
`flatpak run com.github.IsmaelMartinez.teams_for_linux`

[2022-09-02 05:48] jijojosephk commented on #559
@frealgagu Is this something you can try to help?

[2022-09-02 12:38] rafatosta commented on #556
Certainly! Any support and contribution from the community is welcome. Feel free to propose or send PR. Thanks

[2022-09-02 16:36] Normand-Nadon opened #560 "Add "zoom-in/out" functionnality"
I have a high DPI display, and the text in this electron version of the app is way too small.
The web and desktop versions both have the ctrl+scroll zoom option available, but not this electron-wrapped version.

Please enable ctrl+scroll in the app... There is documentation on the subject here:
https://www.geeksforgeeks.org/zoom-functionality-in-electronjs/

With the iminent discontinuation of the

[2022-09-02 22:18] AzureOrange404 commented on #538
@jijojosephk In my organisation, where I study, we "use" office365 and the credentials are the same as for teams.
When I use teams via browser everything works fine, I get redirected to my organisations login page and login with password and then with OAuth 2FA.

Until beginning of this summer I was using debian 11 and everything worked there on the desktop app. Now on Arch I installed the applica

[2022-09-04 09:12] IsmaelMartinez commented on #559
Hi, we use to deliver a pacman package, but the arch community preferred to
do their own builds.

On Fri, 2 Sep 2022, 06:49 Jijo Joseph, ***@***.***> wrote:

[2022-09-04 09:14] IsmaelMartinez commented on #560
Hi, the zoom in was available a while back. Try to use the web shortcut and
see if it works. Otherwise this could be something that got removed when
upgrading an electron version.

On Fri, 2 Sep 2022, 17:36 Normand_Nadon, ***@***.***> wrote:

[2022-09-04 15:23] kudlatyamroth commented on #559
hmm i would love to use already build package, and on aur there is plenty of -bin packages :)

[2022-09-04 16:23] frealgagu commented on #559
BTW as i say in AUR pinned comment I maintain the latest package here: https://github.com/frealgagu/archlinux.teams-for-linux/releases

[2022-09-04 16:37] jijojosephk commented on #538
@AzureOrange404 I know you're genuinely stuck and I wanted to help. But I don't see that popup for me may be due to the login method used by the org. What I see is this.

![image](https://user-images.githubusercontent.com/11662148/188323744-f9fc7b29-fdfe-4c8c-8065-7f4989f07406.png)

Are you redirected to the popup from this page? I just wanted to understand the flow.

[2022-09-04 16:41] jijojosephk commented on #560
@Normand-Nadon CTRL + keys (+,-) works and the zoom level is maintained between runs. If you're specifically looking for mouse scroll wheel + CTRL key, we can implement. If you confirm, I'll mark this as feature request. It works fine in the latest version `1.0.30`

[2022-09-04 16:47] jijojosephk commented on #559
@frealgagu does it satisfy what @kudlatyamroth requested for? Please confirm and close if it's done. Otherwise, we can help.

[2022-09-04 17:26] FSKiller opened #561 "Since the Desktop Teams client is being discontinued will this project return?"
https://www.reddit.com/r/linux/comments/x3c1sk/mircosoft_teams_desktop_client_on_linux_is_being/

From what i can tell microsoft just announced that they will be stopping developing the desktop client for Linux.

Will this return to development?

[2022-09-04 18:09] joschi36 commented on #538
@jijojosephk @AzureOrange404 Hi
Maybe I can help.
O365 sends the auth request to the ADFS server which sends a basic auth form. In this basic auth dialog the submit button doesn't work.
As far as I know you need to integrate it somehow in Electron, see: https://github.com/electron/electron/issues/1362
![image](https://user-images.githubusercontent.com/4538306/188327205-f16e20d1-4c0a-4ca9-8a56-3c15

[2022-09-04 19:59] AzureOrange404 commented on #538
@jijojosephk

Yes, I enter my email address in this prompt and then I get redirected.

Then as @joschi36 said, I get the popup from the ADFS server (adfs22.organisation.topdomain), this is where I cannot login due to the submit button not working. (This problem is with all the teams applications there are for Arch (From the AUR and flatpak). In the browser the authentication process works as norma

[2022-09-05 01:58] jijojosephk commented on #538
I get it now. But for me to reproduce, I need to know the domain name which you're using.

userid`@domain`, Could you help with @domain part?

[2022-09-05 02:00] jijojosephk commented on #561
It will be here and was never gone. The latest release was a few days ago.

[2022-09-05 02:01] #561 closed

[2022-09-05 07:51] AzureOrange404 commented on #538
Of course, for me I connect to phsg.ch.

[2022-09-05 08:37] jijojosephk commented on #538
Thanks @AzureOrange404, I'm seeing the popup now. I'm not sure how to test though because multiple attempts during the testing might block me from further testing. Let's see.

[2022-09-05 09:33] #538 closed

[2022-09-05 09:34] jijojosephk commented on #538
@AzureOrange404 version `1.0.31` being built. You may test once it's out. I'm unable to test the complete functionality but could fix the submit button.

[2022-09-05 09:48] jijojosephk commented on #555
@jonaramos if this is something related to #538, there's probably a fix in version '1.0.31'

[2022-09-05 09:50] jijojosephk commented on #558
@BenjaminBrienen could you comment?

[2022-09-05 10:02] AzureOrange404 commented on #538
Okay sounds great, I will test it once it's out and then I will reply here. :)

[2022-09-05 10:04] jijojosephk commented on #538
@AzureOrange404 grab it from [here](https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.31)

[2022-09-05 10:54] AzureOrange404 commented on #538
I did grab the AppImage.
On the first run, I kinda got stuck on a white screen after logging in (Did not start from console, so I missed any log. But I could wipe it and try again if interested.),
when I restarted though everything worked like a charm.

Thank you very much!!

[2022-09-05 14:32] #560 closed

[2022-09-05 15:08] emotiv8it opened #565 "No more notification sound (when message, activity, ...)"
**Problem Description**

Since a couple versions back, I have no more sound (bell/...) when a direct chat message is received, or when another kind of activity is made. The "official"  MS linux version does have still the notification sounds.

Also, tried to install the DEB version of the latest release [**1.0.32**]
(https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.32)

Still ha

[2022-09-05 16:13] jijojosephk commented on #565
Thanks for reporting. Can you confirm last version it worked?

[2022-09-05 16:51] codethief commented on #561
Would it make sense then to remove the note

from the README?

[2022-09-05 17:09] jijojosephk commented on #561
Done.

[2022-09-06 00:50] Normand-Nadon commented on #560
Thank you for the quick fix! I updated the app and it does not do the zooming... Can you tell me if it is now in the main code or in a future release?

[2022-09-06 00:55] Normand-Nadon commented on #565
I can confirm I experience the same issue... Calls are ringning, but message notifications are not... The same issue happens on the web version of the app though.. Might be a f@ck-up from Microsoft.
(The icon in the taskbar displays the number of notifications fine BTW)

Pop-OS 22.04, Brave browser

[2022-09-06 03:15] jijojosephk commented on #560
Thanks @Normand-Nadon flatpak update is being published. Should be available soon.

[2022-09-06 04:58] jijojosephk commented on #565
But I hear notification sound in Brave. This has something to do with changes by teams developers from Microsoft. I did try previous builds of this app and no sound at all. So it's not something broke by our updates. Weird!

[2022-09-06 05:10] jijojosephk commented on #565
I can confirm it's not related to electron version. Only MS can tell why.

[2022-09-06 08:22] jijojosephk commented on #565
Looks like notification (Browser native notification) does not have a audio play in recent versions. In browser enable notifications for the website. You'll not notice suddenly sound vanishes. I'll try for a work around.

[2022-09-06 13:34] #565 closed

[2022-09-06 13:39] jijojosephk commented on #565
This fix works on Ubuntu. I had to use a library to play sound. This lib uses a few media player modules within linux system. Depends on the distributions.

Please read about this module [here](https://www.npmjs.com/package/play-sound). If notification is not working for you, please check if any of the supported players are installed in your system.

[2022-09-06 14:44] emotiv8it commented on #565
Tested this again, with this latest release 1.0.33 and now I get a notification sound !! Works for me (ubuntu) One step closer to the best teams for linux solution ;-)
Thx for fixing this issue !!

[2022-09-06 19:40] raul-klg opened #568 "Remote control"
When a holding a meeting and one of the parties share his/her screen the "Remote Control" button is not shown in the conversation bar. This button is shown when the sharing participant runs windows client and it is available when using the MS teams client.

What I would like from the teams-for-linux client is that the "Remote Control" button appear and remote control is available with client in si

[2022-09-06 23:46] Normand-Nadon commented on #568
I don't want to overstep the developpers here...
But this feature was never available on the web version.
Microsoft announced that they might add it this fall, and also they will be re-introducing custom background for the web version too (they removed it a few months ago)

[2022-09-07 00:14] Normand-Nadon commented on #565
@jijojosephk Works well now with the 1.0.33 .deb version...

Out of curiosity, do you have a PPA to auto-update the software?

Otherwise, how long does it take for Flathub to be on the latest version? I honeslty have no Idea how it is done...
Flatpak in now on 1.0.32 with the zoom in/out patch! Yay!... But not the sound fix from 1.0.33

[2022-09-07 08:55] raul-klg commented on #568
For the sake of completeness here are the screenshots for a call when someone (running teams on windows) is sharing screen:

* Teams for linux (our favourite teams client)
![teams-for-linux](https://user-images.githubusercontent.com/48016314/188834753-829b5520-a430-4275-a8ae-131ed4486709.png)

* MS teams:
![MS-teams](https://user-images.githubusercontent.com/48016314/188834745-8c0959c2-59bc-4f0c-a

[2022-09-07 09:16] jijojosephk commented on #565
@Normand-Nadon currently we don't have a ppa. We can try to create one. Flatpak one's are not part of github actions in this repo. It has a separate one [here](https://github.com/flathub/com.github.IsmaelMartinez.teams_for_linux). It's a manual process and I'll have to explicitly push the changes. Notification sound does not work on the flatpak version. It has something to do with run time directo

[2022-09-07 10:19] jijojosephk commented on #565
I think it's related to shell command execution permission within sandbox than a path issue. Fingers crossed!

[2022-09-07 13:54] jijojosephk commented on #568
@raul-klg we understand the requirement but it could be difficult to implement. I mark this as an enhancement.

[2022-09-07 13:57] jijojosephk commented on #558
We're unable to reproduce this issue. Also due to inactivity, closing this. Please re-open if required.

[2022-09-07 13:57] #558 closed

[2022-09-07 13:58] jijojosephk commented on #555
Closing this due to inactivity. Please re-open if required.

[2022-09-07 13:58] #555 closed

[2022-09-07 14:00] jijojosephk commented on #559
Closing due to inactivity. Please re-open if required. This is specific to Arch Linux. We're happy to help but I will leave it up to @frealgagu for the solution if we have no solution yet.

[2022-09-07 14:00] #559 closed

[2022-09-07 14:02] jijojosephk commented on #565
flatpak allows only pulseaudio at the moment. We need to use a library compatible with pulseaudio to fix this in all packages. I'll create a new defect for flatpak.

[2022-09-07 14:09] jijojosephk opened #569 "No notification sound when installed through flatpak"
**Describe the bug**
When there is a new notification, no sound is played.

**To Reproduce**
Steps to reproduce the behavior:
1. Start teams-for-linux.
2. Login to the account.
3. Analyse the notifications when new ones arrive. No sound.

**Expected behavior**
Notification sound should be played.

**Screenshots**
Not applicable.

**Desktop (please complete the following information):**
 - OS: Ubun

[2022-09-07 14:11] jijojosephk commented on #565
@Normand-Nadon new defect opened #569

[2022-09-07 14:21] Normand-Nadon commented on #568
The issue is that the web version does not have the remote assistance option... and if I am not mistaken, the teams-for-linux app is wrapping the web version in an electron app packkage... but I might be mistaken too

Also, the Linux official client never had the feature (and was also an Electron app flavour)

[2022-09-07 14:26] Normand-Nadon commented on #569
Just a thought, as I dont have the required knowlege to code it myself, but you metionnend [here](https://github.com/IsmaelMartinez/teams-for-linux/issues/565#issuecomment-1239445451) that the sound issue relies on the use of pulseaudio...
Since every distro is turning to pipewire for audio (and the permissions work differently), I heard there was a pulseaudio-like client for pipewire called "pipe

[2022-09-07 15:58] jijojosephk commented on #569
Thanks for the information. But I guess it's about low level implementation, commands will be the same. Anyway, I'll work on a new npm module. The current dependency for audio playback is not actively maintained.

[2022-09-08 00:50] Thaodan opened #570 "Package.json license field is invalid"
**Describe the bug**

The package.json specifies the license as "See License.md".
The license field such match the SPDX-License value matching to the license that the project uses.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] not relevant
 - Version: master

**Additional context**
- https://docs.npmjs.com/cli/v6/configuring-npm/package-json#license

[2022-09-08 00:57] Thaodan commented on #570
Using something like "Refer to license file" is valid however this project uses a license that has a SPDX-License tag.

[2022-09-08 01:07] Thaodan opened #571 "Using the default configuration shouldn't be an error"
**Describe the bug**
When starting the app without having a configuration file the app logs an error because it couldn't find the config.

**To Reproduce**
Steps to reproduce the behavior:
1. electron <app.asar>

**Expected behavior**
No error message, maybe a debug message that is only shown if loglevel is debug or higher.

[2022-09-08 06:45] jijojosephk commented on #570
@Thaodan , I've committed the changes you may verify and close this one.

[2022-09-08 06:51] Thaodan commented on #570
LGTM.

PS: You sound like you ask me for a review on a PR but merge it before my
comment, usually those are opened and wait for a review ;)

[2022-09-08 06:52] #570 closed

[2022-09-08 06:55] jijojosephk commented on #570
Ha ha sorry :) I'll keep the PR open from next time. Thanks for reporting the issue.

[2022-09-08 08:18] kupiqu opened #573 ""?" character replaces "ñ" in user names since a recent electron update"
**Describe the bug**
Since the recent electron updates (I think it started with version 1.0.29), characters such as `ñ` in user names (and links to user names are displayed as `?`).

Functionality is not affected but this is not only a cosmetic issue; referring to users with a wrong character in their name does not give a good impression.

**Desktop (please complete the following information):**

[2022-09-08 10:58] jijojosephk commented on #573
Can you share a screenshot please?

[2022-09-08 11:00] draxil opened #574 "feature: option to hide show with a left click on the tray icon"
**Is your feature request related to a problem? Please describe.**

I usually only use the tray menu to hide and show teams. Currently a left or right click will get this same result, and I can find the hide and show there. Although in practice I'm more likely to use my window manager short-cuts as this is a bit cumbersome.

**Describe the solution you'd like**

With an option (probably) I'd like

[2022-09-08 11:37] jijojosephk commented on #574
@draxil Thanks for reporting. But unfortunately there's a dependency over electron framework. Tray icon events do not behave correctly. I guess it's difficult to implement. The electron bug [here](https://github.com/electron/electron/issues/14941)

[2022-09-08 11:53] jijojosephk commented on #571
@Thaodan Is there a library that can be used or are you referring to electron framework logs?

[2022-09-09 17:01] RedChops opened #576 "No window decorations when running in Wayland"
I noticed earlier today that by default, Teams seemed to be running in xwayland. I modified the command line to have the same flags as what I use for, ex, VSCode. Unusually, while VSCode gets a title bar, Teams will not.

I'm starting Teams using: `/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=teams-for-linux --file-forwarding com.github.IsmaelMartinez.teams_for_linux --enable-featu

[2022-09-10 06:30] jijojosephk commented on #576
@RedChops can you check when version `1.0.35` is available? @herbiejhopkins had added a more flexible way to include wayland specific command line arguments. This version should be available in a few hours.

[2022-09-10 23:21] Thaodan commented on #571
Those are electron logs. I found out that's the error when the user has no config set.

[2022-09-11 09:33] kupiqu commented on #573
I would but this involves sharing other people's personal informacion. What I did instead is to test if this happens with channel names, and it doesn't:

![image](https://user-images.githubusercontent.com/3875196/189520773-c42d5c47-5e17-4eca-9d19-c35ea0c71d1f.png)

So, as far as I can tell, this only happens with usernames, where `ñ` is not displayed, instead `?` is shown. For instance if `niño` w

[2022-09-11 09:44] kupiqu commented on #574
what follows is mentioned in that bug, but for the case some of us don't look there... at least in KDE this works if you get rid of libappindicator (libappindicator3-1:amd64 deb package in my debian derivative distribution)

[2022-09-11 11:54] jijojosephk commented on #574
So it may not be easy unless the app detects the presence of libappindicator and act accordingly. Let's see.

[2022-09-11 14:19] RedChops commented on #576
@jijojosephk Hey look at that, the update ended up fixing the issue, thanks!

[2022-09-11 14:19] #576 closed

[2022-09-11 14:30] jijojosephk commented on #576
Thanks 👍 Kudos to @herbiejhopkins

[2022-09-11 14:38] jijojosephk commented on #573
How does it behave on chrome browser?

[2022-09-11 16:09] jijojosephk commented on #574
I have budgie and it does not have `libappindicator3` but I see `libayatana-appindicator3` are they related?

[2022-09-11 17:47] kupiqu commented on #573
I installed chrome to test (flatpak package), and the same issue appears there.

As it didn't happen when using previous electron versions, I guess it's some sort of regression in chrome or teams itself.

I guess there is nothing teams-for-linux can do about it

[2022-09-11 17:57] kupiqu commented on #574
from [this](https://github.com/AyatanaIndicators/libayatana-appindicator), I understand that it is some sort of fork or different implementation of the same basic thing:

 README
# Ayatana Application Indicators (Shared Library) #

A library to allow applications to export a menu into the an Application
Indicators aware menu bar. Based on KSNI it also works in KDE and will
fallback to generic Syst

[2022-09-11 18:47] jijojosephk commented on #573
Ok.Thank you. Could you please close this one then?

[2022-09-11 19:58] IsmaelMartinez commented on #571
@Thaodan , Can you put the error message in here? I checked and when the config file is not found it should log an "info" message (see https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/app/config/index.js#L8)

[2022-09-11 20:02] IsmaelMartinez commented on #573
Might be unrelated but previous people had a similar issue in their OS. Maybe their solution also works for you https://github.com/IsmaelMartinez/teams-for-linux/issues/357#issuecomment-632002149

[2022-09-12 08:46] sdirkwinkel opened #577 "away after a couple minutes"
Teams shows away status after a couple minutes when using the computer, but not teams.
This might only be happening on wayland and also happens in chromium.

In chromium I'm using a userscript as a workaround:
[code]

[2022-09-12 09:20] jijojosephk commented on #577
I guess the same script can be implemented here as well. Thanks.

[2022-09-12 09:20] jijojosephk commented on #577
But, could you clarify this `when using the computer, but not teams`

[2022-09-12 09:30] sdirkwinkel commented on #577
Using other windows, moving mouse etc, but not having teams in focus

Hm, the script forces online state all the time. Maybe something else can be done or this could be an option like --force-online

[2022-09-12 10:42] kupiqu commented on #573
I don't think it's the same thing, but will check it out, thanks

[2022-09-12 10:42] #573 closed

[2022-09-13 06:05] jijojosephk commented on #569
@Normand-Nadon  and @emotiv8it please have this tested when version `1.0.36` arrives.

[2022-09-13 07:43] emotiv8it commented on #569
I have installed the  1.0.36 and still works fine (notification sounds) - also calling works (sound) etc.
Pretty happy with this version.

(only thing I seem to miss is to see which version nr this is  (in the application ?) )

[2022-09-13 10:39] jijojosephk commented on #569
@Normand-Nadon It's working in flatpak. I'm closing this issue. Re-open if don't find it working.

[2022-09-13 10:39] #569 closed

[2022-09-13 10:43] jijojosephk commented on #569
Please suggest where can we  have the version listed.

[2022-09-13 11:39] alfsch opened #584 "Crash with wayland screensharing and teams-for-linux flatpak version 1.0.36"
**Describe the bug**
Since flatpak updated teams-for-linux to version 1.0.36 with better wayland support teams-for-linux crashes when I try to share the screen/windows. It doesn't matter if only one window is shared or the whole screen. With version 1.0.35 both worked.

**To Reproduce**
Steps to reproduce the behavior:
1. install flatpak teams-for-linux version 1.0.36
2. Open call or attend to a m

[2022-09-13 11:56] jijojosephk commented on #584
@alfsch apologies! I'm not on wayland. So could not verify the build. I'll downgrade the freedesktop framework.

[2022-09-13 12:13] alfsch commented on #584
@jijojosephk no problem, since I had the workaround to go to the working previous version.

Hopefully there's a flatpak developer using wayland ot test the scenario. I'm only a java dev, but if you need some debugging infos, I may be able to provide them , if you give me the right commands.

[2022-09-13 12:16] jijojosephk commented on #584
@herbiejhopkins could you test?

[2022-09-13 12:18] alfsch commented on #584
@yourealwaysbe

`xdg-desktop-portal-gnome/jammy-updates,now 42.1-0ubuntu1 amd64 [installed,automatic]`

[2022-09-13 12:25] yourealwaysbe commented on #584
Ah, are you using Sway without xdg-desktop-portal-wlr? What happens if you install it? (If so, i didn't realise you could get screensharing working on Sway without it.)

We could also try packaging Pipewire 3.40 with the 21.08 Freedesktop rather than bumping to 22.08. (But i'll mess with that at home rather than at work :) )

[2022-09-13 12:36] alfsch commented on #584
Yes my machine is setup using  xdg-desktop-portal-gnome. I fear that I may crash other working apps when switching to xdg-desktop-portal-wlr.

[2022-09-13 12:47] alfsch commented on #584
@yourealwaysbe sorry for above missleading information 'sway' isn't installed on my machine. I'll remove it from above comment.

[2022-09-13 12:48] jijojosephk commented on #584
@yourealwaysbe and @alfsch I've reverted to `21.08`. Just published the build. @alfsch, please install when it's available. Version number is still the same (`1.0.36`) but freedesktop at `21.08`. With this version you'll have perfectly working chat notification sound.

@yourealwaysbe, coud you please add a new defect for Sway in this repo? We'll try to include in `1.0.37`

[2022-09-13 13:04] yourealwaysbe opened #585 "Screensharing does not work on Sway / wlroots"
**Describe the bug**
Screensharing does not work on the Flatpak installation with Sway 1.7 (more specifically xdg-desktop-portal-wlr 0.6).

**To Reproduce**
Steps to reproduce the behavior:
1. Install a Sway desktop environment with xdg-desktop-portal-wlr..
2. Install teams_for_linux flatpak
3. Run, start meeting, try to share screen
4. Nothing happens, error messages fill the terminal log.

**Exp

[2022-09-13 13:05] alfsch commented on #584
I've tested:

[code]
It works with screen-sharing and has all the pling-pling sounds....

[2022-09-13 13:19] jijojosephk commented on #584
Thanks @alfsch, I'll close this. In the future we'll add a feature that lets user choose a different notification sound than the MS  pling-pling sound :D

[2022-09-13 13:19] #584 closed

[2022-09-13 13:20] jijojosephk commented on #585
Thanks @yourealwaysbe

[2022-09-14 17:13] jijojosephk commented on #571
Closing this a new command line argument is added to support this.

[2022-09-14 17:13] #571 closed

[2022-09-15 07:32] KhazAkar opened #588 "Recent security vulnerability with official MSTeams apps and impact on this project"
Hi,
as you probably heard (or not), vectra.ai was able to retreive access tokens easily from local MSTeams app installation. I'd want to ask - is this mitigated on this project or not yet?
Link to the article: https://www.vectra.ai/blogpost/undermining-microsoft-teams-security-by-mining-tokens

[2022-09-15 08:13] jijojosephk commented on #588
If this is to happen, some has to get access to the machine. If that happens, anything is under threat. The blog says, Microsoft is not serious about it. Then it says the web app is safe. Are they trying to prove electron is bad or chromium? The only thing we can do about it is to keep the electron version up to date. That happens frequently here. Be assured that it, this will have the latest elec

[2022-09-15 08:19] KhazAkar commented on #588
This blog post also shows possible mitigation when creating electron-based apps, called KeyTar, for secure auth tokens and not store them in plaintext. I'm not voting strongly for this specific package to be used, but at least some mitigation to be done, since teams is used in many places, and not everybody wants to jump onto chrome wandbagon as their browser just to make Teams web app happy, so t

[2022-09-15 08:20] raul-klg commented on #588
If I am to add something (beside Jijo's words), after a cursory look at the article, I think the vulnerabity is not affecting the teams-for-linux client. It is based on querying a local sqilte database file which exists in MS Teams, but does not have the same schema in teams-for-linux, therefore the way to get the information does not apply to teams-for-linux.
Maybe I am wrong as I didn't invest t

[2022-09-15 08:21] KhazAkar commented on #588
If that's the case, then it should be fine to use teams-for-linux project securely even in corporate environments, since they quite easily freak out when they see such issues ;)

[2022-09-15 09:00] jijojosephk commented on #588
Thanks @KhazAkar  and @raul-klg I'm changing it as a discussion. MS continues to ignore Linux. With the latest developments, they're moving towards PWA, but that works only on Chromium based browsers, Firefox users might not get the benefit. I'm not sure though. But even if it is, I guess this app will be a help.

[2022-09-15 10:35] baderas opened #590 "Play Incoming Call Notification on second audio device"
Hi,

compared to the official teams client, the web version for Chrome/Firefox lacks the possibility to play an incoming call sound notification on a second audio device.

E.g. given: you have your speakers as a seperate audio device and your headset (as a usb audio device for example). In this case, its nice to have notifications played on the speakers, while the call-audio is still played on the

[2022-09-15 11:26] jijojosephk commented on #590
Thanks @baderas for posting your suggestion. Are you referring to this?

![image](https://user-images.githubusercontent.com/11662148/190392060-1b02a51f-075e-4dc5-8f1b-9c5edd6e2eb7.png)

[2022-09-15 16:42] Normand-Nadon commented on #569
It works great! thanks for the nice quick work you do!
All my team is now on this version and we are happy!

I suggested two improvements and they were done in less than a week! WOW!

[2022-09-15 16:49] Normand-Nadon commented on #536
I can confirm that the tray icon **works as expected** both on the Flatpak and .deb version for me

**System:**
Pop!Os 22.04
Gnome 42.4 on X11

It might be system specific? Post your combination of OS, version, Desktop environement with version and Display manager... it might be helpfull for the devs :)

[2022-09-15 22:28] nitro322 opened #591 "Custom background images?"
Hello.  I'm using your teams-for-linux client again after switching to the "official" client for a couple of years.  With the recent news about Microsoft killing off the Linux client, was delighted to see that this project was still going strong, and even more so to learn that you're supporting background blur and images and various other features Microsoft apparently couldn't be bothered to suppo

[2022-09-16 08:52] jijojosephk commented on #591
Are you referring to background during video calls? If so, it's already working I believe.

[2022-09-16 08:55] jijojosephk commented on #529
@nickjwhite is #585 something you can test and report?

[2022-09-16 13:25] nitro322 commented on #591
Adding a custom background image during video calls, yes.  If that's working for you, mind sharing how to do that?  I'm expecting to see some kind of Add Image link or button in the "Show background effects" pane.  I have the ability to select blur and various canned images, and get the Preview and Apply options, but nothing related to adding images.

[2022-09-16 14:12] jijojosephk commented on #591
Ok, i understand now. I was referring to predefined backgrounds in the teams app. Never tried uploading image from local machine. Implementing this feature may be difficult. If it's present in web version, it could be possible here as well. I'd have it checked. Thanks.

[2022-09-16 14:50] nitro322 commented on #591
I tested with Vivaldi (not Chrome, but uses the same engine and I've never observed any compatibility issues between it and Chrome) and get the same behavior as the electron app.  You bring up a good point about the web version - I was thinking of Teams as a desktop application, but if you're essentially re-packaging the web version then I could see where that feature wouldn't be supported.  Check

[2022-09-16 16:58] jijojosephk commented on #591
It's sort of hidden. You can use the teams-for-linux app itself.

- Start a call
- Click on ...
- Show background effects
- There you go.

![Screenshot from 2022-09-16 22-27-06](https://user-images.githubusercontent.com/11662148/190690677-d20fe7d9-0033-4879-8048-ff3a28e8c98e.png)
![Screenshot from 2022-09-16 22-27-58](https://user-images.githubusercontent.com/11662148/190690767-94fac54b-3d1d-444b-

[2022-09-16 17:18] nitro322 commented on #591
Right, I can find that part.  I'm talking about custom images.  Ie., this (from that same microsoft link you posted above):

That "Add new" option doesn't exist for me.

[2022-09-16 17:26] jijojosephk commented on #591
Oh, I see. Have you had used the feature on the destop for linux or have you used windows or mac version?

[2022-09-16 17:56] nitro322 commented on #591
It didn't exist in the Linux client.  No background effects options existed.  No, I've never used the Windows or Mac version, hence my general uncertainty in the OP as I've never actually used this feature myself before.  But many of my work colleagues have used it, so I know it works _under the right conditions_.  Seems like those conditions exclude the web client, unfortunately.

[2022-09-16 18:03] jijojosephk commented on #591
Right, I see the images are dynamically loaded from a CDN. We might be able to do some hacks to achieve.

For example: https://static.cdn.microsoft.com/image1 request can be locally served using a different image. By faking the response and make the logic believe that it actually came from a web server. We can experiment.

[2022-09-17 11:36] jijojosephk commented on #466
@keestux, this seems impossible. Have a look [here](https://github.com/electron/electron/issues/20073)

[2022-09-19 14:56] exic opened #592 "Blank page, tab "localhost:8989" opened in default browser"
**Describe the bug**
Starting the application, I get the blank screen and in my firefox a tab opens with the URL http://localhost:8989/

**To Reproduce**
Steps to reproduce the behavior:
1. Install AUR teams-for-linux or run `yarn start`
2. See blank page
3. Try all the options at https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/KNOWN_ISSUES.md#blank-page
4. Still blank page

**Expec

[2022-09-19 15:02] nursoda opened #593 "Add link to source of statement 'official client will retire'"
README says "The official client for Linux will retire by end of 2022." I could not find evidence for that. Please link that statement to an official Microsoft statement (or amend it if it no longer holds true).

[2022-09-19 15:29] nursoda commented on #438
If one is logged-in [1] with a AzureAD account (typically a user of the own M365 tenant), and uses the primary email address of that account to register as guest in other tenants, then switching works fine in the official Teams client. Only if one has to log-in [2] with real/different users (of each tenant's AzureAD), then one currently has to log out from tenant A to be able to login to tenant B

[2022-09-19 16:29] jijojosephk commented on #438
It's possible but yet to prioritise the work. The source code has to go through many lines of changes and to avoid any breaking changes it's not there yet. Probably 2.x range of versions can accommodate this feature. I think about it everyday but not finding time to implement.

[2022-09-19 16:47] jijojosephk commented on #593
The official statement is not out yet. But it will come out eventually.

[2022-09-19 18:17] #593 closed

[2022-09-19 22:05] docquantum opened #594 "Right click in text box does not work"
**Describe the bug**
Trying to right click on any text within a text box does nothing. No context menu is brought up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chat or teams channel
2. Compose a message
3. Select text within the composition section
4. Attempt to right click onto it to bring up the context menu to copy, paste, or correct spelling
6. See that nothing is brought u

[2022-09-20 04:52] baderas commented on #590
Yes, exactly.

[2022-09-20 05:07] jijojosephk commented on #590
It's possible this one too.

[2022-09-20 05:24] jijojosephk commented on #594
There was a spellcheck module but due to electron and node version upgrades build was failing. So Recently the module was removed. We'll sure find an alternate. Thanks for reporting.

[2022-09-20 05:36] jijojosephk commented on #592
Thanks @exic for reporting the issue. Could you provide a screenshot of the same after installing through AUR package?
I haven't seen anything like this before. Which DE you have?

[2022-09-20 06:30] #594 closed

[2022-09-20 06:32] jijojosephk commented on #594
@docquantum version `1.0.38` will be out in some time. Unfortunately, @IsmaelMartinez has to update the snap stable version from his side. I guess you might have tried --edge because snap stable is at `1.0.29`

[2022-09-20 06:45] elhennig opened #597 "Howto configure calendar view?"
Since one of the latest updates, the week view starts with Sunday in my account. Is there any way to configure to start the view with Mondays instead? I did not find such option in the settings.

[2022-09-20 08:05] exic commented on #592
Thanks for your reply, sure, this is the result using the AUR package:

![image](https://user-images.githubusercontent.com/242107/191176633-8c003a58-989f-470b-b872-5c9bfad4b919.png)

Window manager is i3-gaps, I'm not using an additional desktop environment.

[2022-09-20 09:57] jijojosephk commented on #592
We need to know whether this related to window manager

[2022-09-20 11:00] exic commented on #592
I have another PC with the same setup so I tried to compare … couldn't figure it out. Turned off VPN, looked at strace.. then I started to try all the CLI options to compare outputs and maybe find something. Turns out `teams-for-linux --url https://teams.microsoft.com/` works! :smile: I have no idea why, though.

[2022-09-20 11:00] #592 closed

[2022-09-20 17:29] DGrothe-PhD commented on #585
Similar issue with ubuntu 22.04 here. error message: `29419:0920/144953.345633:ERROR:base_capturer_pipewire.cc(50)] ScreenCastPortal failed: 1
[29419:0920/145044.705704:ERROR:shared_screencast_stream.cc(401)] One of following libraries is missing on your system:
PipeWire (libpipewire-0.3.so.0)
 - drm (libdrm.so.2)`
Which version number is "so.0", and if I have pipewire 0.3.48-1ubuntu1 is this newe

[2022-09-20 17:42] jijojosephk commented on #592
Interesting :)

[2022-09-20 17:43] DGrothe-PhD opened #599 "Doesnt open on ubuntu 22.04"
**Does not open window on ubuntu**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. sudo snap command to install teams-for-linux - just today.
2. Opened it once, it worked. I could set up a meeting and check for camera and sound. I could also read existing chat messages and see online status = teams for linux seemed to work fine.
3. Saved ic

[2022-09-20 20:57] IsmaelMartinez commented on #594
I have updated stable to the latest. Apologies for the delay!

[2022-09-21 03:29] jijojosephk commented on #599
Probably you're having an older version. Could you confirm the version you have? snap was slightly behind the main release. The latest one is `1.0.38`

If you're having an older version run this:

`sudo snap refresh`

Let us know if you face the same issue even after moving to the latest version.

[2022-09-21 03:56] BenjaminBrienen commented on #558
I reinstalled it and it seems to be behaving for now. I did get some console output:

which: no aplay in (/app/bin:/app/bin:/usr/bin)
LaunchProcess: failed to execvp:
xdg-settings
Gtk-Message: 23:55:17.528: Failed to load module "appmenu-gtk-module"
Gtk-Message: 23:55:17.564: Failed to load module "canberra-gtk-module"
Gtk-Message: 23:55:17.565: Failed to load module "canberra-gtk-module"
[2:0920/

[2022-09-21 04:02] jijojosephk commented on #558
The latest version is 1.0.38 can you update the flatpak build?

[2022-09-21 04:04] BenjaminBrienen commented on #558
I just ran the command you gave me 10 minutes ago to fresh install the program, so that should be using the latest version available to me.

[2022-09-21 04:06] BenjaminBrienen commented on #558
`flatpak list`:
teams-for-linux                                      com.github.IsmaelMartinez.teams_for_linux                        1.0.38                    stable                  user

[2022-09-21 04:08] jijojosephk commented on #558
Which command? I understand you have flatpak so if you want to update run:

flatpak update

[2022-09-21 04:09] jijojosephk commented on #558
Ok. Now what's the result

[2022-09-21 04:09] BenjaminBrienen commented on #558
I did:
`flatpak install com.github.IsmaelMartinez.teams_for_linux`
`flatpak run com.github.IsmaelMartinez.teams_for_linux`

[2022-09-21 04:11] jijojosephk commented on #558
Is it working?

[2022-09-21 05:06] BenjaminBrienen commented on #558
So far, yeah. I just figured I'd give you that output just in case you still wanted it. I'll  let you know if I encounter the crashing issue again.

[2022-09-21 14:49] jijojosephk commented on #599
@DGrothe-PhD Could you confirm?

[2022-09-21 18:59] BenjaminBrienen commented on #558
@jijojosephk I'm having issues again
![image](https://user-images.githubusercontent.com/42162869/191588000-19994681-d850-48ef-ab74-78258ce2b2d9.png)
Crashed to desktop multiple times when in meeting and even opened up the teams website in Firefox a couple times???
![image](https://user-images.githubusercontent.com/42162869/191588155-abefaac0-0a1f-4693-b34a-3858488261d3.png)

[2022-09-23 13:55] jijojosephk commented on #599
Closing this due to inactivity. You may re-open if any help is required.

[2022-09-23 13:55] #599 closed

[2022-09-23 13:56] jijojosephk commented on #590
Can you confirm if this setting is present in teams-for-linux? web version has this. So it must be.

[2022-09-23 16:02] DGrothe-PhD commented on #599
Sorry I cannot check this at the moment; I’ll try when I have time.

[2022-09-24 14:12] DGrothe-PhD commented on #599
My teams-for-linux is version 1.0.38, exactly. `sudo snap refresh` said snaps are up to date.

[2022-09-24 14:18] jijojosephk commented on #599
So are you saying that the issue is still there?

[2022-09-24 14:22] jijojosephk commented on #521
Ofcourse you can raise PR. Please make sure fix for OpenSuse does not break others.

[2022-09-25 14:42] DGrothe-PhD commented on #599
Seems to work now (except for screen sharing, I have to wait for a meeting to test this.)

[2022-09-26 09:13] guikeller opened #602 "Option closeAppOnCross not working"
**Describe the bug**
The config option **closeAppOnCross** is not working.

OS: Fedora Linux 36 (Workstation Edition) x86_64
Kernel: 5.19.10-200.fc36.x86_64
DE: GNOME 42.5

**To Reproduce**
Steps to reproduce the behavior:
1. Tried
[code]
Also tried by creating a "~/.config/teams-for-linux/config.json" with:
[code]

3. Click on 'X' to close Teams or "Teams for Linux > Quit"

4. See process still r

[2022-09-26 09:52] jijojosephk commented on #602
Thanks @guikeller for reporting this. This seems to be a regression defect. The tray is not getting closed.

[2022-09-26 10:32] #602 closed

[2022-09-26 10:33] jijojosephk commented on #602
Fixed the issue. Merge auto closed the issue. Please try with `1.0.39` when it's released in some time.

[2022-09-26 14:04] r-cdriscoll opened #604 "Pop out chat functionality"
Hello -

The official MS client offers a "pop out chat" functionality for 1-on-1 conversations where you can right-click on a chat and there's a "Pop out chat" option to open the 1-on-1 chat in a new window.  This is helpful when multitasking between conversations.

I tried grepping through the teams-for-linux source to see if there was something I was missing, and tried searching through this pro

[2022-09-26 14:07] jijojosephk commented on #604
@r-cdriscoll There's a discussion [here](https://github.com/IsmaelMartinez/teams-for-linux/discussions/601) unfortunately it's not possible.

[2022-09-26 14:09] #604 closed

[2022-09-26 14:10] r-cdriscoll commented on #604
@jijojosephk Ah, my search-fu was poor.  Thank you for letting me know.

[2022-09-26 14:23] jijojosephk commented on #602
@guikeller  Just published. Thanks for the patience!

[2022-09-27 11:48] cs96and opened #606 "Feature Request - Red border when screen sharing"
**Is your feature request related to a problem? Please describe.**
The official Teams application puts a red border around your screen when you are screen sharing.  teams-for-linux doesn't do this, so it's not obvious that the screen share is working.  You may also forget that you are sharing your screen, and end up sharing private information.

**Describe the solution you'd like**
teams-for-linux

[2022-09-27 14:32] jijojosephk commented on #606
It could be really complex. But see if we can this implemented.

[2022-09-27 15:49] jijojosephk commented on #606
Looks like a difficult take. Would a notification be enough?

[2022-09-27 15:59] cs96and commented on #606
Ideally there should be some sort of permanent notification showing, while you are sharing your screen.

[2022-09-27 22:25] Krychle commented on #606
At least with Wayland/Gnome, there is an orange icon in the tray indicating what is being shared. Granted, much less subtle than a full red border, like on office teams application.

[2022-09-28 14:03] jijojosephk opened #607 "Upgrade electron version to 21.0.0"
Upgrade electron version to `21.0.0`

[2022-09-28 19:49] jijojosephk commented on #607
Upgraded in version `1.0.40` hence closing.

[2022-09-28 19:49] #607 closed

[2022-09-29 05:05] jijojosephk opened #612 "Basic Authentication Page/Screen Redesign"
**Is your feature request related to a problem? Please describe.**
It's a feature/enhancement request.

**Describe the solution you'd like**
Basic Authentication Page/Screen Redesign

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2022-09-29 05:06] jijojosephk commented on #590
@baderas can you confirm?

[2022-09-29 05:24] jijojosephk commented on #461
@geez0x1 could you share the settings you would to preserve even after clearing the storage. In the upcoming release `1.0.41` there's a command line flag to clear the storage during the startup which is as same as deleting the config but would help some users who have less knowledge about doing such activities.

I could find out that theme is stored 'Local Storage'.

[2022-09-29 06:44] baderas commented on #590
No, its not present in teams-for-linux, its also not presend on the web version (tried with firefox and chromium). Only the official linux teams client has these settings.

[2022-09-29 06:45] baderas commented on #590
Can you maybe show some more screenshots of your web version? which browser are you using?
I'm a bit confused how its possible that you have device settings in your web version.

[2022-09-29 08:50] jijojosephk commented on #536
What I found is interesting. It has something to do with the binary name. `teams-for-linux` some how conflicts with icon theming. As far as I know this and #506 can't be fixed unless the binary name is changed.

[2022-09-29 08:50] jijojosephk commented on #536
It's not related to flatpak.

[2022-09-29 11:40] baderas commented on #590
ah okay, didn't know that. I'm not sure if this really helps (in the original teams client, the config is named "secondary ringer" in devices), but I will try to change the overall audio device and then reset the speaker in the meetings-device-settings. maybe this helps to have it continously ring on another audio device.

[2022-09-29 13:34] mstroecker commented on #577
Maybe `powerMonitor.getSystemIdleTime()` could be helpful.
https://www.electronjs.org/docs/latest/api/power-monitor#powermonitorgetsystemidletime

[2022-09-30 13:51] FloEdelmann opened #613 "Prevent screensaver while in a call"
**Is your feature request related to a problem? Please describe.**
When I'm in a call, I often do not move the mouse or tap the keyboard for a long time. After 5 minutes (OS setting), the screensaver kicks in, which is annoying.

**Describe the solution you'd like**
Prevent screensaver/standby while in a call.

**Describe alternatives you've considered**
Manually moving my mouse, but that's not a

[2022-10-01 08:29] danielgsanz commented on #470
Hi there! Do you know when Microsoft will implement this feature? It's very annoying to no have this notification, as we have in the client. Thank you for all your effort in this project :)

[2022-10-01 13:11] opalmay commented on #470
I would hope this year, because the official electron client is being deprecated in favor of the web app becoming a PWA. But there's no knowing with Microsoft

[2022-10-02 10:46] IsmaelMartinez commented on #431
Hi All,

I just had a wee play and you can have it running in macOS. Not sure why but you need to run it without persisting a partition (took me a while to find that out), and there is a wrong icon size in the toolbar:
<img width="342" alt="image" src="https://user-images.githubusercontent.com/430992/193450099-ca3f55be-e38c-4f28-b16b-bb39a5ca46b8.png">

But it does seem to be working. I will be pl

[2022-10-02 11:22] IsmaelMartinez commented on #431
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/430992/193451063-aa2b94a4-c132-4d13-8ca3-88ce2db275cd.png">

Seems to be working. I have put a branch with my changes so people can play with it.

https://github.com/IsmaelMartinez/teams-for-linux/tree/feature/wip-add-macos-support

I installed the dmg using that branch and running `yarn dist:macos` but I don't have time

[2022-10-02 14:18] jijojosephk commented on #470
I'm breaking my head over this. 😁 Need to reverse engineer the js implementation from MS. Tired!

I wonder when they release pwa what happens to Mac and Windows clients. It could possibly break this app too. Only time will tell.

[2022-10-05 08:11] mbert opened #614 "Conflict with slack package"
Got this when running `dnf update`:

[code]

After removing slack things were OK. The error is reproducable with the latest slack package from [https://slack.com/downloads/linux](https://slack.com/downloads/linux).

[2022-10-05 12:37] Queuecumber opened #615 "No Tray Icon on Wayland"
**Describe the bug**

I don't think this is a bug with this package per say but I haven't seen people talking much about it so I wanted to find out more about what's going on

I have this installed through flathub and when I launch with the wayland options `-enable-features=WaylandWindowDecorations --ozone-platform-hint=auto` I dont get a tray icon.

I'm launching it from the command line just to

[2022-10-06 07:10] athyla commented on #590
Hello!
I think @baderas is referring to this setting, from the official MS Teams for linux:

![ksnip_20221006-100558](https://user-images.githubusercontent.com/55332841/194237304-bd203f5c-9f9d-4e89-afc2-bffae0fc7533.png)

Here you can choose an additional audio device to work as a secondary ringer.

Unfortunately, in teams-for-linux there are no device settings at all, so not sure how this setting

[2022-10-06 08:26] malanvaneck commented on #591
Hi there @jijojosephk, I really hope there is something we could do.
Is there could you possibly point me to what specific URL I can overwrite to fake the images?
I see the above DNS does not actually exist.

[2022-10-06 15:38] jijojosephk commented on #614
I'm not sure how to replicate this one. Are you using fedora? Can you give detailed steps?

[2022-10-06 16:07] jijojosephk commented on #591
@malanvaneck that was just a url I added while writing comment. Not an actual one.

**Preview**: https://statics.teams.cdn.office.net/evergreen-assets/backgroundimages/teamsBackgroundContemporaryOffice03_thumb.png?v=0.1

**Background**: https://statics.teams.cdn.office.net/evergreen-assets/backgroundimages/teamsBackgroundContemporaryOffice03.png?v=0.1

[2022-10-06 16:10] mbert commented on #614
Yes, Fedora 36. Steps are very simple: downloaded your rpm, installed it without problems. Then, when running dnf update I got that conflict with slack. It looks like that slack version you see above has just been updated to that version, since before there had not been any conflict.

[2022-10-07 07:56] baderas commented on #590
As stated in my first post:
Consider a setup with a onboard soundcard and a usb headset - two seperate audio devices, to the first are some speakers connected, to the second your headset. In this case, you can choose the onboard soundcard as secondary ringer, to get notifications played on the speakers and for in-call-audio your usb headset is used.

I think it is not necessary to support the whol

[2022-10-07 18:38] jijojosephk commented on #613
@FloEdelmann which package did you use to install?

[2022-10-07 18:39] jijojosephk commented on #613
This issue has been fixed. github releases (pre-release `1.0.43`) will be available soon.

[2022-10-07 19:32] FloEdelmann commented on #613
I'm using the Flatpak version from Flathub. Thanks for fixing this so quickly! I'll give it a try in the released version and will report if it's not fixed for me.

[2022-10-08 16:43] jijojosephk commented on #470
Looks like the communication is happening through websocket. Unable to debug or find the event that updates the meeting details.

[2022-10-09 04:45] jijojosephk commented on #615
Which desktop environment?

I'm on KDE plasma. Seeing no issues.

![image](https://user-images.githubusercontent.com/11662148/194738514-3dedad17-fa8f-4388-bdba-edb5119599ef.png)

[2022-10-09 11:47] Queuecumber commented on #615
Gnome 42 on arch Linux. I have an extension that shows the tray icons

[2022-10-09 11:49] jijojosephk commented on #470
Hooray! Finally, I've found something. It will come out soon. :smile:

[2022-10-09 12:27] jijojosephk commented on #613
Fixed in `1.0.43`

[2022-10-09 12:27] jijojosephk commented on #613
Re-open if it's not fixed.

[2022-10-09 12:28] jijojosephk commented on #470
Fixed in `1.0.44`. Re-open if it's not fixed.

[2022-10-09 12:28] #470 closed

[2022-10-09 12:37] jijojosephk commented on #615
Which extention? Issue is only with teams-for-linux?  Do you have any other app to verify if it's related to electron?

[2022-10-09 12:42] Queuecumber commented on #615
Extension is tray icons reloaded

It's not just teams for Linux, it seems to be any electron based app that I tell to run using Wayland. I posted here to see if I could get some help isolating the failure and because this seems to be the most active of the apps I'm using

I run many non elecron Wayland apps but I'm not sure if they have tray icon support, technically the tray is deprecated on gnom

[2022-10-09 12:45] jijojosephk commented on #615
@Queuecumber you may try `bitwarden`

[2022-10-10 00:34] Queuecumber commented on #615
Bitwarden is also using electron but I was able to play with the tray icon settings that it has and it indeed doesn't show any tray icon even if that option is enabled, however, exiting the application leaves it running in my terminal as though it was using a tray icon.

[2022-10-10 00:55] Queuecumber commented on #615
OK I guess this was just an issue with tray icons reloaded, I tried another one and I get the tray icon for wayland apps on that.

[2022-10-10 00:55] #615 closed

[2022-10-10 19:48] IsmaelMartinez commented on #615
You also got the option to start it with the "closeAppOnCross" (or
something like that) and the app will close when you click the cross. Not a
full solution but at least the app will not continue running.

On Mon, 10 Oct 2022, 01:55 Max Ehrlich, ***@***.***> wrote:

[2022-10-11 08:23] FloEdelmann commented on #613
Unfortunately, the problem still persists for me.

<details>
<summary>System details</summary>

Operating System: Kubuntu 22.04
KDE Plasma Version: 5.25.5
KDE Frameworks Version: 5.98.0
Qt Version: 5.15.3
Kernel Version: 5.15.0-48-generic (64-bit)
Graphics Platform: X11

</details>

[2022-10-11 09:28] jijojosephk commented on #470
I had tested this on Arch KDE. Plasma should be same for all right? Haven't tested on Kubuntu. Can you confirm if this is the scenario.

1. There's a meeting on your calendar
2. Someone starts the meeting.
3. You should see that 'Meeting started'

[2022-10-11 09:30] mrkaczor83 commented on #470
O boy, o boy, o boy,  I will test it tomorrow :) thanks!

[2022-10-11 09:32] jijojosephk commented on #613
@FloEdelmann which screensaver you have? My development setup is Ubuntu Budgie 22.04 LTS. I had tested with the default screen dimming after a while. We'll try to figure out. No bugs can escape :smile:

[2022-10-11 09:38] jijojosephk commented on #470
This is how it looks on Ubuntu Budgie. With KDE and the default setup, it should show bottom right.

![image](https://user-images.githubusercontent.com/11662148/195055249-b1a94ec8-f0ff-437a-8c49-d4a8c50dfc2c.png)

[2022-10-11 09:48] cs96and commented on #470
It's working for me in KDE with the latest version.  However, I keep receiving meeting popups when I am not expecting them (I have no meetings scheduled at that time).  Would it be possible to at least display the name of the meeting in the popup?

[2022-10-11 09:51] FloEdelmann commented on #613
I'm using the default of Kubuntu / KDE, KScreenLocker: https://invent.kde.org/plasma/kscreenlocker

[2022-10-11 09:53] FloEdelmann commented on #470
@jijojosephk Yes, the scenario is exactly as you described. Note that it is a recurring meeting; maybe that makes a difference?

[2022-10-11 09:56] jijojosephk commented on #470
@cs96and that's an issue. The logic does not validate the date and time. Purely based on the serviceworker message push. I've seen the problem too. But at least now we know what can be done. I had to go through each and every service objects written by Microsoft to find which event triggers for the notification. Was a herculean task.

[2022-10-11 10:10] VGalata opened #620 "Cannot find how to turn off notifications for started meetings"
Hello!

I updated my `teams-for-linux` to the lastest release `1.0.44` and now receive a notification for each started meeting (and we have many of these as we have many teams). I cannot find an option to turn these off and would appreciate any tip for how to do this.

[2022-10-11 10:16] jijojosephk commented on #620
It's a known issue since yesterday after bringing in meeting notifications. Are you saying you don't want meeting notifications? Currently it shows all notifications pending in the queue. There's no filter to see whether the meeting time is over or not. We'll implement that soon.

[2022-10-11 10:59] VGalata commented on #620
I am sure, yes. ^^ We have more than 17 channels with multiple meetings inside. You can image how many notifications we are getting right now.

[2022-10-11 12:17] malanvaneck commented on #591
Thanks @jijojosephk

Actually faking the URL locally will be a problem as its an HTTPS request:

[19537:1011/141457.927329:ERROR:ssl_client_socket_impl.cc(983)] handshake failed; returned -1, SSL error code 1, net_error -202
[ERROR] Unknown cert issuer for url: https://statics.teams.cdn.office.net/evergreen-assets/backgroundimages/fluentSpaces4.png?v=0.1
[ERROR] Issuer Name: Internet Widgits Pty L

[2022-10-11 14:51] malanvaneck commented on #591
Apologies, only just now saw the --customCACertsFingerprints option.
Got around the cert issues like this: teams-for-linux --customCACertsFingerprints sha256/dRZpQs2cfMlKCdkKOMvGNHASikwm0WmHRtIhEypr880=

Images are not successfully being pulled from my mini python server:
127.0.0.1 - - [11/Oct/2022 16:49:08] "OPTIONS /evergreen-assets/backgroundimages/teamsBackgroundContemporaryOffice01.png?v=0.1

[2022-10-11 17:49] jijojosephk commented on #620
Added new command line flag `--disableMeetingNotifications` which will disable the meeting notifications in version `1.0.45`.

[2022-10-11 17:50] jijojosephk commented on #470
@cs96and can you check this when version `1.0.45` is out?

[2022-10-11 18:00] jijojosephk commented on #591
@malanvaneck I think you're pretty close. I also get black background. You're not changing the protocol or scheme. You might be stuck in CORS issue. What do you see in the debugger?

I took a slightly different route. Looks like the approach I'm taking requires some help from electron dev I guess. I left a comment in bug [here](https://github.com/electron/electron/issues/32253)

What I tried is be

[2022-10-11 19:12] pallebone opened #624 "Unable to use screen sharing on Debian 12 (bookworm) [Snap package]"
**Describe the bug**
Unable to launch screen sharing from teams app

**To Reproduce**
Join meeting, select screen share option.

**Expected behavior**
Screen share.

**Desktop (please complete the following information):**
 - OS: Debian 12 bookworm (wayland)
 - Snap
 - Latest stable snap

Something to do with pipewire?
Error in terminal is the following:
aragorn@Aragorn:~$ teams-for-linux
WARNING:

[2022-10-12 02:56] jijojosephk commented on #624
@pallebone could you try running with additional flags?

`teams-for-linux --appLogLevels=error,info,warn,debug`

[2022-10-12 09:41] malanvaneck commented on #591
Hi there @jijojosephk, I see these errors in the logs:
41818:1012/093045.034783:ERROR:ssl_client_socket_impl.cc(983)] handshake failed; returned -1, SSL error code 1, net_error -202

Also, I have noticed that overwriting the statics.teams.cdn.office.net DNS name to point to local causes Teams to sometimes be unresponsive.

[2022-10-12 09:43] SlavikZ commented on #624
I have a similar problem with the snap package on ubuntu 22.04. My log with additional flags is
[code]

[2022-10-12 10:20] jijojosephk commented on #624
This one looks like AppArmor rejecting the permission.

[2022-10-12 10:25] jijojosephk commented on #624
@SlavikZ can you try removing and installing again with the following command.

`sudo snap install teams-for-linux --devmode` just to find the cause of it.

[2022-10-12 10:27] jijojosephk commented on #624
May be you can try a clean install.

`sudo snap remove teams-for-linux`
`rm -rf ~/snap/teams-for-linux`
`sudo snap install teams-for-linux`

[2022-10-12 11:53] SlavikZ commented on #624
Made a clean install. AppArmor error gone, but the problem still exists. Just after my approval to share screen in the Gnome screen share dialog, the following error appear in the log:
[code]
Could it be related to the absence of `libpipewire-0.3.so.0` and `libdrm.so.2` libraries in the snap?

[2022-10-12 12:15] mrkaczor83 commented on #620
I got similar issue. It looks like MS Teams sends notification even if you are not invited to the meeting but you are in the teams group with the people invited. Is this true?

[2022-10-12 12:16] cs96and commented on #470
Is this in the pre-release 1.0.45, or do I need to wait for a proper 1.0.45?

[2022-10-12 12:21] pallebone commented on #624
Unsure if apparmor is related. In dmesg all I see when doing a screenshare (I did share screen twice, hence 2 messages) is the following:
[code]

Running with debug on:
[code]

To me this reads as apparmor not being at fault but happy to be corrected. Normally if apparmor is preventing something I expect to see something like:

audit: type=1400 audit(1654866935.001:11322): apparmor="DENIED" operat

[2022-10-12 12:49] VGalata commented on #620
We were definitely getting notifications for meetings we were not invited to.
Not sure about the second point (about the people from the same team) since we have one "team" but with many channels for the actual teams.

[2022-10-12 13:19] jijojosephk commented on #620
I'm yet to figure out what's the logic MS does. May be we can have a filter on whether the person has accepted the meeting or not which is doable. But there might be situations where you're a required attendee but didn't confirm the availability which requires further research.

[2022-10-13 04:32] jijojosephk commented on #470
@cs96and it's official release now. snap, flatpak, and here. you may try.

[2022-10-13 04:33] jijojosephk commented on #620
I'm closing this as the flag helps to disable the notifications. Let me know if it does not work.

[2022-10-13 04:33] #620 closed

[2022-10-13 04:34] jijojosephk commented on #624
@IsmaelMartinez any clue on this one? Is pipewire properly installed @pallebone?

[2022-10-13 04:35] jijojosephk commented on #614
@IsmaelMartinez any guess here?

[2022-10-13 06:26] IsmaelMartinez commented on #624
No idea but sounds more of a snap shenanigans. Can you try one of the other packages (Deb, etc) and see if it works?

[2022-10-13 06:29] SlavikZ commented on #624
AppImage works without any problems.

[2022-10-13 06:31] IsmaelMartinez commented on #614
If you uninstall both packages (clean any cache) and then install them, do you get the same problems? Strange to see both packages sharing that lib and conflict. My thoughts are around OS /package manager/electron configuration playing a bit.

Try otherwise installing teams-for-linux with another package version. Hope helps!

[2022-10-13 08:21] FloEdelmann commented on #470
Sorry, I didn't try it with the `--enableDesktopNotificationsHack` CLI option. With that enabled, it works now. Thanks for fixing!

[2022-10-13 08:43] jijojosephk commented on #470
@FloEdelmann This change has no connection with the flag. I wonder what's the issue at your side. Still can't figure out.

[2022-10-13 08:48] mbert commented on #614
Yes, this seems to make sense: electron is something big both have in common.

For now, with the latest teams-for-linux release, the problem has been resolved. But of course we know that it may occur again as long as the root cause has not been identified.

I am leaving this open for now, feel free to close it.

[2022-10-13 09:04] FloEdelmann commented on #470
If there's anything I can try, let me know.

[2022-10-13 09:09] mrkaczor83 commented on #470
@FloEdelmann try maybe send any notification from CLI, for me all works perfectly but I have no big teams so additional notifications are not an issue so much :)

[2022-10-13 09:16] FloEdelmann commented on #470
@mrkaczor83 I don't know what you mean with sending notifications from the CLI. Meeting notifications are working fine for me now with the `--enableDesktopNotificationsHack` flag enabled. So from my side, everything is fine; but apparently it should also be fixed without the flag.

[2022-10-13 09:16] hrk opened #628 "upgrade to electron 21.0.1 breaks app"
**Describe the bug**
On my gentoo system, 1.0.39 is the latest working official release. Any subsequent release will launch, show the initial popup, perform the login (if required) and then will close without any error message. This happens even after clearing not only the cache but the entire .config/teams-for-linux folder.
A git bisect shows that the "culprit" is the upgrade of electron. After e

[2022-10-13 09:34] mrkaczor83 commented on #470
Aa sorry, I haven't notice your last comment

[2022-10-13 15:36] IsmaelMartinez commented on #624
Then is probably snap and maybe some strange permission. To test this, try to install the app with sudo. if it works that will indicate your snap installation is a bit "particular". Just a guess

[2022-10-13 15:38] IsmaelMartinez commented on #624
Ignore, I just saw your previous message... Now, you should not need to install packages in snap as sudo. If they aren't working without sudo, that means something is off with the installation.

[2022-10-13 16:01] pallebone commented on #624
It is normal to need to use sudo to install a snap app. If you omit sudo all that happens is the password prompt appears on the screen graphically with a prompt.

[2022-10-13 16:09] yudjinn opened #629 "Ubuntu 22.04 wayland unable to share screen"
**Describe the bug**
Unable to share screen from the deb package. It does create the "screen is being shared" notification in the gnome task bar, but no image is shown to viewer. No black screen, nothing. My syslog shows
`
 Oct 13 10:57:51 101451 xdg-desktop-por[564390]: Unhandled parent window type
Oct 13 10:57:51 101451 xdg-desktop-por[564390]: Failed to associate portal window with parent windo

[2022-10-13 16:17] hrk commented on #628
FWIW I tried electron 21.1.1 (released a few hours ago) and it still won't work. I'd gladly provide more information if I knew how to retrieve them. I don't think I can git bisect electron the same way I did for this repository :-(

[2022-10-13 17:41] jijojosephk commented on #628
Is this specific to gentoo?

[2022-10-13 19:34] hrk commented on #628
I just tried on a Ubuntu Mate 22.04 and the latest AppImage (1.0.45) works fine. On my main workstation, however, using an electron >20.3.0 causes the app to simply close (no visible errors) before the "Microsoft Teams - Initializing..." and "Microsoft Teams - loading..." window appears.

[2022-10-14 02:04] jijojosephk commented on #628
Can you try installing Google Chrome or chromium if not installed and see how does it behave on gentoo?

[2022-10-14 02:30] IsmaelMartinez commented on #624
I am not in Linux anymore reason why I am a bit blind on this. Check if you
can enable the screen share permission in the snap app. Maybe it didn't
trigger in your installation.

Again, I remember snap been a pain for some people.

On Thu, 13 Oct 2022, 17:01 Peter, ***@***.***> wrote:

[2022-10-14 04:38] jijojosephk commented on #629
If you have tray icon, can you click on `debug` and see what's happening when you click on screenshare? There will be many warning, logs and errors. Make sure you clear everything just before clicking on screenshare. If it's has something to do with the script you won't see logs in the terminal.

[2022-10-14 08:25] hrk commented on #628
Sure.
With both Google Chrome 106.0.5249.103 and Chromium 106.0.5249.103 the Teams web app loads just fine and gets me to the channels list after the 2FA/Initializing.../Loading... process.

If it can be meaningful, I can try with version 106.0.5249.119 of both.

[2022-10-14 08:55] jijojosephk commented on #628
That's weird.

Can you help with your OS info like:
I know it's Gentoo,
Then, version, desktop environment, window managers, things like that.

[2022-10-14 09:09] hrk commented on #628
FWIW, gentoo is a rolling distro, so if you have specific package questions, just ask.

I'm running KDE Plasma (5.25), Qt5, X.org.

Portage 3.0.38.1 (python 3.10.8-final-0, default/linux/amd64/17.1/desktop/plasma, gcc-11.3.0, glibc-2.35-r8, 5.15.72-gentoo x86_64)
=================================================================
System uname: Linux-5.15.72-gentoo-x86_64-Intel-R-_Core-TM-_i5-3320M_C

[2022-10-14 09:11] jijojosephk commented on #628
That's a lot. Can you upgrade all the dependencies using yarn and run ? `yarn upgrade --latest` ?

[2022-10-14 10:42] hrk commented on #628
Done, it automatically upgraded electron to 21.1.1 and it failed to start.
Reverting just the electron dependency to 20.3.0 made it work again.

Meanwhile I upgrade Google Chrome and Chromium to 106.0.5249.119 and the web app works fine.

It seems to me to be an issue of electron itself, but I don't know how to debug it further.

[2022-10-14 11:23] hrk commented on #628
I tried again, w/ 21.1.1, and the window shows the "Initializing..." title, then closes. echo $? returns 0, but I launched via yarn start.

Is there a way to enable some kind of logging to see what's happening?

[2022-10-14 11:25] hrk commented on #628
Ok, somehow 22.0.0.alpha5 loads just fine! O_o

[2022-10-14 11:33] jijojosephk commented on #628
I think it has something to do with electron and host system. Do you see something in system logs?

[2022-10-14 11:40] hrk commented on #628
Indeed, I see this line for the earlier test of 21.1.1:
`Oct 14 13:22:24 [kernel] [102570.969729] traps: electron[25953] trap int3 ip:55c3e0ba526e sp:7ffdd7267f20 error:0 in electron[55c3df306000+71c1000]`

[2022-10-14 12:56] pallebone commented on #629
I have tried to do this but have not been able to find a solution to the issue or enable it in any way with things like passing arguments (enable-webrtc-pipewire-capturer) or installing libraries. Still the error persists that :
"One of following libraries is missing on your system:
 - PipeWire (libpipewire-0.3.so.0)
 - drm (libdrm.so.2)"

unsure how to proceed. Nothing I try is able to resolve.

[2022-10-14 12:57] pallebone commented on #624
I have tried to do this but have not been able to find a solution to the issue or enable it in any way with things like passing arguments (enable-webrtc-pipewire-capturer) or installing libraries. Still the error persists that :
"One of following libraries is missing on your system:
 - PipeWire (libpipewire-0.3.so.0)
 - drm (libdrm.so.2)"

unsure how to proceed. Nothing I try is able to resolve.

[2022-10-14 12:58] pallebone commented on #629
@yudjinn I actually installed the deb version yesterday for the first time and it worked for me... Im thinking something must have changed on your system because it should be working.

[2022-10-14 14:44] yudjinn commented on #629
@pallebone i agree, I had the same problem on 1.0.41 and I have colleagues that have no issue. I'm assuming something broke with my upgrade from 20.04 and want to understand and resolve it.

[2022-10-14 16:57] jijojosephk commented on #629
Do you have a dedicated graphics card?

[2022-10-14 17:27] Andrioshe commented on #577
@sdirkwinkel How does your Script exactly work? I can't find any information about presenceService.

[2022-10-14 17:47] DGrothe-PhD commented on #629
Yes, with 20.04 screen sharing worked fine. It affects 21.04 as well and (web) screen sharing itself, not just for teams, but iirc for other browser-based screen-sharing applications as well, see https://askubuntu.com/questions/1313369/screen-sharing-with-wayland . You may try those workarounds.

[2022-10-14 21:43] IsmaelMartinez commented on #624
It must be related to your snap installation if it works using a Deb package. I suggest you try to uninstall snap and install/config it again. That is a pain tbh, so will understand if that is a no go. Check if another snap apps that share (or record) the screen works as they might give you another clue of where to look for. Sorry I can't help much more.

[2022-10-15 02:44] jijojosephk commented on #628
I see, this could be an electron bug then. This might have fixed in `22`. Before we migrate to `22` a few changes need to be made. There are deprecated APIs.

[2022-10-15 02:52] jijojosephk commented on #577
I haven't checked that but it must be there. Or try this one `injector().get('appStateService').setActive()`

[2022-10-15 02:56] jijojosephk commented on #629
@yudjinn can you try `export LIBVA_DRIVER_NAME=iHD` and run `teams-for-linux` from there?

[2022-10-15 03:43] yudjinn commented on #629
I have tried that (as well as i986), no change in behavior.

[2022-10-15 09:57] jijojosephk commented on #629
@yudjinn yeah, then the upgrade didn't work just right. Do yours and your friend's OS kernel versions differ? I'm not sure if that matters. Also you can try other screen sharing or screen recording apps like Kazam or something similar and see if your'e facing any issues there. Looks like it's not easily identifiable by the community, you might wanna try really hard to identify the cause.

[2022-10-15 11:21] pallebone commented on #624
Interesting. Unsure how I could have setup snap wrong as its fairly basic to install. I wonder if other users will begin to have this issue when the next version of ubuntu comes out as it pulls from debian testing.

As we dont know what to do next I will leave this issue open but wait to see if anyone else reports the issue as I imagine other people might.

You dont think it has anything to do wit

[2022-10-15 14:03] yudjinn commented on #629
Using the browser i am able to share, but only the browser window so nothing outside of that. If I switch to xorg i can share just fine using the desktop client. It's only on Wayland that this is breaking. Also, we are on the same kernel yes.

[2022-10-15 14:10] jijojosephk commented on #629
Can journalctl help you in anyway?

[2022-10-16 02:30] jijojosephk commented on #629
`journalctl -b | grep teams-for-linux` anything there?

[2022-10-16 11:36] jijojosephk commented on #614
@mbert closing this for now as there's nothing much can be done from the dev. Any challenges, please re-open, we'll try our best.

[2022-10-16 11:36] #614 closed

[2022-10-16 12:07] jijojosephk opened #630 "(electron) The new-window event is deprecated and will be removed. Please use contents.setWindowOpenHandler() instead"
**Describe the bug**
API deprecation warning from electron.

**To Reproduce**
Warning shown when debugging the application locally with `yarn start` and when an external link is clicked.

**Expected behavior**
This is an API deprecation warning and must be handled for the future releases.

**Screenshots**
![image](https://user-images.githubusercontent.com/11662148/196034587-d3390a58-9f00-4069-a9e3

[2022-10-17 08:01] hrk commented on #628
Since it appears to be fixed in 22 (albeit still in alpha) I don't think pursuing further the 21.x breakage. I can however run 22.0.0-alpha.5 and report broken stuff.

I've seen #630 but I don't see any warning in my console when opening a link (I launch the via yarn start).

[2022-10-17 16:06] yudjinn commented on #629
sorry, was away for the weekend, heres journal:
`Oct 14 12:40:35 101451 ubuntu-appindicators@ubuntu.com[3096]: unable to update icon for teams-for-linux1
Oct 14 12:40:36 101451 teams-for-linux.desktop[28315]: libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
Oct 14 12:40:38 101451 teams-for-linux.desktop[28315]: [28315:1014/124038.051088:ERROR:gl_surface_p

[2022-10-18 08:56] jijojosephk commented on #606
@cs96and

As far as I know, the trick is to create browser window frame-less and transparent, and some additional tweaks. Since we're bound to use electron browser windows only, it may increase the memory usage. Also with the sharing of windows, we might not be able to track the location as the windows can be moved but the screens are not. The implementation can be gitchy.

My suggestions:

1. Vis

[2022-10-20 08:39] jijojosephk commented on #591
@Xisiqomelir They're not stored locally, served from a MS CDN. I tried to fake the response from a local file but did not succeed. [32253](https://github.com/electron/electron/issues/32253) seems to be blocker from electron framework.

[2022-10-20 08:58] Xisiqomelir commented on #591
Ahh that’s typically M$ and very annoying.

In any case, thanks for your work in keeping the client alive especially this year that they’re trying to kill it.

[2022-10-20 12:14] ThomasRitter75 commented on #590
@jijojosephk FYI: Another use case is wireless headsets. I do not always have my headset switched on, so I would really love to have the ringtone on the built-in laptop speaker (can do by bash script as well, if this is hard in Electron)

[2022-10-21 16:03] rsysadmin-com opened #631 "Bluetooth headset not properly working"
**Describe the bug**
Bluetooth headset is not recognized

**To Reproduce**
Steps to reproduce the behavior:
1. Connect your Bluetooth headset to your computer/laptop and test they work as expected
2. Place or receive an audio or video-call
3. Un-mute your headset (in my case, I use a Jabra Evolve2 65) by rolling down the mic
4. You can hear the caller through the headphones but your voice is sent

[2022-10-21 16:08] rsysadmin-com opened #632 "Cannot place test calls"
**Describe the bug**
Test calls are not possible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Search bar
2. type `/testcall`
3. option is not found

**Expected behavior**
The test-call option should be available

**Screenshots**
![image](https://user-images.githubusercontent.com/20558552/197240576-9c8f1acd-6710-4df3-aa72-0dae1df0d446.png)

`/testcall` is missing.

**Desktop (ple

[2022-10-21 16:12] rsysadmin-com opened #633 "Device settings only enabled in a call"
**Describe the bug**
Device settings for audio or video are only made available during a call.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Teams for Linux
2. Click "..." on the top right corner
3. Click on "Settings"
4. Unable to find the "Device Settings" menu

**Expected behavior**
Device settings should be available outside calls.

**Screenshots**
![image](https://user-images.git

[2022-10-21 17:36] aubertc commented on #628
I have something a bit similar on my debian ( 5.10.0-18-amd64 #1 SMP Debian 5.10.140-1 (2022-09-02) x86_64 GNU/Linux): it works up to 1.0.38 (and not 1.0.39, but maybe not clearing the cache has something to do with it), but none of the higher versions works. It shows the log-in screen, and then hangs. There were no useful information returned by `teams-for-linux --appLogLevels=error,info,warn,deb

[2022-10-26 12:43] jgmGit commented on #629
I have the same issue as well.

[code]

Operating System: Manjaro Linux
Kernel: Linux 5.15.74-3-MANJARO
Architecture: x86-64
Hardware Vendor: Lenovo
Hardware Model: ThinkPad E480

[2022-10-26 13:00] joaquinodz commented on #629
I managed to make it work in Google Chrome by going to `chrome://flags/#enable-webrtc-pipewire-capturer` and setting it to `Enabled`.

[2022-10-26 16:34] jgmGit commented on #629
@joaquinodz  I tried the same. It didn't help

[2022-10-26 20:19] pallebone commented on #629
Did that fix the snap package or just chrome?

[2022-10-26 20:21] joaquinodz commented on #629
Just Chrome. I'm using Fedora 36

[2022-10-26 20:31] pallebone commented on #629
Im glad you got teams working in chrome via ms website, that is great news, but Im confused as to how this is related to the teams-for-linux package. Perhaps clarify what clue this gives us in fixing the deb or snap package?

[2022-10-27 06:55] tothomweb opened #634 "Teams only opens the first time"
Dear all,
I'm facing a problem with teams-for-linux. When I install it it works as expected. However, after the first run, I'm not able to open it again. The console command gives no output and I'm not able to see any system log or error.
I'm running an Ubuntu 22.04

Thanks

[2022-10-27 06:58] tothomweb commented on #634
More on that, if I delete the config files it still does not work but if I delete the entire folder: ~/snap/teams-for-linux/ it does run (but I have to login again)

[2022-10-27 13:20] secdoc opened #635 "Teams Opens to Blank Screen"
Updated system and now Teams opens to blank screen...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to application and start
2. Teams opens and presents with blank screen

**Expected behavior**
The expected behavior is to open and then present with calendar or chat view.

**Screenshots**
![teams_blank_screen_debug](https://user-images.githubusercontent.com/55542561/198295164-7731a250-80

[2022-10-27 13:38] IsmaelMartinez commented on #635
Hi @secdoc , can you try using a different package? snap sometimes brings some unexpected problems. Thanks!

[2022-10-27 13:39] IsmaelMartinez commented on #635
and/or clear your cache as described in the https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/KNOWN_ISSUES.md section.

[2022-10-27 13:40] secdoc commented on #635
I am actually using the flatpak version...

v/r

"Si vis pacem, para belium"
----------
Lester E. Nichols III, MSIA, CISSP, GCED, GPPA, GSEC, 
MCSA, CompTIA Security+
email ***@***.***

cuiusvis hominis est erare, nulius nisi insipientis in errore perseverare.

http://www.linkedin.com/in/lnichols

Information Systems Security Association - General Member
Information Systems Audit and Control Assoc

[2022-10-27 13:46] secdoc commented on #635
Clearing the cache appears to have resolved it for the time being...but will keep a watch to see if it resolves long term...

v/r

"Si vis pacem, para belium"
----------
Lester E. Nichols III, MSIA, CISSP, GCED, GPPA, GSEC, 
MCSA, CompTIA Security+
email ***@***.***

cuiusvis hominis est erare, nulius nisi insipientis in errore perseverare.

http://www.linkedin.com/in/lnichols

Information Systems

[2022-10-27 13:57] tothomweb commented on #634
The .deb version seems to work! Thanks for the help and for the project!

[2022-10-27 14:03] IsmaelMartinez commented on #635
I had problems with both, snap and flatpack, previously. Sorry got a bit confused by another similar issue that one related to snap. Try another packaging system if you start to see the problem, and/or reopen this issue if that doesn't work.

[2022-10-27 14:04] IsmaelMartinez commented on #633
I think this is a limitation of the website version. Can you validate if you can see those settings in the browser teams version? Otherwise this will be a feature request for microsoft (for the browser version). Thanks

[2022-10-27 14:04] IsmaelMartinez commented on #634
closing the issue then. If you start having problems, just re-open

[2022-10-27 14:04] #634 closed

[2022-10-27 14:10] IsmaelMartinez commented on #631
Hi @rsysadmin-com , some people reported previously issues of not recognising mics.

Can you have a look at this comment https://github.com/IsmaelMartinez/teams-for-linux/issues/317#issuecomment-582915199 and check previous options/solutions? I suspect MS is not detecting your headsets . Hope helps

[2022-10-27 14:11] IsmaelMartinez commented on #632
Hi @rsysadmin-com , this is a limitation on the website version. I suggest you open a feature request in the microsoft uservoice channel. Sorry about that,

[2022-10-27 14:11] #632 closed

[2022-10-27 14:11] IsmaelMartinez commented on #632
There is already one request https://feedbackportal.microsoft.com/feedback/idea/6a0a5801-c6e1-ec11-a81b-000d3a03dba2 (probably more)

[2022-10-29 00:47] joaquinodz commented on #629
I thought there was something like the chrome:flags in electron that could be enabled by default to fix this
i don't know much about Electron so i apologize in advance if this isn't relevant ^^'

[2022-10-29 14:19] pallebone commented on #629
Interesting. I dont know either.

[2022-10-31 07:51] sxiii opened #636 "Bright flash when starting the app even with dark theme enabled"
**Describe the bug**
When I start the Teams, it starts loading with full white background, which kills eyes. This might probably considered both as a bug and as a feature improvements. The problem should be in one out of three places (or in several places): Teams code itself, Teams-for-Linux and/or Electron. Either way, doesn't matter where the bug is originating, I think this can be fixed with a

[2022-10-31 12:28] simonvanderveldt commented on #565
I just upgraded from 1.0.24 to 1.0.45 and now I always get a notification sounds for any chat message which is very annoying. I've tried to turn everything off but I get the notification "pling". Is this caused by the fix for this?

[2022-10-31 16:40] herobrine7gamer opened #637 "unable to upload files"
when trying to upload files , a message is displayed : "Upload failed - file is empty" , or when dragging the file from the file manager to the window "Some files couldn't be uploaded because they're missing necessary data" .
the same behavior can be noticed on both flatpak and snap versions .
the files are not empty at all , and they can be uploaded from the teams website normally .

[2022-10-31 17:33] miromarszal opened #638 "Pen support for OneNote under Wayland"
**Describe the bug**
When run with flags to enable Wayland, pen input is not registered.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app with `flatpak run com.github.IsmaelMartinez.teams_for_linux --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WebRTCPipeWireCapturer`
2. Open a OneNote notebook.
3. Try to draw something with a pen. There is no inpu

[2022-11-03 10:41] 512cg opened #639 "Snap will not start again once closed"
**Describe the bug**
I tried teams-for-linux snap package and found out that after quitting the app from the tray icon I was unable to start it again. Starting with command-line would return an exit code of 1, but no prompt or anything. Rebooting would not start the application either, uninstalling/reinstalling would. Using the deb version now without issues (is the deb version updated with apt or

[2022-11-03 20:23] IsmaelMartinez commented on #636
Hi @sxiii ,

If you can try https://github.com/IsmaelMartinez/teams-for-linux/releases/tag/v1.0.46 that will be great. It should in theory detect if your OS has dark mode enabled and pick that up.

It might not work as I don't have a way to test in linux.

[2022-11-03 20:38] IsmaelMartinez commented on #637
Hi @herobrine7gamer , can you provide more details by using the template? Can you be more descriptive on your steps followed to upload a file? is this into a chat, a channel? The more descriptive you can be the better we can try to find the why. Also, can you try with another packaging option? Thanks

[2022-11-03 20:43] IsmaelMartinez commented on #638
Hi @miromarszal ,

xournal++ seems to be written in C++. Do you know of another electron app that the pen works?

Difficult for me to check and/or test as I don't have neither linux nor a Pen.

If you can find an electron app where the pen works, we can try to find how they do it. Thanks!

[2022-11-03 20:55] IsmaelMartinez commented on #466
closing due inactivity and because it seems blocked by electron. Sorry about that

[2022-11-03 20:55] #466 closed

[2022-11-03 20:57] IsmaelMartinez commented on #568
Sorry, I will suggest you request this in the uservoice (https://support.microsoft.com/en-us/office/share-content-in-a-meeting-in-teams-fcc2bf59-aecd-4481-8f99-ce55dd836ce8#ID0EABAAA=Desktop)

related to #395

[2022-11-03 20:57] #568 closed

[2022-11-03 20:59] IsmaelMartinez commented on #639
I suspect what is happening is that is not closing it, but minimising it.

if you can start the teams for linux from the console like this `teams-for-linux --closeAppOnCross` and see if it works that would prof if I am correct.

alternatively, if you start the app from the console, you should see a debug message saying something like `second-instance started`.

You need to start the app with `team

[2022-11-03 21:01] IsmaelMartinez commented on #633
related to #374. Closing as this is a ms limitation

[2022-11-03 21:01] #633 closed

[2022-11-03 21:02] IsmaelMartinez commented on #629
did you try with another package? like deb or rpm? snap installations can be a bit iffy. Thanks

[2022-11-03 21:14] 512cg commented on #639
Hi Ismael,
I don't think that is the case, as I am closing it from the tray icon on quit, and checking ps doesn't show any process related to teams or the snap. I made a quick test with what you suggested (copy and paste), none of the commands produced any output, the process just terminates with a 1:

[code]
This is after a fresh installation of snap (the first time it started normally, and then

[2022-11-04 08:07] miromarszal commented on #638
I could find only one Electron app, the OneNote client: https://github.com/patrikx3/onenote
It has identical issues... If you are aware of any other Electron app with pen inputs, I'll be happy to test it.

[2022-11-04 09:02] IsmaelMartinez commented on #639
I haven't use `snap run` command, maybe the extra arguments are been ignored?

[2022-11-04 09:54] 512cg commented on #639
It was doing the same with the "teams-for-linux" command. I tested in the computer which is working and it seems to work well there. Is the .deb one automatically updated? That was my main reason to use snap, but I'm happy to stay on the deb one if it's easy enough to update.

[2022-11-07 00:54] yudjinn commented on #629
I ended up just fresh installing and it works fine. Was unable to figure out what was causing my issues. I used the base install, not snap

[2022-11-07 11:15] maymage commented on #89
@IsmaelMartinez

This works now from the snap installation, but not for the flatpak one.

[2022-11-07 11:27] sxiii commented on #636
Hello @IsmaelMartinez -- thanks for your test. I can report the following:
* White flash did not disappeared, the Micorosft logo still appears on white background and also I think before Microsoft logo there's short time with full white background as well. **However, I think that white flash had shortened - like now it's 50% shorter or so.** Maybe this is just due to I pre-loaded the app before wi

[2022-11-07 15:50] jgmGit commented on #629
I switched over to Ubuntu 22.10 with Wayland and there it works properly. I can share the screen etc.

I think the problem, when I installed Manjaro was maybe because of the missing pipe-wire installation. I am not 100 percent sure of this. But I suspect this.

[2022-11-07 16:29] yudjinn commented on #629
I definitely had pipe wire, so I don't know if that was the same issue

[2022-11-08 20:17] 512cg commented on #639
Hi, just as an update: I tried on a different similar computer and the snap seems to work well, so may be a big thing (2 out of 3 worked). I will go on using the .deb version for now, just as a question, is that one updated with apt, or do I need to download the deb every time, or is there any ppa?

Many thanks for all the work in this!

[2022-11-10 07:13] hrk commented on #628
FWIW it appears to work again on 21.2.2 and 21.2.3.

[2022-11-10 13:45] astrosteph opened #642 "cannot seem to get app to recognise speakers."
no sound for notifications or calls etc. worked fine in other apps, but cannot seem to find speakers. this includes in the device settings, it just shows default constantly. doesn't work with in-built speakers or headphones through aux.

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - deb

[2022-11-10 15:43] aubertc commented on #628
I have electron v21.2.3 installed, but have installed teams using the .deb. Still not working.

As far as I am concern, you can close this issue if you want, I'll open another one if the problem persists on my end.

[2022-11-10 15:43] aubertc commented on #628
(Just a reminder: the last version that works for me is 1.0.24).

[2022-11-11 10:26] sdirkwinkel commented on #577
Sorry for not seeing this earlier. Doing `angular.element(document.body).injector().get('presenceService').setMyStatus(1, null, true);
` calls the teams function to set your online state. The rest is just about how to do it on a timer in the userscript.

There aren't really any docs on that since the presenceService is part of ms teams code.

[2022-11-11 15:33] IsmaelMartinez commented on #642
Hi @astrosteph ,

Sorry to hear that. Do the sound work when using the browser?

Other people had problems in the past but is normally their individual OS configuration or MS not accepting bluetooh speakers. Check previous close issues and see if they can help

https://github.com/IsmaelMartinez/teams-for-linux/issues?q=is%3Aissue+audio+is%3Aclosed

Not sure if Linux Mint uses pulseaudio but some u

[2022-11-11 15:44] IsmaelMartinez commented on #577
you can probably modify the app to allow that sort of script to run on a timer.

Similar to this but might require a bit more logic (magic)

https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/app/mainAppWindow/index.js#L95

[2022-11-12 11:25] Thaodan commented on #638
I think you should look if Electron support pen input under Wayland,  all these apps just use Eletctron for input.

The sandbox that Flatpak uses Bubblewrap might also cause some issues, try running without it.

[2022-11-14 10:26] cs96and opened #643 "Incoming call notifications are appearing inside the app, instead of on the desktop"
**Describe the bug**
When someone calls me, the notification (with the phone, webcam & hangup buttons) is appearing inside the teams app, instead of on the dekstop above all other windows.  As the ringing sound comes through my headset (which I may not be wearing) I am sometimes unaware that someone is actually calling me if the teams window is minimized or below other windows.

**To Reproduce**
S

[2022-11-14 14:16] rajiteh commented on #431
Hello, any update on this front? Thanks!

[2022-11-16 14:47] jr-dimedis commented on #643
I can confirm that with Ubuntu 20.04.5, X11, Xfce, teams-for-linux deb v1.0.46.

As I am working with a bunch of virtual desktops I would expect that the incoming call dialog appears on the currently active virtual desktop.

Notifications about channel posts etc. are working fine and the same way as with the official app.

If you can give any hint of a starting point for that issue I would be glad

[2022-11-16 16:49] KIX-RTOS opened #645 "Corporate account authentication with smart-card"
I work under Linux and I use Teams to communicate with my colleagues,
authentication goes with smart-card under ADFS domain.
In Google Chrome Teams web-app this feature works fine but teams-for-linux like official client from Microsoft
doesn't show certificate selection dialog and I get an authentication error.

I think the smart-card authentication feature implementation is a good idea.

[2022-11-16 22:07] IsmaelMartinez commented on #643
HI @cs96and and @jr-dimedis ,

We used to use the "notification hack" (using the config option `enableDesktopNotificationsHack`) described in https://github.com/IsmaelMartinez/teams-for-linux/tree/develop/app/config#readme . Not even sure if it works anymore but worth checking if those notifications do show were you want them to see them.

I suspect is just because is electron (that is just basica

[2022-11-16 22:30] IsmaelMartinez commented on #645
I wonder if you can investigate around maybe checking if this library does the job? https://www.npmjs.com/package/smartcard Hope helps

[2022-11-16 22:38] cs96and commented on #643
I'm sure this was working previously though.  I wonder if Microsoft have changed something recently, due to this...
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-progressive-web-app-now-available-on-linux/ba-p/3669846

[2022-11-16 22:45] IsmaelMartinez commented on #643
That smells like a probable culpit, yes.

[2022-11-16 22:46] cs96and commented on #643
Microsoft commented in the comment chain in that article...

[2022-11-16 23:24] alexey-artyushkov commented on #645
I think it would better to use https://www.npmjs.com/package/node-ssl because it uses the NSS which gives secure and standard access to smart cards, usb-tokens and etc

[2022-11-17 07:40] jr-dimedis commented on #643
Thanks for sharing this. So it looks we just have to wait until Microsoft fixes this in the PWA.

[2022-11-17 09:35] IsmaelMartinez commented on #645
@alexey-artyushkov , see if you can integrate it.

We will probably need to put it on the back of a config option if it blocks people not using/having smart-cards, but it will be a great addition.

I have no means to try/test this, nor much time, so I am unfortunately not much help.

[2022-11-18 08:12] alexey-artyushkov commented on #645
Thanks a lot)

[2022-11-20 17:39] geez0x1 commented on #461
@jijojosephk Sorry for the late reply. You mean the settings I would *like* to preserve I suppose? Personally the things I customise are typically dark theme and usage of British English. Although this problem probably would need to be addressed from the other direction; specifically clearing the relevant cached login context, keeping everything else.

[2022-11-21 08:59] maurerr opened #646 "restart loop when accessing meetings from browser url"
**Describe the bug**
I'm trying to join a teams meeting via a url like https://teams.microsoft.com/l/meetup-join/19%3ameeting_blahblah blahAw%40thread.v2/0?context=%7b%22Tid%22%3a%2211111111-1111-40bf-bc48-1111111120%22%2c%22Oid%22%3a%2294177b10-7452-1111-1111-1111111%22%7d in both firefox or chromium on ubuntu 22.04 x64

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://teams.m

[2022-11-21 09:36] Lancer11211 opened #647 "Is this app supposed to work from behind proxy?"
I've tried the flatpak version but it can't load any chat. The appimage version immediately quits after I click on "Submit" at the login. Both of those were fresh installs.

[2022-11-21 10:18] zhao-nan opened #648 "teams does not store login credentials"
When starting teams-for-linux (on Ubuntu 20.04), after providing my login data, a dialog asks me whether to stay signed in, and whether to ask again. Whatever options I choose, the same dialog appears on the next startup, and I need to sign in again. This is annoying because I log on every day and would actually like to stay signed in.
All my colleagues using Teams on Linux have the same issue.

I

[2022-11-21 14:23] opalmay commented on #643
Microsoft releasing broken software with basic features missing never ceases to amaze me..

[2022-11-22 10:00] kudlatyamroth commented on #402
@IsmaelMartinez i think that there is still problem with this...
[code]

app is compiled from https://aur.archlinux.org/packages/teams-for-linux
version: 1.0.45-1

[2022-11-22 10:08] IsmaelMartinez commented on #402
Probably ms have changed the links again. Can you check ctrl+click?

[2022-11-22 10:15] kudlatyamroth commented on #402
[code]

[2022-11-22 10:40] kudlatyamroth commented on #402
[code]

[2022-11-22 20:13] IsmaelMartinez commented on #646
Hi @maurerr , If you copy the meeting link into a chat (or channel) and try to join from there, does it work?

I think MS have changed their URL handling and is breaking this and the links (what is a pain).

[2022-11-22 20:14] IsmaelMartinez commented on #647
check the config options https://github.com/IsmaelMartinez/teams-for-linux/tree/develop/app/config . You can supply a proxyServer that might work. I haven't tried myself. Hope helps

[2022-11-22 20:17] IsmaelMartinez commented on #648
Hi @zhao-nan , have you tried using the "deb" version? I wonder if your snap configuration is not allowing whatever MS uses to persist the cookies/password.

Otherwise, do you have the same problem with opening it on the browser? Or does it persist the session when you close the browser and open it again? Hope helps

[2022-11-22 20:27] IsmaelMartinez commented on #645
Open a wee PR and maybe we can see help to get it sorted and released.

[2022-11-23 08:20] IsmaelMartinez commented on #648
I suspect then your company policies might be the issue. Check with your network admin. Also, if it also happens on the browser, we will not be able to help from here. Sorry about that. ("We" is normally only me and @jijojosephk this days)

[2022-11-23 08:28] zhao-nan commented on #648
No need to apologize! I already suspected that my issue is not really something for you to fix. Thank you for indulging me, and for your work with this client.

[2022-11-23 08:28] #648 closed

[2022-11-23 08:31] maurerr commented on #646
when pasting the link into a chat or channel it doesn't work:
[code]

[2022-11-24 05:02] jijojosephk commented on #647
@Lancer11211 let us know if you were able to make it work as suggested by @IsmaelMartinez

[2022-11-24 05:04] jijojosephk commented on #646
@maurerr have you copied the complete url? Send a message to yourself and then click on that link. Let us know what happens

[2022-11-24 05:07] jijojosephk commented on #645
@KIX-RTOS if you're not seeing the certification selection dialog in the app but you see in browser, there must be something we can do. Could you provide some screenshots of working and not working scenario. I've never seen such a setup so don't know where to start.

[2022-11-24 05:11] jijojosephk commented on #643
As far as I know draw something outside the window borders is impossible using electron. We can do though by creating a new browser window, but may be for that feature, the app has to use extra RAM. Because these notification come frequently and we can destroy and re-create the window every time. It's more like hide and show. Hiding does not release memory, may be that everyone understands and don

[2022-11-24 08:01] cs96and commented on #643
I'm sure it used to draw the incoming call notification outside the window
in the past though.  This has only changed in the last few weeks.

On Thu, 24 Nov 2022, 05:11 Jijo Joseph, ***@***.***> wrote:

[2022-11-24 08:27] maurerr commented on #646
yes complete url - teams is maybe truncating it in the search field

[2022-11-25 09:49] DavidRayner commented on #646
I am seeing similar behaviour. Recently it was still working for me if I clicked the "continue on this browser" button at the right time as it was looping. But as of now, when clicking the "continue on this browser button" the app just shows a blue spinner indefinitely.

[2022-11-28 06:58] jijojosephk commented on #643
@cs96and I don't think that would happen because the web version of the app cannot show pop out windows. Must be there with the official app.

[2022-11-28 22:47] muznyo commented on #614
I have same issue, but with [caprine](https://github.com/sindresorhus/caprine/pull/1969) package.
I was able to install it with rpm --force -i package.rpm

[2022-11-28 22:58] nerijus commented on #614
Adding `%global _build_id_links alldebug` to the rpm spec file should fix this issue. Please see https://bugzilla.redhat.com/show_bug.cgi?id=1820370#c1 for the explanation.

[2022-11-30 05:21] KIX-RTOS commented on #645
I realised the why this problem occured - it's not application problem but it's snap's problem. Same issue occurs in Firefox and Chromium if you install them from snaps (https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1859643)

[2022-11-30 10:35] mbert commented on #614
The issue has reaappeared with slack-4.29.149-0.1.el8 today. Can you please reopen?

[2022-11-30 13:49] IsmaelMartinez commented on #614
I suspect it will be easy to open this as an issue on slack instead of here. Slack has a huge company on the back of them while here we are just a few people. I do encourage you to investigate and see if you can find a solution that can help the community. Thanks in advance!

[2022-11-30 13:53] IsmaelMartinez commented on #645
@KIX-RTOS , it will be amazing if you can put some documentation on how you fixed this.

Maybe a wee section in the https://github.com/IsmaelMartinez/teams-for-linux/blob/develop/KNOWN_ISSUES.md can help others with this issue.

Really appreciate if you can spare a wee bit of time on that. It will help the community lots. Thanks in advance!

[2022-11-30 13:55] nerijus commented on #614
The solution was posted - adding `%global _build_id_links alldebug` to the rpm spec file should fix this issue.